
<div id="slider" class="revolution-slider" data-ng-init="showHBuddySlider()"  >

	<div class="container clearfix">

		<div class="fullwidthbanner-container"
			style="max-height: 500px; height: 500px;">
			<div class="fullwidthbanner"
				style="max-height: 500px; height: 500px;">

				<ul class="clearfix">
				
					<li data-transition="random" data-mediafilter="brooklyn" data-slotamount="10"
						data-delay="15500" data-masterspeed="300">
						
						<img src="//storage.googleapis.com/hukam-cdn/public/images/slider/hbuddy/home-control1.jpg"  
					         data-bgposition="center center" 
					         data-bgfit="cover" 
					         data-bgrepeat="no-repeat"
						> 

						<div class="caption large_text sfr"
							style="background: url('//storage.googleapis.com/hukam-cdn/public/images/promo.png'); font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 18px; padding: 5px 8px;"
							data-x="520" data-y="20" data-speed="300" data-start="2600"
							data-easing="easeOutBack" data-endspeed="300"
							data-endeasing="easeInBack">FULL CONTROL OF YOUR HOME FROM ANYWHERE AROUND THE WORLD</div>

						<div class="caption large_text sfr"
							style="background: url('//storage.googleapis.com/hukam-cdn/public/images/promo.png'); font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 18px; padding: 5px 8px;"
							data-x="520" data-y="70" data-speed="300" data-start="2600"
							data-easing="easeOutBack" data-endspeed="300"
							data-endeasing="easeInBack">ADD GRAPHICS, VIDEOS AND MUSIC TO THE LIVE EVENT</div>

						<div class="caption large_text sfr"
							style="background: url('//storage.googleapis.com/hukam-cdn/public/images/promo.png'); font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 18px; padding: 5px 8px;"
							data-x="520" data-y="120" data-speed="300" data-start="2800"
							data-easing="easeOutBack" data-endspeed="300"
							data-endeasing="easeInBack">VIDEOS OR MOVING IMAGES WITH
							SOUND ARE THE MOST POWERFUL TOOLS TODAY TO VISIBLY COMMUNICATE</div>
							
					</li>
				
					<li data-transition="random" data-mediafilter="brooklyn" data-slotamount="10"
						data-delay="15500" data-masterspeed="300">
						
						<img src="//storage.googleapis.com/hukam-cdn/public/images/slider/hbuddy/Smart-Home.jpg"  
							 alt="Ocean" 
					         class="rev-slidebg" 
					         data-bgposition="center center" 
					         data-bgfit="cover" 
					         data-bgrepeat="no-repeat"
						> 

						<div class="caption large_text sfr"
							style="background: url('//storage.googleapis.com/hukam-cdn/public/images/promo.png'); font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 18px; padding: 5px 8px;"
							data-x="520" data-y="280" data-speed="300" data-start="2600"
							data-easing="easeOutBack" data-endspeed="300"
							data-endeasing="easeInBack">FULL CONTROL OF YOUR HOME FROM ANYWHERE AROUND THE WORLD</div>

						<div class="caption large_text sfr"
							style="background: url('//storage.googleapis.com/hukam-cdn/public/images/promo.png'); font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 18px; padding: 5px 8px;"
							data-x="520" data-y="320" data-speed="300" data-start="2600"
							data-easing="easeOutBack" data-endspeed="300"
							data-endeasing="easeInBack">ADD GRAPHICS, VIDEOS AND MUSIC TO THE LIVE EVENT</div>

						<div class="caption large_text sfr"
							style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 18px; padding: 5px 8px;"
							data-x="520" data-y="360" data-speed="300" data-start="2800"
							data-easing="easeOutBack" data-endspeed="300"
							data-endeasing="easeInBack">VIDEOS OR MOVING IMAGES WITH
							SOUND ARE THE MOST POWERFUL TOOLS TODAY TO VISIBLY COMMUNICATE</div>
							
					</li>
					<li data-transition="random" data-mediafilter="brooklyn" data-slotamount="10"
						data-delay="15500" data-masterspeed="300">
						
						<img src="//storage.googleapis.com/hukam-cdn/public/images/slider/hbuddy/smarthome6.jpg"  
							 alt="Ocean" 
					         class="rev-slidebg" 
					         data-bgposition="center center" 
					         data-bgfit="cover" 
					         data-bgrepeat="no-repeat"
						> 

						<div class="caption large_text sfr"
							style="background: url('//storage.googleapis.com/hukam-cdn/public/images/promo.png'); font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 18px; padding: 5px 8px;"
							data-x="520" data-y="280" data-speed="300" data-start="2600"
							data-easing="easeOutBack" data-endspeed="300"
							data-endeasing="easeInBack">FULL CONTROL OF YOUR HOME FROM ANYWHERE AROUND THE WORLD</div>

						<div class="caption large_text sfr"
							style="background: url('//storage.googleapis.com/hukam-cdn/public/images/promo.png'); font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 18px; padding: 5px 8px;"
							data-x="520" data-y="320" data-speed="300" data-start="2600"
							data-easing="easeOutBack" data-endspeed="300"
							data-endeasing="easeInBack">ADD GRAPHICS, VIDEOS AND MUSIC TO THE LIVE EVENT</div>

						<div class="caption large_text sfr"
							style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 18px; padding: 5px 8px;"
							data-x="520" data-y="360" data-speed="300" data-start="2800"
							data-easing="easeOutBack" data-endspeed="300"
							data-endeasing="easeInBack">VIDEOS OR MOVING IMAGES WITH
							SOUND ARE THE MOST POWERFUL TOOLS TODAY TO VISIBLY COMMUNICATE</div>
							
					</li>
						
				</ul>

				<div class="slider-line"></div>

			</div>
		</div>

	</div>
</div>