
	<div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('//storage.googleapis.com/hukam-cdn/public/images/slider/hbuddy/smarthome6.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div>
						<h1>hBuddy</h1>
						<h3>You have enough to take care of when it comes to your home and your family. <b>hBuddy</b> lets you monitor your entire home, even when you aren’t there.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">

					<div class="section section-landing">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<h2 class="title text-center">GIVE YOUR HOUSE THE SMART IT DESERVES</h2>
										<h5 class="description">While there are many smart products available today, it isn't until these devices work together in orchestration, that you experience the magic of a smart home.</h5>
										<h5>From homes small to large, new and old, <b>hBuddy</b> delivers power and performance on one platform that coordinates the technology in your house into complete, brilliant experiences—interactions that fit your lifestyle and are easy for your family to enjoy. With one touch, dim the lights, stream high-resolution music, turn up the heat, lock the doors and arm the security system. Or, check in on your home no matter where you are. It’s a smarter living experience that you’ll wonder how you ever lived without. We call it, the New Normal.</h5>
									</div>
								</div>
								<br />
								<hr>


							<div class="col-md-12">
								 <div class="card card-plain card-blog">
										<div class="row">
											<div class="col-md-7">
												<h6 class="category text-success">
													<i class="material-icons">settings_remote</i> Full Control
												</h6>
												<h3 class="card-title">
													<a href="/">FROM SENSORS DATA TO ACTIONABLE INSIGHTS</a>
												</h3>
												<p class="card-description">
													Digitized processes open up countless new possibilities for your business - and we help you take advantage of this trend: Hukam offers an end-to-end solution from gathering data, to analyzing it based on artificial intelligence, visualizing the results and optimizing your maintenance planning.
We are sensor data experts and help you to maximize the availability of your assets.
												</p>
												<br /><a href="/"> Read More </a>

											</div>
											<div class="col-md-5">
												<div class="card-image">
													<img class="img img-raised" src="/assets/images/home-automation-1.jpg" />
												</div>
											</div>
										</div>
									</div>

									<hr />

									<div class="card card-plain card-blog">
										<div class="row">
											<div class="col-md-5">
												<div class="card-image">
													<img class="img img-raised" src="/assets/images/Surveillance3.jpg" />
												</div>
											</div>
											<div class="col-md-7">
												<h6 class="category text-info">
													<i class="material-icons">camera</i> Surveillance
												</h6>
												<h3 class="card-title">
													<a href="/">Peace of Mind</a>
												</h3>
												<p class="card-description">
													Check in on things at home from wherever you are. Receive alerts when someone enters the house, the garage door is left open, or a leak is detected in the basement. Intelligent security puts peace of mind at your fingertips so you can rest assured that all is safe.  IP cameras can be integrated with our solution giving you a live feed in the app along with 7 days of recording.<br /><br />
													Easily view and manage locks, or grant or remove access to the house. Receive notification the moment that something isn’t right, such as a pipe leaking in the basement or the garage door left open. Monitor the state of your home, no matter how far away you are, by putting the control in your own hands.
												</p>

												<br /><a href="/"> Read More </a>
											</div>
										</div>
									</div>

									<hr />

									<div class="card card-plain card-blog">
 										<div class="row">
 											<div class="col-md-7">
 												<h6 class="category text-success">
 													<i class="material-icons">multiline_chart</i> Energy Monitoring
 												</h6>
 												<h3 class="card-title">
 													<a href="/">FROM SENSORS DATA TO ACTIONABLE INSIGHTS</a>
 												</h3>
 												<p class="card-description">
 													Our Switches track electricity consumption of each device in real-time & collect this data for further analysis.
													<br /><br />
													Our easy-to-understand UI will let you take complete control of all your home appliances. Tap the different icons for On/off, long press for dimming, set timers and voila!! Watch your home transform with a single touch on your smartphone.
 												</p>
 												<br /><a href="/"> Read More </a>

 											</div>
 											<div class="col-md-5">
 												<div class="card-image">
 													<img class="img img-raised" src="/assets/images/energy-monitoring2.jpg" />
 												</div>
 											</div>
 										</div>
 									</div>

							 </div>

						</div>

					</div>

		</div>
