
	<div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('//storage.googleapis.com/hukam-cdn/public/images/slider/hbuddy/smarthome6.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>hBuddy</h1>
						<h4>You have enough to take care of when it comes to your home and your family. <b>hBuddy</b> lets you monitor your entire home, even when you aren’t there.</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">

					<div class="section text-center section-landing">
							<div class="container">
								<div class="row">
										<div class="col-md-8 col-md-offset-2">
												<h2 class="title">Our Home Automation Features</h2>
												<br />
										</div>
								</div>

							</div>


								<div class="features">
									<div class="row">
											<div class="col-md-3">
														<div class="info">
															<div class="icon icon-primary">
																<i class="material-icons">settings_remote</i>
															</div>
															<h4 class="info-title">Full Controll</h4>
															<p>Switch on/off all your electrical appliances ( Light, Fan, A.C, TV, Geysers etc.) with your smartphone from anywhere.</p>
														</div>
												</div>
												<div class="col-md-3">
														<div class="info">
															<div class="icon icon-success">
																<i class="material-icons">camera</i>
															</div>
															<h4 class="info-title">Surveillance</h4>
															<p>IP cameras can be integrated with our solution giving you a live feed in the app along with 7 days of recording.</p>
														</div>
												</div>
												<div class="col-md-3">
														<div class="info">
															<div class="icon icon-danger">
																<i class="material-icons">multiline_chart</i>
															</div>
															<h4 class="info-title">Energy Monitoring</h4>
															<p>Our Switches track electricity consumption of each device in real-time & collect this data for further analysis.</p>
														</div>
											</div>
											<div class="col-md-3">
													<div class="info">
														<div class="icon icon-danger">
															<i class="material-icons">fingerprint</i>
														</div>
														<h4 class="info-title">Intelligence</h4>
														<p>Your Home learns from your needs and will automatically take care of the climate & light settings.</p>
													</div>
										</div>
									</div>
								</div>

					</div>

		</div>
