
	<div id="profile_header" class="header header-filter" >
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand text-center">
						<h1>All About Gurvinder</h1>
						<!-- <h2>The difference between stupidity and genius is that genius has its limits. </h2> -->
						<h2>Genius is the ability to put into effect what is on your mind.</h2>
						<!-- <h4>Albert Einstein</h4> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
					<div class="profile-content">
							<div class="container">
								<div class="row">
										<div class="profile">
												<div class="avatar">
														<img src="../assets/images/profile.jpeg" alt="Circle Image" class="img-circle img-responsive img-raised">
												</div>
												<div class="name">
														<h3 class="title">Gurvinder Singh</h3>
														<!-- <h6>Cloud Solutions Architect (IBM - ISL)</h6>															 -->
												</div>
										</div>
										<br />
								</div>

								<div class="row">
		    					<div class="col-md-6">
										<div class="card card-blog card-rotate">
													<div class="rotating-card-container">
														<div class="card-image">
															<div class="front">
																<img class="img" src="../assets/images/profileBg.jpg">
																<div class="colored-shadow" style="background-image: url('../assets/images/profileBg.jpg'); opacity: 1;"></div>
															</div>

															<div class="back back-background" style="height: 220px; width: 330px; background-image: url('../assets/images/profileBg.jpg');">
																<div class="card-content">
																	<h5 class="card-title">
																		Professional
																	</h5>
																	<!-- <p class="card-description">
																		My Professional life...
																	</p> -->
																	<div class="footer text-center">
																		<a href="/professional" class="btn btn-rose btn-round">
																			<i class="material-icons">center_focus_strong</i> Enter
																		</a>
																	</div>
																</div>
																</div>
														</div>
													</div>
													<div class="card-content">
															<h4 class="card-title">
																<a href="/professional">My Professional life...</a>
															</h4>
															<p class="card-description">
																I enjoy the work, I enjoy every minute of my professional life
															</p>
															<br />
												</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="card card-blog card-rotate">
													<div class="rotating-card-container">
														<div class="card-image">
															<div class="front">
																<img class="img" src="../assets/images/personalBg.jpg">
																<div class="colored-shadow" style="background-image: url('../assets/images/personalBg.jpg'); opacity: 1;"></div>
															</div>

															<div class="back back-background" style="height: 220px; width: 330px; background-image: url('../assets/images/personalBg.jpg');">
																<div class="card-content">
																	<h5 class="card-title">
																		Social Life
																	</h5>
																	<!-- <p class="card-description">
																		My Social life...
																	</p> -->
																	<div class="footer text-center">
																		<a routerLink="/social" class="btn btn-rose btn-round">
																			<i class="material-icons">center_focus_strong</i> Enter
																		</a>
																	</div>
																</div>
																</div>
														</div>
													</div>
													<div class="card-content">
															<h4 class="card-title">
																<a routerLink="/social">My Social life...</a>
															</h4>
															<p class="card-description">
																Society is like a large piece of frozen water; and skating well is the great art of social life.
															</p>
												</div>
										</div>
									</div>
								</div>

							</div>

					</div>

		</div>
