
<div id="slider" class="revolution-slider" data-ng-init="handleAdsSlider()">

	<div class="container clearfix">

		<div class="fullwidthbanner-container"
			style="max-height: 400px; height: 250px;">
			<div class="fullwidthbanner"
				style="max-height: 400px; height: 250px;">

				<ul class="clearfix">
				
					<li data-transition="random" data-slotamount="10"
						data-delay="15500" data-masterspeed="300"><a href="/#!/services/eventmanagement"><img
						src="/../images/wedding/wedding.jpeg" width="298px" height="250px"></a>

						<div class="caption large_text lft"
							style="background: url('/../images/promo.png'); opacity: 0.9; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 18px; padding: 8px 10px;"
							data-x="5" data-y="5" data-speed="300" data-start="1000"
							data-easing="easeOutExpo"  data-endspeed="300"
							data-endeasing="easeInBack">LIVE Webcasting of your Wedding</div>

						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 14px; line-height: 20px; padding: 3px 9px;"
							data-x="5" data-y="60" data-speed="300" data-start="1800"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">Anybody from anywhere can watch it LIVE</div>

						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 14px; line-height: 20px; padding: 3px 9px;"
							data-x="5" data-y="100" data-speed="300" data-start="2000"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">Supports Android and iOS smart <br />
							phones</div>

						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 14px; line-height: 20px; padding: 3px 9px;"
							data-x="5" data-y="140" data-speed="300" data-start="2200"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">Friends can share memorable<br />
							moments while LIVE Event</div>

						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 16px; line-height: 20px; padding: 3px 9px;"
							data-x="5" data-y="180" data-speed="300" data-start="1800"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">LIVE Chat</div>


						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="5" data-y="60" data-speed="300" data-start="8000"
							data-easing="easeOutBack" data-end="14000" data-endspeed="300"
							data-endeasing="easeInBack">Control / Request DJ</div>

						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="5" data-y="140" data-speed="300" data-start="10000"
							data-easing="easeOutBack" data-end="14000" data-endspeed="300"
							data-endeasing="easeInBack">Online Photo &amp; Video Albums</div>

					</li>
					
					<li data-transition="random" data-slotamount="10"
						data-delay="15500" data-masterspeed="300"><a href="/#!/services/internetOfThings"><img
						src="/../images/slider/homeAutomation.jpg" width="298px" height="250px"></a>

						<div class="caption large_text lft"
							style="background: url('/../images/promo.png'); opacity: 0.9; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 20px; padding: 8px 10px;"
							data-x="5" data-y="5" data-speed="300" data-start="1000"
							data-easing="easeOutExpo"  data-endspeed="300"
							data-endeasing="easeInBack">Home Automation (IoT)</div>

						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 14px; line-height: 16px; padding: 3px 9px;"
							data-x="5" data-y="60" data-speed="300" data-start="1800"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">Lighting Switches On and Off Automatically</div>

						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 14px; line-height: 16px; padding: 3px 9px;"
							data-x="5" data-y="100" data-speed="300" data-start="2000"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">The House Can Let You Know How It Is</div>

						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 14px; line-height: 16px; padding: 3px 9px;"
							data-x="5" data-y="140" data-speed="300" data-start="2200"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">Intelligent Climate Control</div>

						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 14px; line-height: 16px; padding: 3px 9px;"
							data-x="5" data-y="180" data-speed="300" data-start="1800"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">Remote Access</div>


						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 16px; line-height: 16px; padding: 3px 9px;"
							data-x="5" data-y="60" data-speed="300" data-start="8000"
							data-easing="easeOutBack" data-end="14000" data-endspeed="300"
							data-endeasing="easeInBack">Commitment to Energy-Savings</div>

						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 16px; line-height: 16px; padding: 3px 9px;"
							data-x="5" data-y="140" data-speed="300" data-start="10000"
							data-easing="easeOutBack" data-end="14000" data-endspeed="300"
							data-endeasing="easeInBack">Security Systems are More Secure</div>

					</li>
					
					
					<li data-transition="papercut" data-slotamount="1"
						data-masterspeed="300"><a href="/#!/services/radio"><img
						src="/../images/slider/revolution/3/liveRadio.jpg" width="298px" height="250px" ></a>

						<div class="caption large_text randomrotate"
							style="background-color: #436689; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 18px; line-height: 20px; padding: 3px 9px;"
							data-x="10" data-y="70" data-speed="300" data-start="2000"
							data-easing="easeOutQuad">Audio-Visual Radio</div>
							
						<div class="caption large_text sfr"
							style="background: url('/../images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="5" data-y="140" data-speed="300" data-start="3000"
							data-easing="easeOutBack" data-end="14000" data-endspeed="300"
							data-endeasing="easeInBack">Radio Outsourcing</div>
					</li>
					
					<li data-transition="papercut" data-slotamount="1"
						data-masterspeed="300"><a href="/#!/services/eventmanagement"><img
						src="/../images/slider/revolution/3/conferences.jpg" width="298px" height="250px"></a>

						<div class="caption large_text randomrotate"
							style="background-color: #436689; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 200; font-size: 18px; line-height: 20px; padding: 3px 9px;"
							data-x="10" data-y="15" data-speed="300" data-start="1600"
							data-easing="easeOutQuad">Video Conferencing / Meetings</div>
					</li>

				</ul>

				<div class="slider-line"></div>

			</div>
		</div>

	</div>
</div>

