<div id="content">

	<br />

	<div class="container clearfix">

		<a href="#!/">Home</a> <span data-ng-show="currentUser.id"> / <a
			href="#!/account">Account</a>
		</span> <br />
		<br />

		<h2 class="center">
			Page Not Found. <span>404</span> Error
		</h2>

	</div>

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="error-404">

				<span>ooopss..! error !!! </span>404

			</div>

			<div class="error-404-meta">

				<form action="#" method="post">

					<input type="text" id="error404-search" name="error404-search"
						value="" placeholder="Search here &amp; Find yourself a Way..." />

					<input type="submit" id="error404-search-submit"
						name="error404-search-submit" value="submit" />

				</form>

			</div>

		</div>

	</div>