
<div id="content" data-ng-init="setContent()">

	<div class="content-wrap" >

		<div class="container clearfix">
		
			<h2>Our Services</h2>

			<div class="clear"></div>

			<div class="col_one_third">
				<div class="product-feature product-feature3">
					<a href="/#!/services/eventmanagement"><img
						data-ng-src="//glcontents.s3.amazonaws.com/static/images/public/services/wedding_services.jpg"
						alt="Event Management" /></a>
					<h3>
						<a href="/#!/services/eventmanagement">Event Management</a>
					</h3>
					<p>GransLive has been the heart of the most happening and
						rocking corporate events, wedding events, birthday parties and
						other event projects...</p>
				</div>
			</div>
			
			<div class="col_one_third">
				<div class="product-feature product-feature3">
					<a href="/#!/services/internetOfThings"><img
						data-ng-src="//glcontents.s3.amazonaws.com/static/images/public/theinternetofthings2.jpg"
						alt="Home Automation (IoT)" /></a>
					<h3>
						<a href="/#!/services/internetOfThings">Home Automation (IoT)</a>
					</h3>
					<p>A cloud platform with built-in intelligence, which connects the Smart devices of today and tomorrow, letting them talk and work in sync and take autonomous decisions...</p>
				</div>
			</div>

			<div class="col_one_third col_last">
				<div class="product-feature product-feature3">
					<a href="/#!/services/applicationdevelopment"><img
						data-ng-src="//glcontents.s3.amazonaws.com/static/images/public/services/development.jpg"
						alt="Application Development" /></a>
					<h3>
						<a href="/#!/services/applicationdevelopment">Software
							Development</a>
					</h3>
					<p>GransLive Business Solutions is a creative application
						design and development company along with strong client base in
						website designing and development field...</p>
				</div>
			</div>
			
			<div class="clear"></div>
			
			<br />
            <br />
		
			<div class="entry_content">
			
				<h2 view-title><span >About GransLive</span></h2>
                                
                  <p view-description>To Make Your Event "The Most Special Moments of Your Life" GransLive is established with an intention to create virtual presence at event locations of people, who were/will not be able to attend important events in their families.</p>
                  
                  <p>It has become very common that, many of our family members are unable to attend some important functions in the family. In this era of globalization, people have settled in different places far away from each other. And the wedding-couples whom we have met felt unhappy that some of their close friends and well wishers could not make it to the wedding. And it is also not very uncommon for the bride and the bridegroom to edit the long list of their work colleagues for the final invitation.</p>
                  
                  <blockquote><p>At GransLive we intend to solve simple problems concerning human emotions through technology.</p></blockquote>

				<h2><span>Our Ethics</span></h2>
                                
                  <p>Our ethics govern our attitudes and actions. They reflect our distinctive performance and responsibility for our foremost motto, i.e. customer satisfaction. Our ethics are integral to the way <span>GransLive</span> employees work together. Our shared commitment to GRANSLIVE operating as an ethical business strengthens us and what we offer to our clients.</p>
                  
                  <blockquote><p>By acting in accordance with these values, we earn the respect of, and show respect for, our clients and colleagues, Our ethics and values are put into practice through the GransLive Code of Conduct which sets out the principles and rules of conduct that guide our people in high professional and ethical standards required of them. The code is supported by a network of ethics advisers who are available to assist employees in dealing with ethical and professional concerns.</p></blockquote>
                  
                <h2><span>Our Core Values</span></h2>
                  <p><strong>Integrity</strong>, which requires us to be honest and impartial in our dealings with others.</p>
                  <p><strong>Professionalism</strong>, which demands excellence in working with our clients and interacting with their demands.</p>
                  <p><strong>Commitment to the public good</strong>, which inspires us in what we do.</p>                
                  
            </div>
            
            <br />
            
            <div class="clear"></div>

		</div>

	<div class="clear"></div>

	</div>
	
</div>