
<div id="content" data-ng-init="setContent();">

	<br />

	<div class="container clearfix">
	
	<div data-ng-include="'/../page/secure/playlist.htm'" data-ng-show="playlist"></div> 
	<!-- <show-playlist playlist-id="myPlaylists" playlist="playlist" user-id="{{currentUser.id}}" heading="My Playlists" >
</show-playlist> -->
	
		<div class="landing-offer-media" data-ng-show="videoId">
			
			<div id="playerDiv"></div>
		
			<div class="fb-like" style="height:10px;" data-href="/#!/event/video/{{videoId}}" data-layout="standard" 
			data-action="like" data-show-faces="false" data-share="false"></div>			
		</div>
		
		<div class="clear clearfix"></div>
		
			<div class="container clearfix" data-ng-show="videoData">
				<br />
				<h2>{{videoData.title | truncate:200}}</h2>
		
				<ul id="ViewerTabs" class="nav nav-tabs">
					<li class="active"><a href="javascript:void(0);" data-target="#searchDiv" data-toggle="tab">Search</a></li>
					<li><a href="javascript:void(0);" data-target="#aboutDiv" data-toggle="tab">About</a></li>
					<li><a href="javascript:void(0);" data-target="#googlePlusComments" data-toggle="tab">Google+ Comments</a></li>
					<li><a href="javascript:void(0);" data-target="#facebookComments" data-toggle="tab">Facebook Comments</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
				
					<div class="tab-pane fade in active" id="searchDiv">
					
						<div class="box">
						    <input type="text" data-ng-model="searchTerm" data-ng-keydown="searchEntered(this);" placeholder="{{'INTERESTED_IN'|i18n}}">
						</div>
					
						<div id="posts" class="small-posts">
                        
                        <div data-ng-show="videoResults" >
							<div data-ng-repeat="videoResult in videoResults" class="result-container">
                            
                            <div class="entry clearfix">
                            
                                <div class="entry_image">
                                
                                    <a href="javascript:void(0);" data-ng-click="videoClicked(videoResult.id)" class="image_fade"><img data-ng-src="{{videoResult.thumbnailUrl}}" title="{{videoResult.title}}" alt="{{videoResult.title}}" /></a>
                                    <div class="post-overlay icon-camera"></div>
                                
                                </div>
                            
                                <div class="entry_c">
                                
	                                  <div id="{{videoResult.id}}_videoDetailsDiv">
	                                
	                                    <div class="entry_date">
	                                        <div class="day">{{videoResult.publishedAt | date:'dd'}}</div>
	                                        <div class="month">{{videoResult.publishedAt | date:'MMM'}}</div>
	                                    </div>
	                                    
	                                    <div class="entry_title"><h2><a href="javascript:void(0);" data-ng-click="videoClicked(videoResult.id)" >{{videoResult.title | truncate:100}}</a></h2></div>
	                                    <ul class="entry_meta clearfix">
	                                         <li><a href="javascript:void(0);" data-ng-click="addToList(videoResult, 'currentPL')"><i class="icon-comments"></i>{{'ADD TO PLAYLIST' | i18n}}</a></li>
	                                    </ul>
	                                    
	                                    <div class="clear"></div>
	                                    <span class="page-divider"><span></span></span>
	                                    <div class="entry_content">
	                                        <p>{{videoResult.description}}</p>
	                                    </div>
	                                
	                                </div>
	                                
	                               	<div id="{{videoResult.id}}_playListDiv" style="display:none;">
	                                	<a href="javascript:void(0);" data-ng-click="hideListDiv($event.target, videoResult.id)">Back</a>
	                                	<span>Video added to current playlist</span>
	                                </div>
                                
                                </div>
                            
                            </div>
                          </div>
						</div>
                            
                            <ul class="pager nobottommargin">
                                <li class="previous">
                                    <a href="javascript:void(0);">&larr; Previous</a>
                                </li>
                                <li class="next disabled">
                                    <a href="javascript:void(0);">Next &rarr;</a>
                                </li>
                            </ul>
                        
                        
                        </div>
					</div>
					
					<div class="tab-pane fade" id="aboutDiv">
						<strong>Total Views:</strong> {{videoData.statistics.viewCount}}
						<p ng-bind-html-unsafe="videoData.description"></p>
					</div>
					
					<div class="tab-pane fade" id="googlePlusComments">
						<div class="g-comments"
						    data-href="http://www.granslive.com/#!/event/video/{{videoData.id}}"
						    data-width="{{playerConfig.width}}"
						    data-first_party_property="BLOGGER"
						    data-view_type="FILTERED_POSTMOD">
						</div>
					</div>
					
					<div class="tab-pane fade" id="facebookComments">
						<div id="fb-root"></div>
							<div class="fb-comments" data-width="{{playerConfig.width}}px" style="min-height: 300px;"
								data-href="http://www.granslive.com/#!/video/{{videoData.id}}"
								data-num-posts="20" data-colorscheme="light" ></div>
					</div>
		
				</div>
		
				<div class="dotted-divider"></div>
		
			</div>
		
		<div class="col_full nobottommargin">
		
				<div id="search-container" data-ng-hide="videoId">
				
					<h2 data-ng-hide="searchTerm">Popular Videos</h2>

                        <div id="posts" class="small-posts">
                        
                        <div data-ng-show="videoResults" >
							<div data-ng-repeat="videoResult in videoResults" class="result-container">
                            
                            <div class="entry clearfix">
                            
                                <div class="entry_image">
                                
                                    <a href="javascript:void(0);" data-ng-click="videoClicked(videoResult.id)" class="image_fade"><img data-ng-src="{{videoResult.thumbnailUrl}}" title="{{videoResult.title}}" alt="{{videoResult.title}}" /></a>
                                    <div class="post-overlay icon-camera"></div>
                                
                                </div>
                            
                                <div class="entry_c">
                                	<div id="{{videoResult.id}}_videoDetailsDiv">
	                                    <div class="entry_date">
	                                        <div class="day">{{videoResult.publishedAt | date:'dd'}}</div>
	                                        <div class="month">{{videoResult.publishedAt | date:'MMM'}}</div>
	                                    </div>
	                                    
	                                    <div class="entry_title"><h2><a href="javascript:void(0);" data-ng-click="videoClicked(videoResult.id)" >{{videoResult.title | truncate:100}}</a></h2></div>
	                                    <ul class="entry_meta clearfix">
	                                        <li><a href="javascript:void(0);" data-ng-click="addToList(videoResult, 'currentPL')"><i class="icon-comments"></i>{{'ADD TO PLAYLIST' | i18n}}</a></li>
	                                    </ul>
	                                    
	                                    <div class="clear"></div>
	                                    <span class="page-divider"><span></span></span>
	                                    <div class="entry_content">
	                                        <p>{{videoResult.description | truncate:500}}</p>
	                                    </div>
	                                </div>
	                                
	                                <div id="{{videoResult.id}}_playListDiv" style="display:none;">
	                                	<a href="javascript:void(0);" data-ng-click="hideListDiv($event.target, videoResult.id)">Back</a>
	                                	<span>Video added to current playlist</span>
	                                </div>
                                    
                                </div>
                                
                            </div>
                          </div>
						</div>
                            
                            <ul class="pager nobottommargin">
                                <li class="previous disabled">
                                    <a href="javascript:void(0);">&larr; Previous</a>
                                </li>
                                <li class="next">
                                    <a href="javascript:void(0);">Next &rarr;</a>
                                </li>
                            </ul>
                        
                        </div>
                    
                    </div>
	
	<div class="clear clearfix"></div>
	<div class="clear"></div>
	
		
		<!-- <div data-ng-show="channelResults" class="box">
		  <div class="result-heading">{{'CHANNELS'|i18n}}</div>
		  <div class="flex-box-container-row">
		    <div data-ng-repeat="channelResult in channelResults" class="result-container">
		      <div class="player-container">
		        <img data-ng-click="listPlayerClicked($event.target, channelResult.id)" data-ng-src="{{channelResult.thumbnailUrl}}" class="thumbnail-image">
		        <div class="title"><a data-ng-href="{{channelResult.href}}" target="_blank">{{channelResult.title}}</a></div>
		      </div>
		      <div data-ng-show="channelId" class="button-container">
		        <button data-ng-click="subscribeClicked($event.target, channelResult.id)">{{'SUBSCRIBE'|i18n}}</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div data-ng-show="playlistResults" class="box">
		  <div class="result-heading">{{'PLAYLISTS'|i18n}}</div>
		  <div class="flex-box-container-row">
		    <div data-ng-repeat="playlistResult in playlistResults" class="result-container">
		      <div class="player-container">
		        <img data-ng-click="listPlayerClicked($event.target, playlistResult.id)" data-ng-src="{{playlistResult.thumbnailUrl}}" class="thumbnail-image">
		        <div class="title"><a data-ng-href="{{playlistResult.href}}" target="_blank">{{playlistResult.title}}</a></div>
		      </div>
		    </div>
		  </div>
		</div> 
		
		<div data-ng-show="videoResults" class="box">
		  <div class="result-heading">{{'VIDEOS'|i18n}}</div>
		  <div class="flex-box-container-row">
		    <div data-ng-repeat="videoResult in videoResults" class="result-container">
		      <div class="player-container">
		        <img data-ng-click="videoClicked($event.target, videoResult.id)" data-ng-src="{{videoResult.thumbnailUrl}}" class="thumbnail-image">
		        <div class="title"><a data-ng-href="{{videoResult.href}}" target="_blank">{{videoResult.title}}</a></div>
		      </div>
		      <div data-ng-show="channelId" class="button-container">
		        <button data-ng-click="addToList($event.target, 'likes', videoResult.id)">{{'LIKE'|i18n}}</button>
		        <button data-ng-click="addToList($event.target, 'favorites', videoResult.id)">{{'FAVORITE'|i18n}}</button>
		        <button data-ng-click="addToList($event.target, 'watchLater', videoResult.id)">{{'WATCH_LATER'|i18n}}</button>
		      </div>
		    </div>
		  </div>
		</div>
		-->
		</div>
	</div>

</div>
 
