
<div class="container clearfix">

				<div class="footer-widgets-wrap clearfix">
				
					<br />
					<div class="clear"></div>
					
					<div class="col_one_fourth">
					
						<div id="linkcat-2" class="widget widget_links clearfix">

							<h4 class="widget-title"><span>About Us</span></h4>

							<ul class='xoxo blogroll'>

								<li><a href="/#!/aboutus">About Hukam</a></li>
								<!-- <li><a href="/#!/news">News &amp; Press</a></li> -->
								<!-- <li><a href="/#!/careers">Careers</a></li> -->
								<li><a href="/#!/discussions">Discussions</a></li>
								<!-- <li><a href="/#!/ourteam">Our Team</a></li> -->
								<li><a href="/#!/contact">Corporate Inquiries</a></li>
								<li><a href="/#!/contact">Contact Us</a></li>
							</ul>

						</div>


					</div>


					<div class="col_one_fourth">


						<div id="linkcat-2" class="widget widget_links clearfix">

							<h4 class="widget-title"><span>Our Services</span></h4>

							<ul class='xoxo blogroll'>

						        <li><a href="/#!/services/internetOfThings">Home Automation (IoT)</a></li>
								<li><a href="/#!/services/eventmanagement">Event Management</a></li>
						       <li><a href="/#!/services/livestreaming">Live Streaming</a></li>
								<li><a href="/#!/services/applicationdevelopment">Application Development</a></li>
							</ul>

						</div>

					</div>


					<div class="col_one_fourth">


						<div id="linkcat-2" class="widget widget_links clearfix">

							<h4 class="widget-title"><span>LIVE Services</span></h4>

							<ul class='xoxo blogroll'>

								<li><a href="/#!/liveServices">Send Gifts / Bouquets</a></li>
								<li><a href="/#!/liveServices">Control DJ</a></li>
								<li><a href="/#!/liveServices">Share Memorable Moments</a></li>
								<li><a href="/#!/liveServices">Online Photo &amp; Video Album</a></li>
								<li><a href="/#!/liveServices">LIVE Chat</a></li>
								<!-- <li><a href="/#!/liveServices">Polling / Voting</a></li> -->
							</ul>

						</div>

					</div>


					<div class="col_one_fourth">


						<div class="widget clearfix">

							<h4>Quick Contact</h4>

							<div id="quick-contact-form-result"></div>
							<form class="quick-contact-form nobottommargin" name="quick-contact-form" >
								<input type="hidden" data-ng-model="feedback.reason" value="enquiry" required class="input-block-level" />
								<input type="hidden" data-ng-model="feedback.subject" value="Hukam Enquiry" required class="input-block-level" />
								
								<input type="text" data-ng-model="feedback.fullName" placeholder="Full Name" required class="required input-block-level" />
								
								<input type="text" data-ng-model="feedback.emailId" placeholder="Email Address" required class="required email input-block-level" />

								<textarea class="required input-block-level short-textarea" placeholder="Message" data-ng-model="feedback.text" required rows="10" cols="30"></textarea>
								
								<button type="submit" id="quick-contact-form-submit"
									name="quick-contact-form-submit"
									class="btn btn-small btn-inverse nomargin"
									data-ng-click="sendFeedback()" data-ng-disabled="!quick-contact-form.$valid"
									value="submit">Send Email
								</button>


							</form>

						</div>


					</div>


				</div>


			</div>
			
			<div class="clear"></div>
			
			<div id="copyrights" class="copyrights-dark">

				<div class="container clearfix">


					<div class="col_half">Copyrights &copy; 2017 &amp; All Rights
						Reserved by Hukam</div>

					<div class="col_half col_last tright">

						<a href="/#!/privacy">Privacy Policy</a><span
							class="link-divider">/</span><a href="/#!/comingsoon">Terms
							of Service</a><span class="link-divider">/</span><a
							href="/#!/comingsoon">FAQs</a>

					</div>


				</div>

			</div>
