<!-- <script type="text/javascript" src="//apis.google.com/js/plusone.js"></script> -->

<div data-ng-include="'/modules/common/partials/slides/hbuddy-slider.htm'" data-ng-if="endpointsReady"></div>

<div id="content" itemscope itemtype="http://schema.org/LocalBusiness" >

	<span ></span><view-title><span itemprop="name">{{pageContent.pageTitle}}</span></view-title>

	<view-title>{{pageContent.title}}</view-title>
	<META itemprop="description" view-head NAME="description"
		CONTENT="{{pageContent.pageDescription}}">
	<meta view-head property="og:title" content="{{pageContent.pageTitle}}" />
	<meta view-head property="og:description"
		content="{{pageContent.pageDescription}}" />
	<meta view-head property="og:site_name"
		content="http://www.hukam.in" />

	<div class="content-wrap" >

		<div class="container clearfix">

			<div class="alert {{pageContent.message.msgClass}}"
				data-ng-show="pageContent.message.text">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{pageContent.message.strongMsg}}</strong>
				{{pageContent.message.text}}
			</div>

			<div class="promo">

				<div class="promo-desc">

					<h4>
						Are you looking to turn your home into a smart and futuristic home ? Or do you already have smart home products and are looking to add-on new functionalities ? You have come to the right place. {{pageContent.siteName}} smart home products truly give you more choice.  {{pageContent.siteName}} is the smartest choice for smart homes.
					</h4>

					<h7>
						Call us today on <a href="javascript:void(0);">{{pageContent.contact.phone}}</a>.  You can also send an email to
						<a href="mailto:{{pageContent.contact.email}}"><i class="fa fa-envelope-alt"></i> {{pageContent.contact.email}}</a> if you have any queries.
					</h7>

				</div>

				<div class="promo-action">
					<a href="#!/contact">Contact Us</a>
				</div>

			</div>

            <div class="col_full topmargin nobottommargin">

                        <div class="tab_widget side-tabs clearfix nobottommargin" id="homePageSideTabs" data-ng-init="handleTabWidgets('homePageSideTabs')">

                            <ul class="tabs">
                                <li class="active"><a href="#fullControlTab" data-href="#fullControlTab"><i class="fa fa-magic"></i> Full Controll</a></li>
                                <li><a href="#timeNMoneyTab" data-href="#timeNMoneyTab"><i class="fa fa-inr"></i> Saves Time & Money</a></li>
                                <li><a href="#parentsControlTab" data-href="#parentsControlTab"><i class="fa fa-group"></i> Parents Control</a></li>
                                <li><a href="#schedulingTab" data-href="#schedulingTab"><i class="fa fa-calendar"></i> Scheduling</a></li>
                                <li><a href="#securityTab" data-href="#securityTab"><i class="fa fa-video-camera"></i> Monitoring & Security</a></li>
                                <li><a href="#offlineModeTab" data-href="#offlineModeTab"><i class="fa fa-power-off"></i> Offline Mode</a></li>
                            </ul>

                            <div class="tab_container">

                                <div id="fullControlTab" class="tab_content clearfix active">

                                    <h3>Full Control Of Your Home</h3>
                                    <div class="col_two_fifth">
                                   		 <img src="//storage.googleapis.com/hukam-cdn/public/images/homePage/full-control.jpg" class="img-polaroid" alt="Easy like Sunday morning" />
                                    </div>
                                    <div class="col_three_fifth col_last">
	                                    <p>With <span>{{pageContent.siteName}}</span> you can get full control of your home from anywhere around the world.  One can control or configure how they want home appliances to work.  All the appliances connected to the smart switches can be controlled wirelessly.
	                                    </p>
                                    </div>

                                    <div class="clear" ></div>

                                </div>

                            <div class="tab_container">

                                <div id="timeNMoneyTab" class="tab_content clearfix">

                                    <h3>Saves Energy, Time &amp; Money</h3>
                                    <div class="col_two_fifth">
                                   		 <img src="//storage.googleapis.com/hukam-cdn/public/images/homePage/TimeIsMoney1.jpg" class="img-polaroid" alt="Time is money, honey" />
                                    </div>
                                    <div class="col_three_fifth col_last">

                                    	<p>At night, no one wants to be dazzled by a bright light on full power.  Automatically dimming your lights at night not only saves your eyes from being blinded on the way to the loo, it saves you money.  Use central functions to save money.</p>
                                    	<p>One clear advantage of home automation is the unmatched potential for energy savings, and therefore cost savings.</p>
	                                    <p>Hibernate your house at the touch of a button! Say you're on your way out of the house.  Press a button which turns off every light in the house, changes the target temperature in your rooms and turns off all devices on standby – all at the touch of one button...</p>
	                                    <h6><span>Isn't this easy ?</span></h6>
                                    </div>

                                    <div class="clear" ></div>

                                </div>

                                <div id="parentsControlTab" class="tab_content clearfix">

                                    <h3>Parents Control </h3>
                                    <div class="col_two_fifth">
                                   		 <img src="//storage.googleapis.com/hukam-cdn/public/images/catalog/catalog/online-video-viewers.jpg" class="img-polaroid" alt="Online Viewers" />
                                    </div>
                                    <div class="col_three_fifth col_last">

	                                	<p><div class="dropcap">H</div><span class="red">ukam</span> platform gives you the ability to reach the worldwide audience and there's no limit on the number of viewers that can watch it LIVE.
	                                		Our infrastructure is supported by Google and Amazon cloud services and can handle millions of requests per second.  We are working hard in India to have good internet connectivity
	                                		in some areas as LIVE streaming is all dependent on internet connectivity.  Viewers around the globe will have as good user experience of a LIVE event as good is their internet connection.
	                                	</p>

	                                	<p>Viewers can watch a LIVE event on any device with internet from anywhere in the world and any place, home, office, playing ground or while traveling.</p>

                                	</div>
                                </div>

                                <div id="schedulingTab" class="tab_content clearfix">

                                    <h3>Scheduling</h3>
                                    <div class="col_two_fifth">
                                   		 <img src="//storage.googleapis.com/hukam-cdn/public/images/catalog/catalog/PhotoAlbums.jpg" class="img-polaroid" alt="Video and Photo Albums" />
                                    </div>
                                    <div class="col_three_fifth col_last">
                                    	<p>LIVE event is saved online and can be even watched after its completed.  You can upload more related videos along with the LIVE event.  For example, all wedding related event videos can be uploaded and shared with friends and family all around the world.
                                    	<br /><br />Similarly, every photograph clicked in a LIVE event will be uploaded online in your account.  Now there'll be no delay and photographs will be available online as soon as they are clicked.  There's no limit to the number of photographs or videos you upload in your account, but you may need to
                                    	pay <i class="fa fa-inr"></i>1000 if the total space/size increases by 1GB</p>
                                	</div>
                                </div>

                                <div id="securityTab" class="tab_content clearfix">

                                    <h3>Security of Your Loved Ones</h3>

                                    <div class="col_two_fifth">
                                   		 <img src="//storage.googleapis.com/hukam-cdn/public/images/homePage/cctv.jpg" class="img-polaroid" alt="Home Security" />
                                    </div>

                                    <p>Viewable on desktops, mobile phones, tablets and more.  We built the {{pageContent.siteName}} platform to deliver beyond the desktop to smartphones, tablets and connected TVs.
                                    Any desktop or device that can run HTML5 or Flash can be used to view a {{pageContent.siteName}} LIVE video.  All from a single embed code, no need to make a mobile specific page. The propriety HTML5/Flash video player from {{pageContent.siteName}} is compatible with 99.9% of internet browsers. This includes most mobile browsers on devices such as iPads and Android phones. No need to install apps or special plugins to view.</p>

                                	<p>Below is a list of some of the more common browsers supported: <br />
                                	  	<div class="col_one_third">

                                            <ul class="fa-ul nobottommargin">
		                                		<li class="fa fa-dot-circle-o"> Internet Explorer</li>
		                                		<li class="fa fa-dot-circle-o"> Google Chrome</li>
		                                		<li class="fa fa-dot-circle-o"> Firefox</li>
		                                		<li class="fa fa-dot-circle-o"> Safari</li>
		                                		<li class="fa fa-dot-circle-o"> Opera</li>
		                                	</ul>
                                	 	</div>
                                	</p>

                                </div>

                            </div>

                        </div>

                        <div class="clear"></div>

                    </div>

			<br />
			<div class="clear"></div>

			<div class="col_two_third entry_content">

				<h2>The Coolest Features of Home Automation Systems</h2>

			        <h3>Lighting Switches On and Off Automatically</h3>
			        <p view-description>Lighting systems can be programmed to switch certain lights on or off automatically. This means that lights can be set to switch off or dim in certain lighting
			        conditions (for example where natural light is adequate), reducing lighting costs. Alternatively, lights can be set to switch on automatically when one enters a
			        room or a dark stairwell, making the home safer and eliminating the need to fumble for light switches. In addition, lighting can be set to be dimmer or brighter,
			        with certain lights being brighter than others, to create specific moods. For example, one can pre-program settings for romantic evenings in, dinner parties, or
			        normal evenings at home with the family.</p>

			        <h3>The House Can Let You Know How It Is</h3>
			        <p>Home automation systems allow one to monitor conditions in the home from a remote location, provided the subsystems are connected to one's home internet network.
			        In fact, some systems can alert one to events via text, email, or social media applications like Twitter. Certain security systems can be set to email photos of
			        visitors to the homeowner when the system is armed, and some communication systems can let one know if the fridge breaks down while one is on holiday.
			        The latter type of system has integrated temperature, moisture, and vibration sensors that activate automated messages if certain criteria are met.
			        For example, if the moisture sensor in the basement gets wet, the device can text homeowners to let them know that the area has flooded.</p>

			        <h3>Intelligent Climate Control</h3>
			        <p>Heating and air conditioning systems can be set to certain levels based on expected and actual occupancy, the weather forecast, or the inside temperature. These
			        systems can also be controlled remotely, and can be programmed to switch off if a window or exterior door is left open. Again, this is a great savings mechanism,
			        reducing the amount of electricity wasted on unnecessary cooling or heating. It also ensures that the house is at the right temperature at all times, and will eliminate
			        scenarios where one walks into a boiling hot or freezing cold house after being out and misjudging the weather.</p>

			        <h3> Security Systems are More Secure</h3>
			        <p>Automated home security systems tend to offer a wider range of features than their predecessors. Systems respond to voice and biometric data, and locks can be
			        upgraded to keypads that are opened with codes or swipe cards. These systems can be turned on or off via remote control, email, or phone, and camera feeds can be
			        sent directly to one's computer. Audible alarms can be used to alert one of intruders, while silent alarms can be used to alert the authorities. That awful feeling
			        of uncertainty that some people feel about having locked all the doors when leaving the house can be eliminated. One can simply lock the offending door remotely and
			        carry on without giving it a second thought.</p>

			        <h3>Systems are Designed to Work Together</h3>
			        <p>Home automation systems are designed with the integration of subsystems in mind, allowing one to tie electronic devices together to perform as a unified system.
			        For example, one can have the lights turn off and the thermostats set lower when a motion sensor is triggered as you leave a room. Once again, this ties in with
			        energy and cost savings and environmental responsibility. Lights and heaters or air conditioning will not be left on unnecessarily.</p>

			        <h3>Remote Access</h3>
			        <p>Probably one of the coolest features of home automation systems, remote access allows one to control one's home environment from a remote location. One can change
			        settings from the office or while on holiday, or during the commute on the way home from the office. Should one's plans for the day or evening change, one can simply
			        update the settings for the home automation system to avoid unnecessary energy use. One can also monitor the home environment while away, or tweak settings without
			        having to ask someone to go in to make adjustments. This is especially useful when sudden snow or cold can make pipes freeze and thermostats need to be set higher.</p>

            </div>

            <div class="col_one_third col_last"  >

				<div data-google-ad-sense></div><br />

				<br />
					<div class="tab_widget nobottommargin" id="homePageTabs"
						data-ng-init="handleTabWidgets('homePageTabs')">

						<ul class="tabs">
							<li><a href="#tab-tab1" data-href="#tab-tab1"><i
									class="fa fa-question-sign"></i> Get Support</a></li>
							<li><a href="#tab-tab2" data-href="#tab-tab2"><i
									class="fa fa-map-marker"></i> Locate Us</a></li>
						</ul>

						<div class="tab_container">

							<div id="tab-tab1" class="tab_content entry_content clearfix">

								<div class="col_two_fifth">
									<img src="//storage.googleapis.com/hukam-cdn/public/images/slider/support.jpg"
										class="notopmargin norightmargin img-polaroid"
										alt="{{pageContent.siteName}} Support" title="{{pageContent.siteName}} Support" />
								</div>

								<div class="col_three_fifth col_last">

									<p>You need support or if you have any queries, you can call
										us or send an email. We would prefer to talk to you to address
										your queries.</p>

									<ul class="nobottommargin">

										<li class="icon-thumbs-up">Live Support (10 AM to 6 PM)</li>
										<li class="icon-thumbs-up">Phone Support (10 AM to 10 PM)</li>
										<li class="icon-thumbs-up">Email Support (24x7)</li>
										<li class="icon-thumbs-up">Free Forum Access</li>

									</ul>

								</div>

								<div class="clear"></div>

							</div>

							<div id="tab-tab2" class="tab_content entry_content clearfix">

								<div class="col_two_fifth">
									<a href="//maps.googleapis.com/maps/api/staticmap?center=Zirakpur,Punjab,India&zoom=14&size=700x550&maptype=roadmap&markers=color:blue%7Clabel:E%7CZirakpur,Punjab,India&sensor=false" >
										<img class="img-polaroid" width="100%"
										src="//maps.googleapis.com/maps/api/staticmap?center=Zirkpur,Punjab,India&zoom=14&size=450x350&maptype=roadmap&markers=color:blue%7Clabel:E%7CZirakpur,Punjab,India&sensor=false"
										alt="Our Office Location" />
									 </a>
								</div>

								<div class="col_three_fifth col_last">

									<div itemscope itemtype="http://schema.org/LocalBusiness">
									  <!-- <h1><span itemprop="name">{{pageContent.pageTitle}}</span></h1> -->
									  <span itemprop="description">We aim to please, and enjoy what we do, so
										give us a call and see what we can offer you.</span><br />
									  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
									  	<span><strong>Address:</strong> </span>
									    <span itemprop="streetAddress">{{pageContent.contact.addressLine1}}</span>
					    				<span itemprop="addressLocality">{{pageContent.contact.addressLine2}}</span>,
					    				<span itemprop="addressRegion">{{pageContent.contact.state}}</span>
									  </div>
									  <br /><strong>Phone: </strong><span itemprop="telephone">{{pageContent.contact.phone}}</span>
									  <br /><a href="mailto:{{pageContent.contact.email}}"><i class="fa fa-envelope-alt"></i><span itemprop="email"></span> {{pageContent.contact.email}}</a><br />
									</div>

								</div>

								<div class="clear"></div>

							</div>

						</div>

					</div>
					<br /><br />
					<!-- <h4>Social Networks</h4>
					<div id="fb-root"></div>

					<div data-ng-if="fbReady" >
						<fb-like-box></fb-like-box>
					</div> -->

			</div>

			<div class="clear"></div>
			<br /><br />

		</div>

		<div class="clear"></div>

	</div>

</div>
