
<div id="landing-area" data-ng-init="liveEventPage()">

	<div class="container clearfix" data-ng-show="event" data-ng-init="connectToChannel()">

		<div class="alert {{message.msgClass}}" data-ng-show="message.text">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{{message.strongMsg}}</strong> {{message.text}}
		</div>

		<ul class="nav nav-pills">
			<li class="dropdown" data-ng-show="hasAccess()"><a class="dropdown-toggle"
				data-toggle="dropdown" href="">Admin<b class="caret"></b></a>
				<ul class="dropdown-menu" >
					<li><a href="#!/event/publish/{{event.id}}">Go LIVE</a></li>
					<li><a href="#!/event/modify/{{event.id}}">Update Event</a></li>
					<li><a href="" data-ng-click="showTopLiveService('updateAlbums')" >Update Albums</a></li>
				</ul>
			</li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="">LIVE Services <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="" data-ng-click="changeLiveService('chat')">LIVE Chat</a></li>
					<li><a href="" data-ng-click="changeLiveService('liveRequest')">LIVE Request</a></li>
					<li><a href="" data-ng-click="changeLiveService('gifts')">Send Gifts</a></li>
					<li><a href="" data-ng-click="changeLiveService('sharemoments')">Share Memorable Moments</a></li>
					<li><a href="" data-ng-click="changeLiveService('videocall')">Video Call</a></li>
					<li class="divider"></li>
					<li><a href="#">Your Feedback</a></li>
				</ul>
			</li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="">Event Albums <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="" data-ng-click="showTopLiveService('photoalbum')">Photo Album</a></li>
					<!-- <li><a href="" data-ng-click="showTopLiveService('videoalbum')">Video Album</a></li> -->
				</ul>
			</li>
		</ul>
		</div>
		
	<div id="topLiveServicesDiv" data-ng-show="topLiveService != '' && topLiveService != null">
		<button type="button" class="close" data-ng-click="topLiveService = ''" aria-hidden="true">close &times;</button>
		<div class="animate-switch-container" data-ng-switch on="topLiveService">
			<div class="animate-switch" data-ng-switch-when="updateAlbums">
				<ul>
					<li><a href="">Photo Album</a></li>
					<li><a href="">Video Album</a></li>
				</ul>
			</div>
		</div>
	</div>
	
		<div class="container clearfix" data-ng-show="event">
		
		<div class="landing-offer-media">

			<div id="liveEventDiv" granslive-player data-ng-transclude player-sources="eventSources"  player-config="playerConfig" data-ng-show="playerSources.length > 0">
				<div id="youtubePlayer"></div>
			</div>
						
			<div class="fb-like" style="height:10px;" data-href="http://www.granslive.com/#!/event/{{event.id}}" data-layout="standard" 
			data-action="like" data-show-faces="false" data-share="false"></div>

		</div>
		<div data-ng-show="currentUser">
				<div class="landing-offer-text col_last" data-ng-show="liveservice=='chat'" data-ng-init="fetchMessages()">
						<h4>Live Chat <button type="button" class="close" data-ng-click="changeLiveService('chat')" aria-hidden="true">&times;</button></h4>
						<div id="gransliveChat"  >
							<form class="nobottommargin" id="postMessageForm" name="postMessageForm" novalidate data-ng-show="currentUser.id != ''">
								
								<div class="col_full nobottommargin">
									<textarea class="required input-block-level" data-ng-model="chat.text" placeholder="Leave your comments here" required>
									</textarea>
								</div>
				
								<div class="col_full nobottommargin" >
									<button class="btn" data-ng-click="postMessage()" data-ng-disabled="!postMessageForm.$valid">Submit</button>
								</div>
				
							</form>
							
							<br />
							
								<ul class="sposts-list clearfix">
                                   <li class="clearfix" data-ng-repeat="chat in messages | orderBy:'createdAt':true">
                                       
                                       <div class="spost-image">
                                           <a href="#"><img data-ng-src='{{chat.userImage}}' width="64" height="64" alt="Avatar" /></a>
                                       </div>
                                       <div class="spost-content clearfix"><strong>{{chat.userName}}: </strong><p ng-bind-html-unsafe="chat.text | truncate:500"></p></div>
                                       
                                   </li>
                               </ul>
							
						</div>
		
				</div>
				
				<div class="landing-offer-text col_last" data-ng-show="liveservice=='liveRequest'">
					<h4>Live Request <button type="button" class="close" data-ng-click="changeLiveService('liveRequest')" aria-hidden="true">&times;</button></h4>
					
					<form class="nobottommargin" id="liveRequestForm" name="liveRequestForm" novalidate>
								
						<div class="col_full nobottommargin">
							<label for="description">Request Description <small>*</small></label>
							<textarea class="required input-block-level" data-ng-model="request.description" rows="10" cols="30" required></textarea>
						</div>
		
						<div class="col_full nobottommargin" >
							<button class="btn" data-ng-click="liveRequestSubmit()" data-ng-disabled="!liveRequestForm.$valid">Submit</button>
						</div>
		
					</form>
					
				</div>
				
				<div class="landing-offer-text col_last" data-ng-show="liveservice=='gifts'">
					 <h4>Send Gifts <button type="button" class="close" data-ng-click="changeLiveService('gifts')" aria-hidden="true">&times;</button></h4>
				</div>
				
				<div class="landing-offer-text col_last" data-ng-show="liveservice=='sharemoments'">
					<h4>Share Your Memories <button type="button" class="close" data-ng-click="changeLiveService('sharemoments')" aria-hidden="true">&times;</button></h4>
				</div>
				
				<div class="landing-offer-text col_last" data-ng-show="liveservice=='photoalbum'">
					<h4>Photo Album <button type="button" class="close" data-ng-click="changeLiveService('photoalbum')" aria-hidden="true">&times;</button></h4>
				</div>
				
				<div class="landing-offer-text col_last" data-ng-show="liveservice=='videoalbum'">
					<h4>Video Album <button type="button" class="close" data-ng-click="changeLiveService('videoalbum')" aria-hidden="true">&times;</button></h4>
				</div>
				
				<div class="landing-offer-text col_last" data-ng-show="liveservice=='videocall'">
					<h4>Video Call <button type="button" class="close" data-ng-click="changeLiveService('videocall')" aria-hidden="true">&times;</button></h4>
					
					You can do a video call on our Skype Id, which is <strong>GransLive</strong>
					
				</div>
		</div>

	</div>

	<div class="container clearfix" data-ng-show="!event">
		<h2>Loading...</h2>
	</div>

</div>

<div id="content">
	<div class="container clearfix" data-ng-show="event">
		<br />
		<h2>{{event.title | truncate:30}}</h2>

		<ul id="ViewerTabs" class="nav nav-tabs">
			<li  class="active"><a href="#facebookComments" data-toggle="tab">Facebook Comments</a></li>
			<li><a href="#aboutDiv" data-toggle="tab">About</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			
			<div class="tab-pane fade in active" id="facebookComments">
				<div id="fb-root"></div>
					<div class="fb-comments" data-height="400px" style="max-height:700px; min-height: 300px;"
						data-href="http://www.granslive.com/#!/event/{{event.id}}"
						data-num-posts="20" data-colorscheme="light" ></div>
			</div>
			
			<div class="tab-pane fade" id="aboutDiv">
				<p ng-bind-html-unsafe="event.description"></p>
			</div>

		</div>

		<div class="dotted-divider"></div>

	</div>
</div>
