<div id="content" data-ng-init="setContent()">

	<div class="clear"></div>
	<br />

	<div class="container clearfix">

		<h2 class="center">
			Our <span>LIVE</span> Services
		</h2>
		
		<p>
			The future of online experiences is here today with the ability to stream 
			webcast your live events to viewers anywhere in the world. You can take your 
			business to new heights and dimensions by instantly connecting with millions 
			of people across the world in Live and real time environment. More and more broadcasters, 
			sports organizations, movie studios, educational institutions, and corporations
			 are reaping the rich rewards by offering live event webcast on the Internet. 
			 A huge market is exploding on the Internet. Be ready to reap its enormous benefits. 
			 Live Webcast your product launches, conferences, seminars and events on the web
			 and also on leading mobile devices and reach a wide base of audience world-wide. <br>
			 
			 Live streaming allows you to listen to music or watch videos live and online. 
			 Streaming means listening to music or watching video in real time.  
			 But in <strong>GransLive</strong> we have added some marvelous services which
			  are not only new to the world but also Discovered by <strong>GransLive</strong>,
			 which can fill your life with enthusiasm with new zeal and zest.<br>
		</p> 
			 
			 <h3>Live Request</h3>
			 <div class="col_one_fifth">
			 	<img alt="LIVE DJ Requests" src="/../images/wedding/dj.jpg" >
			 </div>
			 <div class="col_three_fifth col_last">
				 <p>We love music, people and self expression.  Our primary passion is to facilitate communication.  By just a single click of button you can rock
					the party, you can dedicate and tribute your favourite songs to your loved ones to fill your absence on that Eve.  
					Viewers can do a Video call at event place with Bride or Grooms family from anywhere around the world.</p><br>
			 </div>
			 <div class="clear" />
			  
			<h3>Souvenirs (Gifts)</h3>
			<div class="col_one_fifth">
				<img alt="Send / Receive Gifts" src="/../images/wedding/gifts.png" >
			</div>
			<div class="col_three_fifth col_last">
				<p>May no gift be too small to give, nor too simple to receive, which is wrapped in	thoughtfulness, and tied with love. Gifts have that special knack 
				of bringing a genuine smile on the face of the people and lets you express that you genuinely care.  Generally, people have relatives all across the 
				country and it becomes practically impossible to be personally present during every occasion. However, that does not stop people from expecting surprise 
				gifts from their near and dear ones.</p><br>
			</div>
			<div class="clear" />
			
			<h3>Share Memories</h3>
			<div class="col_one_fifth">
				<img alt="Share Memorable Pictures" src="/../images/wedding/memory-lane.jpg" width="300px;">
			</div>
			<div class="col_three_fifth col_last">
				<p>Memories are the treasures that we keep locked deep within the storehouse of our souls, to keep our
				hearts warm. GransLive provides you the perfect environment to share those memorable moments on special occasions.  You can even upload your photographs to share with the viewers.</p>
				<br />
			</div>
			<div class="clear" />
			
			<h4>Now you have less chances to give excuses to your loved ones</h4>
			<br /><br />
		
	</div>

</div>

