
<div id="content" data-ng-init="initEncoder()">

	<div class="content-wrap" >

		<div class="container clearfix">
		
			<div class="entry_content">
			
				<a href="{{oldHash}}" >Go Back</a><br />
			
				<p>We provide support for a variety of encoders. 
				Select one of the encoder options below and follow the instructions.</p>
				
				<h3>Select your encoder</h3>
				
				<div class="col_one_third nobottommargin col_last">
					<select data-ng-model="selectedEncoder" class="required input-block-level" data-ng-change="encoderSelected();" >
						<option value="fmle">Flash Media Live Encoder (FMLE)</option>
						<option value="wirecast">Wirecast</option>
					</select>
				</div>
				
				 <div class="animate-switch-container" ng-switch on="selectedEncoder">
				      <div class="animate-switch" ng-switch-default >
				      	<br /><br /><br />
				      	<strong>1: Download and Install</strong><br />
				      	Download and install the latest version of FMLE directly from Adobe.<br />			      	
				      	<a href="http://www.adobe.com/products/flash-media-encoder.html" target="_blank">Download FMLE from Adobe</a>
				      	<br /><br />
				      	
				      	<strong>2: Export Settings</strong><br />
				      	To save you some time, we've packaged the proper settings into a downloadable 
				      	profile that can be easily imported into FMLE.<br />
				      	<a href="http://storage.googleapis.com/granslive_store/assets/encoder/youtube_fmle_profile_primary.xml" target="_blank">Download Profile (primary)</a>
				      	<br /><br />
				      	
				      	<strong>3: Import Profiles</strong><br />
				      	In the FMLE application, go to File>Open Profile and load the file you downloaded. If you have a backup encoder, you will need to repeat this process. <br />			      	
				      	<strong>NOTE: You may encounter a "Profile Validation" warning when importing these profiles into FMLE. This is normal and will not affect your stream or harm your system.</strong>
				      	<br /><br />
				      	
				      	<strong>4: Start your encoder</strong><br />
				      	In your encoder, start sending us your video stream. <br />			      	
				      	<br /><br />
				      	
				      	<strong>5: Go to the Live Control Room.</strong><br />
				      	You can preview and start your event from the Live Control Room. <br />			      	
				      	<br /><br />
				      	
				      </div>
				      
				      <div class="animate-switch" ng-switch-when="wirecast">
				      	<br /><br /><br />
				      	<strong>1: Download and Install</strong><br />
				      	Download and install the latest version of Wirecast directly from Telestream.<br />			      	
				      	<a href="http://www.telestream.net/wirecastforyoutube/cb-landing.htm" target="_blank">Download Wirecast</a>
				      	<br /><br />
				      </div>
				      
				 </div>
                  
            </div>

		</div>

	<div class="clear"></div>

	</div>
	
</div>