<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-ng-controller="accountController">
	<div class="modal-header" >
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">Sign in To GransLive</h3>
	</div>
	<div class="modal-body">
		<h4>With your Social Network</h4>
		<div id="socialLoginDiv">
			<ul>
				<li><a href="https://accounts.granslive.appspot.com/api/auth/v1/authenticate?providerId=google&action=login&continue=http://www.granslive.com/#!/"><img alt="Google" src="/../images/icons/social/post/googleplus.png"></a></li>
				<li><a href="https://accounts.granslive.appspot.com/api/auth/v1/authenticate?providerId=facebook&action=login&continue=http://www.granslive.com/#!/"><img alt="Facebook" src="/../images/icons/social/post/facebook.png"></a></li>
				<li><a href="https://accounts.granslive.appspot.com/api/auth/v1/authenticate?providerId=linkedin&action=login&continue=http://www.granslive.com/#!/"><img alt="LinkedIn" src="/../images/icons/social/post/linkedin1.png" ></a></li>
				<li><a href="https://accounts.granslive.appspot.com/api/auth/v1/authenticate?providerId=twitter&action=login&continue=http://www.granslive.com/#!/"><img alt="Twitter" src="/../images/icons/social/post/twitter.png"></a></li>
			</ul>
		</div>

		<br />

		<div class="dotted-divider"></div>
		<h3>Or With GransLive Credentials</h3>
		<br />
		
		<div id="loginTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="loginTab">
				<div id="quick-login-form-result"></div>
				<form id="loginForm" name="loginForm" method="post" class="quick-contact-form nobottommargin">
					<input type="text" class="required email input-block-level" data-ng-model="currentUser.username" placeholder="Email Address" /> 
					<input type="password" class="required input-block-level"
						 data-ng-model="currentUser.password" placeholder="Password" required />
                    <button class="btn btn-success btn-small" data-ng-click="login()" data-dismiss="modal" data-ng-disabled="!loginForm.$valid"  >Login</button>
				</form>
			</div>
		</div>
		
	</div>
	
</div>