<div id="header" data-ng-show="showNavBar">
	<div class="container clearfix">
			<div id="primary-menu" class="col_four_fifth" style="margin-bottom:0px;">
				<div class="rs-menu">
					<i class="fa fa-align-justify"></i>
				</div>
				<ul id="main-menu">
					<li class="current"><a href="/#!/"><div>Home</div></a></li>
					<li class="dropdown top-menu-em" data-ng-if="!currentUser.id">
			          <a href="#" data-toggle="modal" data-target="#loginModal" ><b>Login</b></a>
			        </li>
			        <li class="dropdown" data-ng-if="currentUser.id">
			          <a data-ng-if="currentUser.role == 'admin'" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><b>Admin</b> <span class="caret"></span></a>
						<ul class="dropdown-menu">
				            <li><a href="#!/admin/products"><i class="flaticon-device" ></i>&nbsp;Products</a></li>
				            <li><a href="https://34fd0b82-60b8-4d0d-9231-1f03135d4273-bluemix.cloudant.com/dashboard.html" target="_blank"><i class="fa fa-database" ></i>&nbsp;CloudantDB</a></li>
				            <li><a href="https://rqeofj.internetofthings.ibmcloud.com/dashboard/" target="_blank"><i class="fa fa-microchip" ></i>&nbsp;IoT Platform</a></li>
				            <li><a href="https://console.cloud.google.com/storage/browser/hukam-cdn/?project=hukam-157906" target="_blank"><i class="fa fa-cloud-download" ></i>&nbsp;Google Cloud Storage</a></li>
				            <li><a href="https://console.ng.bluemix.net/devops/pipelines/e413a78c-f491-40f6-81bf-4fdd05697306?env_id=ibm:yp:us-south" target="_blank"><i class="fa fa-code" ></i>&nbsp;DevOps</a></li>
				            
				            <li><a href="https://34fd0b82-60b8-4d0d-9231-1f03135d4273-bluemix.cloudant.com/dashboard.html" target="_blank"><i class="fa fa-github" ></i>&nbsp;GIT Repository</a></li>
				            
				            <li class="divider"></li>
				            <li><a href="#" data-ng-click="logout()"><i class="fa fa-power-off" ></i>&nbsp; Logout</a></li>
						</ul>
					</li>
			        <li class="dropdown" data-ng-if="currentUser.id">
			          <a data-ng-if="currentUser.provider == 'hukam' && currentUser.profile" data-target="#" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><b>{{currentUser.profile.username}}</b> <span class="caret"></span></a>
			          <a data-ng-if="currentUser.provider != 'hukam' && currentUser.profile" data-target="#"  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><b>{{currentUser.profile.name}}</b> <span class="caret"></span></a>
			          <a data-ng-if="currentUser.username && !currentUser.profile" data-target="#"  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><b>{{currentUser.username}}</b> <span class="caret"></span></a>
						<ul class="dropdown-menu">
				            <li><a href="#!/account"><i class="fa fa-cogs" ></i>&nbsp; Account Settings</a></li>
							<li><a href="#!/places"><i class="fa fa-home" ></i>&nbsp; My Places</a></li>
				            <li class="divider"></li>
				            <li><a href="#" data-ng-click="logout()"><i class="fa fa-power-off" ></i>&nbsp; Logout</a></li>
						</ul>
					</li>
						
							<!-- <div style="float:right;margin-top:9px">
						      <div data-addthis-toolbox data-url="http://hbuddy.hukam.in" id="hbuddy" 
						            class="addthis_toolbox addthis_default_style addthis_16x16_style">
						        <a class="addthis_button_facebook"></a>
						        <a class="addthis_button_twitter"></a>
						        <a class="addthis_button_linkedin"></a>
						        <a class="addthis_button_google_plusone_share"></a>
						        <a class="addthis_button_email"></a>
						      </div>
					      </div>  -->
					
				</ul>
			</div>
			
	</div>
</div>