<link rel="stylesheet" type="text/css" href="//cdn.webrupee.com/font">


<div id="content" data-ng-init="accountPage()">

	<div class="container clearfix">
		<div id="planDiv" data-ng-show="showPlans">
		
			<div class="clear"></div>
			<br />

			<div class="container clearfix">

				<h2 class="center" view-title>
					
					Pricing / Packages for <span>LIVE</span> Webcasting
				</h2>

			</div>

			<div class="pricing pricing-style2 clearfix">

				<div class="pricing-wrap best-price">

					<div class="pricing-inner">

						<div class="pricing-title">
							<h4>
								Starter Plan<span>Beginners Delight</span>
							</h4>
						</div>

						<div class="pricing-price">
							FREE<span class="price-tenure">For 5 Hours</span>
						</div>

						<div class="pricing-features">
							<ul>
								<li><span>100</span> Viewers</li>
								<li><a href="#albums"><span>Online</span> Photo and
										Video Albums</a></li>
								<li><span>LIVE</span> Chat</li>
								<li><span>LIVE</span> Requests</li>
								<li><a href="#videoCall"><span>Video</span> Calls</a></li>
								<li><a href="#gifts"><span>Gifts</span> (Send &amp;
										Receive)</a></li>
								<li><a href="#!/contact">Phone &amp; Email Support</a></li>
								<li><del>Video Conferencing</del></li>
							</ul>
						</div>

						<div class="pricing-action" data-ng-switch="currentUser.id && plan.planType=='starter'">
							<a data-ng-switch-when="true" href="#" class="simple-button">Your Current Plan</a>
							<a data-ng-switch-when="false" href="#loginModal" class="simple-button">Get Started</a>
						</div>

					</div>

				</div>


				<div class="pricing-wrap">

					<div class="pricing-inner">

						<div class="pricing-title">
							<h4>
								Professional Plan<span>For Super Professionals</span>
							</h4>
						</div>

						<div class="pricing-price">
							<span class="WebRupee">Rs.</span> 99<span class="price-sub">99</span><span class="price-tenure">per
								hour</span>
						</div>

						<div class="pricing-features">
							<ul>
								<li><span>1000</span> Viewers</li>
								<li><a href="#albums"><span>Online</span> Photo and
										Video Albums</a></li>
								<li><span>LIVE</span> Chat</li>
								<li><span>LIVE</span> Requests</li>
								<li><a href="#!/videoCall"><span>Video</span> Calls</a></li>
								<li><a href="#!/gifts"><span>Gifts</span> (Send &amp;
										Receive)</a></li>
								<li><a href="#!/contact">Phone &amp; Email Support</a></li>
								<li><del>Video Conferencing</del></li>
							</ul>
						</div>

						<div class="pricing-action" data-ng-switch="currentUser.id && plan.planType=='professional'">
							<a data-ng-switch-when="true" href="#" class="simple-button">Your Current Plan</a>
							<a data-ng-switch-when="false" href="#!/buy/plan/professional" class="simple-button">Get Started</a>
						</div>

					</div>

				</div>


				<div class="pricing-wrap best-price">

					<div class="pricing-inner">

						<div class="pricing-title">
							<h4>
								Business Plan<span>Our Best-Selling Plan</span>
							</h4>
						</div>

						<div class="pricing-price">
							<span class="WebRupee">Rs.</span> 149<span class="price-sub">99</span><span class="price-tenure">per
								hour</span>
						</div>

						<div class="pricing-features">
							<ul>
								<li><span>Unlimited</span> Viewers</li>
								<li><a href="#albums"><span>Online</span> Photo and
										Video Albums</a></li>
								<li><span>LIVE</span> Chat</li>
								<li><span>LIVE</span> Requests</li>
								<li><a href="#!/videoCall"><span>Video</span> Calls</a></li>
								<li><a href="#!/gifts"><span>Gifts</span> (Send &amp;
										Receive)</a></li>
								<li><a href="#!/contact">Phone &amp; Email Support</a></li>
								<li><a href="#!/videoConferencing">Video Conferencing</a></li>
							</ul>
						</div>

						<div class="pricing-action" data-ng-switch="currentUser.id && plan.planType=='business'">
							<a data-ng-switch-when="true" href="#" class="simple-button">Your Current Plan</a>
							<a data-ng-switch-when="false" href="#!/buy/plan/business" class="simple-button">Get Started</a>
						</div>

					</div>

				</div>


				<div class="pricing-wrap">

					<div class="pricing-inner">

						<div class="pricing-title">
							<h4>
								Enterprise Plan<span>For Corporates &amp; Man-Eaters</span>
							</h4>
						</div>

						<div class="pricing-price">
							<span class="WebRupee">Rs.</span> 299<span class="price-sub">99</span><span class="price-tenure">per
								hour</span>
						</div>

						<div class="pricing-features">
							<ul>
								<li><span>Unlimited</span> Viewers</li>
								<li><a href="#albums"><span>Online</span> Photo and
										Video Albums</a></li>
								<li><span>LIVE</span> Chat</li>
								<li><span>LIVE</span> Requests</li>
								<li><a href="#!/videoCall"><span>Video</span> Calls</a></li>
								<li><a href="#!/gifts"><span>Gifts</span> (Send &amp;
										Receive)</a></li>
								<li><span>Support</span><a href="#!/contact">(Phone
										&amp; Email)</a></li>
								<li><a href="#!/videoConferencing">Video Conferencing</a></li>
							</ul>
						</div>

						<div class="pricing-action" data-ng-switch="currentUser.id && plan.planType=='enterprise'">
							<a data-ng-switch-when="true" href="#" class="simple-button">Your Current Plan</a>
							<a data-ng-switch-when="false" href="#!/buy/plan/enterprise" class="simple-button">Get Started</a>
						</div>

					</div>

				</div>

			</div>

			<div class="container">
				<div class="pricing-title">
					<h5>
						<span>Note: </span> Bandwidth usage will be charged for all above
						plans at the rate of ₹10 per GB. This will only be charged for
						Network Out Bandwidth and there are no charges for Network In.
						Also note that being on the same plan, you can start or stop your
						server at any time. This way, you will only be charged for the
						hours your server was running.
					</h5>
				</div>

				<div class="pricing-action center">
					<a href="" data-ng-click="showBillCalculator()"
						class="simple-button">Bill Calculator</a>
				</div>

			</div>
		</div>

		<div id="calculatorDiv" data-ng-show="showCalculator">

			<div class="container clearfix">
				<h2 class="center">
					Billing Calculator
				</h2>

				<div class="pricing-action center">
					<a href="" data-ng-click="showStreamingPlans()"
						class="simple-button">Show Plans</a>
				</div>

			</div>

		</div>
	</div>

	<div class="line"></div>

</div>

