<div id="content" data-ng-init="setContent()">

	<br />

	<div class="container clearfix">
		<view-title>Servicde Providers</view-title>
		<div class="clear"></div>
          <div class="promo clearfix">
              <div class="promo-desc">
                  <h3>Call us today on <span>+91 9643 9893 77 / +91 814 609 4888 </span> or Email us at <span>contact@granslive.com</span></h3>
                  <span>If you want to be a part of GransLive Group and provide any of the below mentioned services</span>
              </div>
              <div class="promo-action"><a href="/#!/contact">Contact Us</a></div>
          </div>
          
          <div class="clear"></div>
          
          <div class="col_full topmargin nobottommargin">
                    
                  <div class="tab_widget side-tabs clearfix nobottommargin" id="serviceProviderTabs" data-ng-init="handleTabWidgets('serviceProviderTabs')">
                  
                      <ul class="tabs">
                          <li><a href="#photographySideTab" data-href="#photographySideTab"><i class="fa fa-video-camera"></i> Photography</a></li>
                          <li><a href="#musicSideTab" data-href="#musicSideTab"><i class="fa fa-music"></i> Music And DJ</a></li>
                          <li><a href="#decorationSideTab" data-href="#decorationSideTab"><i class="fa fa-gift"></i> Decoration</a></li>
                          <li><a href="#venueSideTab" data-href="#venueSideTab"><i class="fa fa-map-marker"></i> Venue</a></li>
                      </ul>
                      
                      <div class="tab_container">
                      	
                      	<div id="photographySideTab" class="tab_content clearfix">
                              <div class="wp-caption alignright notopmargin">
                                  <img src="/../images/catalog/catalog/videography3.jpg" class="img-polaroid" alt="Photography" title="Photography" />
                                  <p class="wp-caption-text">Photography</p>
                              </div>
                              
                              <h3>Photography Professionals</h3>
                              <p>Send us the samples of your photography with your work address and other details.</p>
                          </div>
                          
                          <div id="musicSideTab" class="tab_content clearfix">
                              <div class="wp-caption alignright notopmargin">
                                  <img src="/../images/catalog/catalog/DJ2.jpg" class="img-polaroid" alt="Music And DJ" title="Music And DJ" />
                                  <p class="wp-caption-text">Music And DJ</p>
                              </div>
                              
                              <h3>Music And DJ Professionals</h3>
                              <p>Send us the samples of your Music or DJ with your work address and other details.</p>
                              
                          </div>
                          
                          <div id="decorationSideTab" class="tab_content clearfix">
                              <div class="wp-caption alignright notopmargin">
                                  <img src="/../images/catalog/catalog/Sagan-Shot-1.jpg" class="img-polaroid" alt="Decoration" title="Decoration" />
                                  <p class="wp-caption-text">Decoration</p>
                              </div>
                              
                              <h3>Event Venue Decoration</h3>
                              <p>Send us the samples like photographs or video of your decoration work along with your work address and other details.</p>
                          </div>
                          
                          <div id="venueSideTab" class="tab_content clearfix">
                              <div class="wp-caption alignright notopmargin">
                                  <img src="/../images/catalog/catalog/dance.jpg" class="img-polaroid" alt="Venue" title="Venue" />
                                  <p class="wp-caption-text">Venue</p>
                              </div>
                              
                              <h3>Event Venue </h3>
                              <p>Send us the samples like photographs or video of the Venue (Banquet Hall, Lawn etc.) along with the address and other details.</p>
                          </div>
                          
                          
                      </div>
                  
                  </div>
                        
                 <div class="clear"></div>
             
             </div>
	</div>

</div>

