
<div id="content" data-ng-init="setContent()">

	<div class="content-wrap">
	
		<div class="container clearfix" >
		
			<div class="alert {{pageContent.message.msgClass}}"
				data-ng-show="pageContent.message.text">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{pageContent.message.strongMsg}}</strong>
				{{pageContent.message.text}}
			</div>

			<iframe src="https://docs.google.com/forms/d/1ZKuCtYKWNQRdwbIr3InWeYcZPlR00wPpPkpXkndCbbQ/viewform?embedded=true" 
			width="{{width}}" height="{{height}}" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

			<div class="clear"></div>

		</div>
	</div>
</div>
