
<div class="container" data-ng-init="initProducts();">

	<br />
	<div class="clearfix"></div>

	<div>
		<div class="col-sm-10">
			<h3 data-ng-if="boards.length == 0">There are no boards found</h3>
			<h3 data-ng-if="boards.length > 0">Boards in Production</h3>
		</div>
		<div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary"
					data-ng-click="showAddNewBoardPanel();" data-toggle="tooltip"
					data-placement="bottom" title="Add New Board">
					<span class="fa fa-plus"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="panel panel-default"
		data-ng-if="display == 'saveBoardPanel'">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#boardPanel">Add/Update Board</a>
			</h4>
		</div>

		<div id="boardPanel" class="panel-collapse collapse in">

			<div class="panel-body">
				<form class="form-horizontal" role="form" method="post">
				
					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">Type:</label>
						<div class="col-lg-4">
							<select class="form-control" data-ng-model="selectedBoard.type">
					    		<option data-ng-repeat="option in boardTypes" value="{{option}}">{{option}}</option>
						    </select>
								
						</div>
					</div>
					
					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">Unique Identifier:</label>
						<div class="col-lg-4">
							<input type="text" class="form-control"
								data-ng-model="selectedBoard.uniqueIdentifier">
						</div>
					</div>
					
					<div data-ng-if="selectedBoard.type == 'HukamGateway'">
						<div class="form-group" >
							<label for="name" class="col-lg-2 control-label">Manufacturer:</label>
							<div class="col-lg-4">
								<input type="text" class="form-control"
									data-ng-model="selectedBoard.manufacturer" placeholder="Hukam">
							</div>
						</div>
						<div class="form-group" >
							<label for="name" class="col-lg-2 control-label">Model:</label>
							<div class="col-lg-4">
								<input type="text" class="form-control"
									data-ng-model="selectedBoard.model" placeholder="RPI-3">
							</div>
						</div>
						<div class="form-group" >
							<label for="name" class="col-lg-2 control-label">Class:</label>
							<div class="col-lg-4">
								<input type="text" class="form-control"
									data-ng-model="selectedBoard.deviceClass" placeholder="Gateway">
							</div>
						</div>
						<div class="form-group" >
							<label for="name" class="col-lg-2 control-label">fwVersion:</label>
							<div class="col-lg-4">
								<input type="text" class="form-control"
									data-ng-model="selectedBoard.fwVersion" placeholder="1-0-1">
							</div>
						</div>
						<div class="form-group" >
							<label for="name" class="col-lg-2 control-label">hwVersion:</label>
							<div class="col-lg-4">
								<input type="text" class="form-control"
									data-ng-model="selectedBoard.hwVersion" placeholder="1-0-1">
							</div>
						</div>
						<div class="form-group" >
							<label for="name" class="col-lg-2 control-label">descriptiveLocation:</label>
							<div class="col-lg-4">
								<input type="text" class="form-control"
									data-ng-model="selectedBoard.descriptiveLocation" >
							</div>
						</div>
					</div>
					<div class="form-group" data-ng-if="selectedBoard.type == 'SENSOR_BOARD'">
						<label for="name" class="col-lg-2 control-label">SubType:</label>
						<div class="col-lg-4">
							<input type="text" class="form-control"
								data-ng-model="selectedBoard.subType">
						</div>
					</div>
					<div class="form-group" data-ng-if="selectedBoard.type == 'SWITCH_BOARD'">
				   		<label class="col-lg-2 control-label">Digital Switches:</label>
				   		<div class="col-lg-1">
					    	<select class="form-control" data-ng-model="selectedSwitchCounts.digital">
					    		<option data-ng-repeat="option in switches.digital" value="{{option}}">{{option}}</option>
						    </select>
				   	  	</div>
				   	  	
				   	  	<label class="col-lg-2 control-label">Analog Switches:</label>
				   		<div class="col-lg-1">
					    	<select class="form-control" data-ng-model="selectedSwitchCounts.analog">
					    		<option data-ng-repeat="option in switches.analog" value="{{option}}">{{option}}</option>
						    </select>
				   	  	</div>
				   	</div>
					
					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">Title:</label>
						<div class="col-lg-4">
							<input type="text" class="form-control"
								data-ng-model="selectedBoard.title">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">Description:</label>
						<div class="col-lg-4">
							<textarea class="form-control"
								data-ng-model="selectedBoard.description"></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" data-ng-click="saveBoard();"
								data-ng-if="!selectedBoard.id">Create</button>
							<button type="submit" data-ng-click="saveBoard();"
								data-ng-if="selectedBoard.id">Update</button>
							<button type="submit" data-ng-click="fetchAndShowBoards();">cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	<div style="clear: both;"></div>

	<div class="row" data-ng-if="display == 'boards'" >
		
		<div class="row appliances-tab tab-pane fade in active" id="boards">
	   		<ul class="list-group list-group-flush small-font">
				<li class="list-group-item"
					data-ng-repeat="board in boards"><span >&nbsp;<i class="{{board.status}}"> {{board.uniqueIdentifier}} - {{board.title}}</i> </span>
					<div class="pull-right">
						<a style="text-decoration: none;" href="javascript:void(0);"
							data-ng-click="showUpdateBoard(board);"
							data-toggle="tooltip" data-placement="left" title="Update">
							<span class="fa fa-edit"></span>
						</a> &nbsp;	
						  <i class="fa fa-times"
					         data-ng-click="deleteBoard(board);"
					         data-toggle="tooltip" data-placement="left" title="Delete Board">
					      </i>
					</div>
				</li>
			</ul>
	   </div>
		

	</div>
	
	<div class="clearfix"></div>
	<div style="clear: both;"></div>
	
	<br /><br />

</div>