
	<div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('/assets/material-kit/assets/img/bg2.jpeg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Our IoT Solutions</h1>
						<h4>We offer a holistic IIoT solution combining smart sensors, AI-based analytics and the visualization of key insights to reduce operational costs and increase machine uptime.</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">

					<div class="section section-landing">
							<div class="container">
								<div class="row">
										<div class="col-md-8 col-md-offset-2 text-center">
												<h2 class="title">Solutions We Power</h2>
												<br />
										</div>
								</div>

								<div class="row">
		    					<div class="col-md-4">
											<div class="card card-blog card-rotate">
														<div class="rotating-card-container">
															<div class="card-image">
																<div class="front">
																	<img class="img" src="/assets/images/home-automation-2.jpg">
																	<div class="colored-shadow" style="background-image: url('/assets/images/home-automation-2.jpg'); opacity: 1;"></div>
																</div>

																<div class="back back-background" style="height: 220px; width: 330px; background-image: url('/assets/images/home-automation-2.jpg');">
																	<div class="card-content">
																		<h5 class="card-title">
																			Home Automation
																		</h5>
																		<p class="card-description">
																			Make your home the smartest on the block
																		</p>
																		<div class="footer text-center">
																			<a href="/iot/hbuddy" class="btn btn-rose btn-round">
																				<i class="material-icons">subject</i> Read
																			</a>
																		</div>
																	</div>
																	</div>
															</div>
														</div>
														<div class="card-content">
						    								<h4 class="card-title">
						    									<a href="/iot/hbuddy">hBuddy - To make every home a Smart Home</a>
						    								</h4>
						    								<p class="card-description">
						    									You have enough to take care of when it comes to your home and your family. <b>hBuddy</b> lets you monitor your entire home, even when you aren’t there.
						    								</p>
																<div class="footer">
																	<b>Share: </b>
																	<a href="#" class="btn btn-just-icon btn-google btn-simple"><i class="fa fa-google"></i></a>
																	<a href="#" class="btn btn-just-icon btn-facebook btn-simple"><i class="fa fa-facebook"></i></a>
																	<a href="#" class="btn btn-just-icon btn-linkedin btn-simple"><i class="fa fa-linkedin"></i></a>
																	<a href="#" class="btn btn-just-icon btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
																</div>
						    					</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="card card-blog card-rotate">
														<div class="rotating-card-container">
															<div class="card-image">
																<div class="front">
																	<img class="img" src="/assets/images/manufacturing2.jpg">
																	<div class="colored-shadow" style="background-image: url('/assets/images/manufacturing2.jpg'); opacity: 1;"></div>
																</div>

																<div class="back back-background" style="height: 220px; width: 330px; background-image: url('/assets/images/manufacturing2.jpg');">
																	<div class="card-content">
																		<h5 class="card-title">
																			Manufacturing Industry
																		</h5>
																		<p class="card-description">
																			Our IIoT Solutions for every indusytry
																		</p>
																		<div class="footer text-center">
																			<a href="/industries" class="btn btn-rose btn-round">
																				<i class="material-icons">subject</i> Read
																			</a>
																		</div>
																	</div>
																	</div>
															</div>
														</div>
														<div class="card-content">
						    								<h4 class="card-title">
						    									<a href="/industries">Our IIoT soltions for manufacturing industry</a>
						    								</h4>
						    								<p class="card-description">
						    									We offer a holistic IIoT solution combining smart sensors, AI-based analytics and the visualization of key insights to reduce operational costs and increase machine uptime.
						    								</p>
																<div class="footer">
																	<b>Share: </b>
																	<a href="#" class="btn btn-just-icon btn-google btn-simple"><i class="fa fa-google"></i></a>
																	<a href="#" class="btn btn-just-icon btn-facebook btn-simple"><i class="fa fa-facebook"></i></a>
																	<a href="#" class="btn btn-just-icon btn-linkedin btn-simple"><i class="fa fa-linkedin"></i></a>
																	<a href="#" class="btn btn-just-icon btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
																</div>
						    					</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="card card-blog card-rotate">
														<div class="rotating-card-container">
															<div class="card-image ">
																<div class="front">
																	<img class="img" src="/assets/images/agriculture3.jpg">
																	<div class="colored-shadow" style="background-image: url('/assets/images/agriculture3.jpg'); opacity: 1;"></div>
																</div>

																<div class="back back-background" style="height: 220px; width: 330px; background-image: url('/assets/images/agriculture3.jpg');">
																	<div class="card-content">
																		<h5 class="card-title">
																			Smart Agriculture
																		</h5>
																		<p class="card-description">
																			IoT in Agriculture
																		</p>
																		<div class="footer text-center">
																			<a href="/agriculture" class="btn btn-rose btn-round">
																				<i class="material-icons">subject</i> Read
																			</a>
																		</div>
																	</div>
																	</div>
															</div>
														</div>
														<div class="card-content">
						    								<h4 class="card-title">
						    									<a href="/agriculture">IoT and Smart Agriculture</a>
						    								</h4>
						    								<p class="card-description">
						    									Smart farming is a concept quickly catching on in the agricultural business. Offering high-precision crop control, useful data collection, and automated farming techniques, there are clearly many advantages a networked farm has to offer.
						    								</p>
																<div class="footer">
																	<b>Share: </b>
																	<a href="#" class="btn btn-just-icon btn-google btn-simple"><i class="fa fa-google"></i></a>
																	<a href="#" class="btn btn-just-icon btn-facebook btn-simple"><i class="fa fa-facebook"></i></a>
																	<a href="#" class="btn btn-just-icon btn-linkedin btn-simple"><i class="fa fa-linkedin"></i></a>
																	<a href="#" class="btn btn-just-icon btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
																</div>
						    					</div>
											</div>
									</div>
								</div>

								<hr />

								<div class="col-md-12">
									   <div class="card card-plain card-blog">
														<div class="row">
															<div class="col-md-7">
																<h6 class="category text-danger">
																	<i class="material-icons">trending_up</i> Insights
																</h6>
																<h3 class="card-title">
																	<a href="/">FROM SENSORS DATA TO ACTIONABLE INSIGHTS</a>
																</h3>
																<p class="card-description">
																	Digitized processes open up countless new possibilities for your business - and we help you take advantage of this trend: Hukam offers an end-to-end solution from gathering data, to analyzing it based on artificial intelligence, visualizing the results and optimizing your maintenance planning.
			We are sensor data experts and help you to maximize the availability of your assets. <a href="/"> Read More </a>
																</p>

															</div>
															<div class="col-md-5">
																<div class="card-image">
																	<img class="img img-raised" src="/assets/images/manufacturing-graph.png" />
																</div>
															</div>
														</div>
										 </div>

										<hr />

										<div class="card card-plain card-blog">
											<div class="row">
												<div class="col-md-5">
													<div class="card-image">
														<img class="img img-raised" src="/assets/images/analytics3.jpg" />
													</div>
												</div>
												<div class="col-md-7">
													<h6 class="category text-info">Enterprise</h6>
													<h3 class="card-title">
														<a href="/">MAKE SENSE OF YOUR DATA</a>
													</h3>
													<p class="card-description">
														Your data is an essential part of your operations. We help you realize the full potential of your assets and reduce operational costs. Whether it is a manufacturing industry or industrial applications, you can only gain from continuously monitoring asset condition and implementing predictive maintenance based on machine learning algorithms.<a href="/"> Read More </a>
													</p>
												</div>
											</div>
										</div>


								</div>


							</div>

					</div>

		</div>

		<div class="cd-section" id="contactus">

			<div class="contactus-1 section-image" style="background-image: url('/assets/images/contact.jpg')">

				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h2 class="title">Get in Touch</h2>
							<h5 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h5>
							<div class="info info-horizontal">
								<div class="icon icon-primary">
									<i class="material-icons">email</i>
								</div>
								<div class="description">
									<h4 class="info-title">contact@hukamtechnologies.com</h4>
								</div>
							</div>
							<div class="info info-horizontal">
								<div class="icon icon-primary">
									<i class="material-icons">phone</i>
								</div>
								<div class="description">
									<h4 class="info-title">+91 9999404190</h4>
								</div>
							</div>

							<div class=" sharing-area text-center">
											<a href="#" class="btn btn-twitter">
													<i class="fa fa-twitter"></i>
													Tweet
											</a>
											<a href="#" class="btn btn-facebook">
													<i class="fa fa-facebook-square"></i>
													Share
											</a>
											<a href="#" class="btn btn-google-plus">
													<i class="fa fa-google-plus"></i>
													Share
											</a>
											<a href="#" class="btn btn-linkedin">
													<i class="fa fa-linkedin"></i>
													Share
											</a>
							</div>

						</div>
						<div class="col-md-5">
							<div class="card card-contact">
								<form role="form" id="contact-form" method="post">
									<div class="header header-raised header-primary text-center">
										<h4 class="card-title">Contact Us</h4>
									</div>
									<div class="card-content">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">First name</label>
													<input type="text" name="name" class="form-control">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">Last name</label>
													<input type="text" name="name" class="form-control">
												</div>
											</div>
										</div>
										<div class="form-group label-floating">
											<label class="control-label">Email address</label>
											<input type="email" name="email" class="form-control"/>
										</div>
										<div class="form-group label-floating">
											<label class="control-label">Your message</label>
											<textarea name="message" class="form-control" id="message" rows="6"></textarea>
										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="checkbox">
													<label>
														<input type="checkbox" name="optionsCheckboxes">
														I'm not a robot
													</label>
												</div>
											</div>
											<div class="col-md-6">
												<button type="submit" class="btn btn-primary pull-right">Send Message</button>
											</div>
										</div>

									</div>

								</form>
							</div>
						</div>
					</div>




				</div>
			</div>
		</div>
