
	<div id="social_header" class="header header-filter" >
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand text-center">
						<h1>Social</h1>
						<h2>I love my personal life and having a social life.  And I didn't ever want to have to compromise.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
					<div class="profile-content">
							<div class="container">
								<div class="row">
												<div class="col-md-8 col-md-offset-2 text-center">
													<h3 class="title">Gurvinder Singh</h3>
														<h6>Cloud Solutions Architect (IBM - ISL)</h6>
												</div>
								</div>
                <div class="row">
                    <!-- <h2>Nothing to share on my personal/social life as of now...</h2> -->
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <disqus [identifier]="disqusConfig.pageIdentifier" [url]="disqusConfig.pageUrl" [lang]="'en'" ></disqus>
                    </div>
                </div>
							</div>

					</div>

		</div>
