
<nav class="navbar navbar-primary navbar-transparent navbar-fixed-top navbar-color-on-scroll" >
	<div class="container">
        <div class="navbar-header">
		    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
		        	<span class="sr-only">Toggle navigation</span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		    	</button>
	    		<a routerLink="/">
	        	<div class="logo-container" *ngIf="showLogo">
							<div class="logo">
									<img src="../assets/images/profile.jpeg" alt="Home" rel="tooltip" title="Gurvinder Profile" data-placement="bottom" data-html="true">
							</div>
	                <div class="brand">
	                    <!-- AllAboutGurvinder -->
	                </div>
						</div>
	      	</a>
	    </div>

	    <div class="collapse navbar-collapse" id="navigation-index">
	    	<ul class="nav navbar-nav navbar-right">
						<!-- <li *ngIf="!currentUser || !currentUser.name">
								<a href="#" data-toggle="modal" data-target="#loginModal">
									<i class="material-icons">login</i> Login
								</a>
						</li>
						<li *ngIf="currentUser && currentUser.name" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									 {{currentUser.name}}
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
										<li><a routerLink="/account" >Account Settings</a></li>
										<li class="divider"></li>
										<li><a href="javascript:void(0);" (click)="logout();">Logout</a></li>
								</ul>
						</li>
						<li *ngIf="currentUser && currentUser.email == 'sinny777@gmail.com'" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Admin
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
										<li><a target="_blank" href="https://console.bluemix.net/services/iotf-service/fcff5d8e-6106-4013-b5a6-26c1de9917fa" >IoT Platform</a></li>
										<li><a target="_blank" href="https://34fd0b82-60b8-4d0d-9231-1f03135d4273-bluemix.cloudant.com/dashboard.html#/_all_dbs">CloudantDB</a></li>
										<li><a target="_blank" href="https://watson-conversation.ng.bluemix.net/us-south/9cafee8e-239f-412a-ae15-5bb338f83803/workspaces">Conversation</a></li>
										<li><a target="_blank" href="https://console.bluemix.net/services/Object-Storage/cc2840c0-0a4a-4e30-a58c-4fb16873bc12">Object Storage</a></li>
										<li><a target="_blank" href="https://console.bluemix.net/devops/pipelines/56d9538c-ef70-4c9a-b3cc-0254e653eda8?env_id=ibm:yp:us-south">DevOps</a></li>
								</ul>
						</li> -->
						<li>
							<a rel="tooltip" title="Follow me on Google" data-placement="bottom" href="https://plus.google.com/+GurvinderSinghOnGoogle" target="_blank" class="btn btn-simple btn-white btn-just-icon">
								<i class="fa fa-google-plus"></i>
							</a>
						</li>
						<li>
                <a rel="tooltip" title="Follow me on Twitter" data-placement="bottom" href="https://twitter.com/gurvinder_777" target="_blank" class="btn btn-simple btn-white btn-just-icon">
										<i class="fa fa-twitter"></i>
								</a>
		        </li>
		        <li>
		             <a rel="tooltip" title="Follow me on Facebook" data-placement="bottom" href="https://www.facebook.com/sinny777" target="_blank" class="btn btn-simple btn-white btn-just-icon">
									 <i class="fa fa-facebook-square"></i>
								 </a>
		        </li>
					 <li>
                <a rel="tooltip" title="Connect on LinkedIn" data-placement="bottom" href="https://www.linkedin.com/in/gurvindersingh777/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
									<i class="fa fa-linkedin"></i>
								</a>
		       </li>
						<!-- <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">menu</i>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
										<li class="dropdown-header">Company</li>
										<li><a href="/public/aboutus">About Us</a></li>
										<li><a href="/public/careers">Careers</a></li>
										<li><a href="/public/contact">Contact Us</a></li>
										<li class="divider"></li>
										<li class="dropdown-header">Services</li>
										<li><a routerLink="/iot/hbuddy" >Home Automation</a></li>
										<li><a href="/iot/industries">Industry Solutions</a></li>
										<li><a href="/iot/agriculture">Smart Agriculture</a></li>
								</ul>
						</li> -->
	    	</ul>
	    </div>
	</div>
</nav>
<!-- End Navbar -->

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="card card-signup card-plain">
				<div class="modal-header">
					<button #closeBtn type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>

					<div class="header header-primary text-center">
						<h4 class="card-title">Log in</h4>
						<div class="social-line">
							<a href="javascript:void(0);" (click)="signIn('google');" class="btn btn-just-icon btn-simple">
								<i class="fa fa-google-plus"></i>
							</a>
							<a href="javascript:void(0);" (click)="signIn('facebook');" class="btn btn-just-icon btn-simple">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a href="javascript:void(0);" (click)="signIn('linkedin');" class="btn btn-just-icon btn-simple">
								<i class="fa fa-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="modal-body">

								<form class="form" [formGroup]="loginForm" (ngSubmit)="handleLogin(loginForm.value)">
									<p class="description text-center">Or Be Classical</p>
									<div class="card-content">

										<div class="input-group">
											<span class="input-group-addon">
												<i class="material-icons">email</i>
											</span>
											<div class="form-group is-empty"><input type="text" class="form-control" placeholder="Username/Email" formControlName="username"><span class="material-input"></span></div>
										</div>

										<div class="input-group">
											<span class="input-group-addon">
												<i class="material-icons">lock_outline</i>
											</span>
											<div class="form-group is-empty"><input type="password" placeholder="Password" formControlName="password" class="form-control"><span class="material-input"></span></div>
										</div>

									</div>

									<div class="text-center login-btn">
											<input type="submit" class="btn btn-primary btn-simple btn-wd btn-lg" value="Login" [disabled]="!loginForm.valid" >
									</div>

								</form>

				</div>
				<div class="modal-footer text-center register-text">
					Don't have an account ? <a href="javascript:void(0);" (click)="gotoRegister();" class="">Click here to Register</a>
					<!-- <input type="submit" class="btn btn-primary btn-simple btn-wd btn-lg" value="Login" [disabled]="!loginForm.valid"> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!--  End Modal -->

	<!-- <app-dashboard></app-dashboard> -->
	<!-- <app-home></app-home> -->
	<router-outlet></router-outlet>

	<div class="cd-section" id="contactus">

		<div class="contactus-1 section-image" style="background-image: url('/assets/images/contact.jpg')">

			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h2 class="title">Get in Touch</h2>
						<!-- <h5 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h5> -->
						<div class="info info-horizontal">
							<div class="icon icon-primary">
								<i class="material-icons">email</i>
							</div>
							<div class="description">
								<h4 class="info-title">sinny777@gmail.com</h4>
							</div>
						</div>
						<div class="info info-horizontal">
							<div class="icon icon-primary">
								<i class="material-icons">phone</i>
							</div>
							<div class="description">
								<h4 class="info-title">+91 9643989377</h4>
							</div>
						</div>

						<div class=" sharing-area text-center">
										<button shareButton="twitter" class="btn btn-twitter">
											<i class="fa fa-twitter"></i>
										</button>
										<button shareButton="facebook" class="btn btn-facebook">
											<i class="fa fa-facebook-square"></i>
										</button>
										<button shareButton="google" class="btn btn-google-plus">
											<i class="fa fa-google-plus"></i>
										</button>
										<button shareButton="linkedin" class="btn btn-linkedin">
											<i class="fa fa-linkedin"></i>
										</button>
						</div>

					</div>
					<div class="col-md-5">
						<div class="card card-contact">
							<form role="form" #contactForm="ngForm" method="post">
								<div class="header header-raised header-primary text-center">
									<h4 class="card-title">Contact Me</h4>
								</div>
								<div class="card-content">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group label-floating">
												<label class="control-label">First name</label>
												<input type="text" class="form-control"	#firstName="ngModel" name="firstName" required [(ngModel)]="contactPayload.firstName">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group label-floating">
												<label class="control-label">Last name</label>
												<input type="text" class="form-control"	#lastName="ngModel" name="lastName" [(ngModel)]="contactPayload.lastName">
											</div>
										</div>
									</div>
									<div class="form-group label-floating">
										<label class="control-label">Email address</label>
										<input type="text" class="form-control"	#firstName="ngModel" name="email" required [(ngModel)]="contactPayload.email">
									</div>
									<div class="form-group label-floating">
										<label class="control-label">Your message</label>
										<textarea class="form-control" rows="6" #message="ngModel" name="message" [(ngModel)]="contactPayload.message" placeholder="Your Message..."></textarea>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="checkbox">
												<label>
													<input type="checkbox" name="optionsCheckboxes">
													I'm not a robot
												</label>
											</div>
										</div>
										<div class="col-md-6">
											<button type="submit" class="btn btn-primary pull-right" (click)="sendEmail();" [disabled]="!contactForm.form.valid">Send Message</button>
										</div>
									</div>

								</div>

							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


<footer class="footer">
	<div class="container">
			<!-- <nav class="pull-left">
					<ul>
						<li>
							<a href="/">
								Gurvinder Singh
							</a>
						</li>
						<li>
							<a href="/privacy">
								Privacy
							</a>
						</li>
						<li>
							<a href="/terms">
								Terms Of Use
							</a>
						</li>
					</ul>
			</nav> -->
			<ul class="social-buttons pull-center">
				<li>
					<a rel="tooltip" title="Follow me on Google" data-placement="top" href="https://plus.google.com/+GurvinderSinghOnGoogle" target="_blank" class="btn btn-just-icon btn-simple btn-google-plus">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Follow me on Twitter" data-placement="top" href="https://twitter.com/gurvinder_777" target="_blank" class="btn btn-just-icon btn-simple btn-twitter">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Like me on Facebook" data-placement="top" href="https://www.facebook.com/sinny777" target="_blank" class="btn btn-just-icon btn-simple btn-facebook">
						<i class="fa fa-facebook-square"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Connect with me on LinkedIn" data-placement="top" href="https://www.linkedin.com/in/gurvindersingh777/" target="_blank" class="btn btn-just-icon btn-simple btn-linkedin">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
			</ul>

			<div class="copyright pull-right">
					&copy; 2018, created by Gurvinder Singh.
			</div>
	</div>
</footer>

<script type="text/javascript">

  $().ready(function(){
    // the body of this function is in assets/material-kit/assets/material-kit.js

        materialKit.initSliders();
        window_width = $(window).width();

          if (window_width >= 992){
            big_image = $('.wrapper > .header');

            $(window).on('scroll', materialKitDemo.checkScrollForParallax);
          }

  });
</script>
