<div id="content" data-ng-init="setContent()">

<META view-head NAME="description"
  CONTENT="{{pageContent.pageDescription}}">
<meta view-head property="og:title" content="{{pageContent.pageTitle}}" />
<meta view-head property="og:description"
  content="{{pageContent.pageDescription}}" />
<meta view-head property="og:site_name" content="http://www.granslive.com" />

	<div class="container clearfix">
	
		<div class="clear"></div>
		<br />

		<h2 class="center">
			Catering Services
		</h2>
		
		<br />
            <img ng-src="//storage.googleapis.com/granslive_store/assets/images/catering.jpg" alt="Catering Service" width="200px" />
       <br />

		<p>
			Make your special day unforgettable for people attending the wedding with indulging food. We help you with selecting a menu that has a fine balance of Indian feasts and global cuisine that will delight the palate of your guests. For your sweet-tooth indulge in wide variety of mouth-watering gourmet desserts. Beverages both alcoholic and non-alcoholic can be served; having your own signature cocktail menu will add a personalized touch to the celebrations.<br /><br />
			Most scrumptious food would look unappetizing without apt presentation, thus is important to make sure that you have the best food with festive presentation to make your wedding stand out. We also make sure that your wedding cake is an extension of your wedding celebrations.<br /><br />
		</p>
	</div>

</div>

