<div id="content" data-ng-init="setContent()">
<META view-head NAME="description"
  CONTENT="{{pageContent.pageDescription}}">
<meta view-head property="og:title" content="{{pageContent.pageTitle}}" />
<meta view-head property="og:description"
  content="{{pageContent.pageDescription}}" />
<meta view-head property="og:site_name" content="http://www.granslive.com" />

	<div class="container clearfix">
	
		<div class="clear"></div>
		<br />

		<h2 class="center">
			Cloud Solutions
		</h2>
		
		<br />
            <img ng-src="//storage.googleapis.com/granslive_store/assets/images/Cloud-Solution-Infographic.png" alt="Cloud Solutions" width="200px" />
       <br />

		<p>
			At Hukam, we believe the cloud provides an opportunity for organizations to accelerate their ability to serve customers as well as their employees. However, embracing the cloud requires a thoughtful transformation that properly aligns several critical factors including cultural behavior, organizational structure, industry demands, existing processes, and technical integration. Hukam brings the passion, focus, capabilities, and experience to assist organizations through all stages of this transformation.<br /><br />
			Google is a recognized leader in bringing disruptive cloud innovation to today’s enterprise through a growing suite of solutions. At Hukam, we not only deliver Google cloud technology, but also the transformative talents to serve as a valued long-term partner through all stages of the journey.<br /><br />
			Our consultants will ensure you are making the most out of “going Google” by guiding you through the entire process from strategy development to deployment to ongoing advocacy. With our breadth of strategy-led consulting experience, Hukam is the go-to business partner for enterprise cloud transformations. 		
		</p>
		
		<div class="clear"></div>
				<div class="col_one_third" >
					<div class="product-feature product-feature3">
							<a href="https://www.google.com/intx/en_in/work/apps/business/" target="_blank" ><img ng-src="//storage.googleapis.com/granslive_store/assets/images/googleApps.png" alt="Cloud Solutions" /></a><h3><a href="/#!/services/cloudsolutions" >Google Apps</a></h3>
							<p>
								Cloud-based productivity suite that connects your team to get work done from anywhere, anytime...
							</p>
					</div>
					
				</div>
				
				<div class="col_one_third" >
					<div class="product-feature product-feature3">
							<a href="https://cloud.google.com/" target="_blank" ><img ng-src="//storage.googleapis.com/granslive_store/assets/images/googleCloudPlatform.png" alt="Service Oriented Architecture" /></a><h3><a href="/#!/services/cloudsolutions" >Google Cloud Platform</a></h3>
							<p>
								Google Cloud Platform is a set of modular cloud-based services that allow you to create anything from simple websites to complex applications....
							</p>
					</div>
				</div>
				
				<div class="col_one_third col_last" >
					<div class="product-feature product-feature3">
						<a href="http://aws.amazon.com/" target="_blank" ><img ng-src="//storage.googleapis.com/granslive_store/assets/images/amazonaws.png" alt="Amazon Cloud Services" /></a><h3><a href="/#!/services/bigdata" >Amazon Cloud Services</a> </h3>
						<p>
							Amazon Web Services is a collection of remote computing services, also called web services that together make up a cloud computing platform by Amazon.com since 2006. The most central and well-known of these services are Amazon EC2 and Amazon S3... 
						</p>
					</div>
				</div>
				
        <div class="clear"></div>
		
	</div>

</div>

