<div id="content" data-ng-init="setContent()">

<META view-head NAME="description"
  CONTENT="{{pageContent.pageDescription}}">
<meta view-head property="og:title" content="{{pageContent.pageTitle}}" />
<meta view-head property="og:description"
  content="{{pageContent.pageDescription}}" />
<meta view-head property="og:site_name" content="http://www.granslive.com" />

	<div class="container clearfix">
	
		<div class="clear"></div>
		<br />

		<h2 class="center">
			Decoration Services
		</h2>
		
		<br />
            <img ng-src="//storage.googleapis.com/granslive_store/assets/images/decoration.jpg" alt="Design &amp; Decoration" width="200px" />
       <br />

		<p>
			Design and decor of the venue can transform the look and the feel of the entire event. Here at Hukam, our designers ensure that the decor is not only elegant but also complimenting the venue. The aim is to transform and transcend your vision into an awe-inspiring reality.<br /><br />
			We are specialize in giving you exactly what you want, so whether it's an elaborate set design, a traditional marquee, an exquisite centerpiece or a simple and elegant floral decor, you want we provide it to you. 		
		</p>
	</div>

</div>

