<div id="content" data-ng-init="setContent()">

<META view-head NAME="description"
  CONTENT="{{pageContent.pageDescription}}">
<meta view-head property="og:title" content="{{pageContent.pageTitle}}" />
<meta view-head property="og:description"
  content="{{pageContent.pageDescription}}" />
<meta view-head property="og:site_name" content="http://www.granslive.com" />

	<div class="container clearfix">
	
		<div class="clear"></div>
		<br />

		<h2 class="center">
			Music &amp; DJ Services
		</h2>
		
		<br />
            <img ng-src="//storage.googleapis.com/granslive_store/assets/images/entertainment.jpg" alt="Music &amp; DJ" width="200px" />
       <br />

		<p>
			Having entertainment options will make your celebration a memorable experience for your guests. Entertainment that is engaging for your guests, making them an integral part of your celebrations. You can have your favorite celebrity perform at your wedding or add the glamour quotient to your wedding celebrations by their presence.<br /><br />
			Hukam helps you hire the very best entertainers for your pre-wedding functions and the wedding; entertainers include DJs, bartenders, choreographers and wedding bands to make your wedding a distinguished event.<br /><br />
			After silence, which comes nearest to expressing the inexpressible is music. A good DJ can help control the pace of the
			wedding, shifting from classy formal moments to raucous festive	celebration. It is important that the DJ understands his role as host
			and knows how to read the guests, properly shifting gears on the fly.<br />
			<br />
		</p>
	</div>

</div>

