<!-- <div id="slider" class="revolution-slider">

	<div class="container clearfix">

		<div class="fullwidthbanner-container"
			style="max-height: 400px; height: 400px;">
			<div class="fullwidthbanner"
				style="max-height: 400px; height: 400px;">

				<ul class="clearfix">
				
					<li data-transition="random" data-slotamount="10"
						data-delay="10500" data-masterspeed="300"><img
						src="images/slider/revolution/2/wedding_panorama.jpg">

						<div class="caption large_text lft"
							style="background: url('images/promo.png'); opacity: 0.9; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 34px; padding: 8px 10px;"
							data-x="230" data-y="5" data-speed="300" data-start="1000"
							data-easing="easeOutExpo" data-end="15000" data-endspeed="300"
							data-endeasing="easeInBack">LIVE Webcasting of your Wedding
							Event</div>

						<div class="caption large_text sfr"
							style="background: url('images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="100" data-y="60" data-speed="300" data-start="1800"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">Anybody around the world can
							watch it LIVE</div>

						<div class="caption large_text sfr"
							style="background: url('images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="100" data-y="100" data-speed="300" data-start="2000"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">Supports Android and iOS smart
							phones or tablets</div>

						<div class="caption large_text sfr"
							style="background: url('images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="100" data-y="140" data-speed="300" data-start="2200"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">Friends can share memorable
							moments while LIVE Event</div>

						<div class="caption large_text sfr"
							style="background: url('images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="100" data-y="180" data-speed="300" data-start="1800"
							data-easing="easeOutBack" data-end="8000" data-endspeed="300"
							data-endeasing="easeInBack">LIVE Chat</div>


						<div class="caption large_text sfr"
							style="background: url('images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="100" data-y="60" data-speed="300" data-start="8000"
							data-easing="easeOutBack" data-end="14000" data-endspeed="300"
							data-endeasing="easeInBack">Control / Request DJ</div>

						<div class="caption large_text sfr"
							style="background: url('images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="100" data-y="100" data-speed="300" data-start="9000"
							data-easing="easeOutBack" data-end="14000" data-endspeed="300"
							data-endeasing="easeInBack">Send Bouquets &amp; Gifts</div>

						<div class="caption large_text sfr"
							style="background: url('images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="100" data-y="140" data-speed="300" data-start="10000"
							data-easing="easeOutBack" data-end="14000" data-endspeed="300"
							data-endeasing="easeInBack">Online Photo &amp; Video Album</div>

						<div class="caption large_text sfr"
							style="background: url('images/promo.png'); opacity: 0.8; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
							data-x="100" data-y="180" data-speed="300" data-start="11000"
							data-easing="easeOutBack" data-end="14000" data-endspeed="300"
							data-endeasing="easeInBack">Send Shagun Online</div>
					</li>

				</ul>

				<div class="slider-line"></div>

			</div>
		</div>


		<script type="text/javascript">
			jQuery(document).ready(function() {

				if (jQuery.fn.cssOriginal != undefined)
					jQuery.fn.css = jQuery.fn.cssOriginal;

				jQuery('.fullwidthbanner').revolution({
					delay : 9000,
					startwidth : 1020,
					startheight : 400,

					onHoverStop : "off", // Stop Banner Timet at Hover on Slide on/off

					thumbWidth : 100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
					thumbHeight : 50,
					thumbAmount : 3,

					navigationType : "none", //bullet, thumb, none, both   (No Shadow in Fullwidth Version !)
					navigationArrows : "verticalcentered", //nexttobullets, verticalcentered, none
					navigationStyle : "square", //round,square,navbar

					touchenabled : "on", // Enable Swipe Function : on/off

					navOffsetHorizontal : 0,
					navOffsetVertical : 10,

					stopAtSlide : -1, // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
					stopAfterLoops : -1, // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

					hideCaptionAtLimit : 0, // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
					hideAllCaptionAtLilmit : 0, // Hide all The Captions if Width of Browser is less then this value
					hideSliderAtLimit : 0, // Hide the whole slider, and stop also functions if Width of Browser is less than this value

					fullWidth : "on",

					shadow : 0
				//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

				});

			});
		</script>

	</div>
</div> 

<div class="clear"></div>
<br /> -->

<div id="content" data-ng-init="setEventManagementPage()" class="bglights">

<view-title>{{pageContent.title}}</view-title>
<META view-head NAME="description"
  CONTENT="<p><strong>Hukam</strong> has been the heart of the most happening and rocking corporate events, wedding events, birthday parties and other event projects. 'The Stage is set, the lights dim and its show time'. Remember your event does not have any dress rehearsal and so there is no second chance. With <strong>Hukam</strong> managing your event nothing is left for a chance. We take care of even the smallest things and manage the events as if it's our own.<br /><br />
				<strong>Hukam</strong> is India's leading Event management portal and largest events classified directory with one of its kind services. We pride ourselves as a well established corporate planners, wedding planners, party planners and event managers. We are a 360 degree event management, brand marketing and entertainment firm with complete focus on providing end to end solutions to meet the requirements of our clients. <br /><br />
				Affordability, Quality and Mind Blowing Events is what we guarantee. Our main focus is to guarantee great memories keeping in mind the budget of the clients because events like wedding, sangeet etc do create a hole in your pocket. 'Affordability' is our company's foundation stone with a vision to make peoples big dream a reality. <br /><br />
				We don't make any exaggerated claims but stick to ground realities. With <strong>Hukam</strong> you can be assured of guaranteed memories. <br />
			</p>">
<meta view-head property="og:title" content="{{pageContent.pageTitle}}" />
<meta view-head property="og:description"
  content="<p><strong>Hukam</strong> has been the heart of the most happening and rocking corporate events, wedding events, birthday parties and other event projects. 'The Stage is set, the lights dim and its show time'. Remember your event does not have any dress rehearsal and so there is no second chance. With <strong>Hukam</strong> managing your event nothing is left for a chance. We take care of even the smallest things and manage the events as if it's our own.<br /><br />
				<strong>Hukam</strong> is India's leading Event management portal and largest events classified directory with one of its kind services. We pride ourselves as a well established corporate planners, wedding planners, party planners and event managers. We are a 360 degree event management, brand marketing and entertainment firm with complete focus on providing end to end solutions to meet the requirements of our clients. <br /><br />
				Affordability, Quality and Mind Blowing Events is what we guarantee. Our main focus is to guarantee great memories keeping in mind the budget of the clients because events like wedding, sangeet etc do create a hole in your pocket. 'Affordability' is our company's foundation stone with a vision to make peoples big dream a reality. <br /><br />
				We don't make any exaggerated claims but stick to ground realities. With <strong>Hukam</strong> you can be assured of guaranteed memories. <br />
			</p>" />
<meta view-head property="og:site_name" content="http://www.granslive.com" />

	<div class="container clearfix">
	
		<br />
        <h2 class="center" view-title >
			Event Management
		</h2>
                          
		<br />
		<div class="clear"></div>
		
		<div class="col_two_fifth">
           	<img data-ng-src="//storage.googleapis.com/granslive_store/assets/images/rock_concert2.jpg" width="420px" alt="Catering Service"  />
           </div>
           <div class="col_three_fifth col_last">
			<p view-description style="color: black;">
				<strong>Hukam</strong> has been the heart of the most happening and rocking corporate events, wedding events, birthday parties and other event projects. 'The Stage is set, the lights dim and its show time'. Remember your event does not have any dress rehearsal and so there is no second chance. With <strong>Hukam</strong> managing your event nothing is left for a chance. We take care of even the smallest things and manage the events as if it's our own.<br /><br />
				<strong>Hukam</strong> is India's leading Event management portal and largest events classified directory with one of its kind services. We pride ourselves as a well established corporate planners, wedding planners, party planners and event managers. We are a 360 degree event management, brand marketing and entertainment firm with complete focus on providing end to end solutions to meet the requirements of our clients. <br /><br />
				Affordability, Quality and Mind Blowing Events is what we guarantee. Our main focus is to guarantee great memories keeping in mind the budget of the clients because events like wedding, sangeet etc do create a hole in your pocket. 'Affordability' is our company's foundation stone with a vision to make peoples big dream a reality. <br /><br />
				We don't make any exaggerated claims but stick to ground realities. With <strong>Hukam</strong> you can be assured of guaranteed memories. <br />
			</p>
			
			<!-- <h2>Specialized For Wedding Planning</h2>
								
				<p>
					To Make Your Wedding <strong style="color:#A51C30">"The Most Special Moments of Your Life"</strong> <strong>Hukam</strong> is established 
					with an intention to create virtual presence at event locations of people, who were/will not able to attend 
					important events in their families. It has become very common that, many of our family members are unable to 
					attend some important functions in the family. In this era of globalization, people have settled in different 
					places far away from each other. And the wedding-couples whom we have met felt unhappy that some of their 
					close friends and well wishers could not make it to the wedding.  And it is also not very uncommon for the 
					bride and the bridegroom to edit the long list of their work colleagues for the final invitation. At 
					<strong>Hukam</strong> we intend to solve simple problems concerning human emotions through technology.<br><br>
					Every bride's vision of planning the perfect day is so different, and keeping these things in mind we will 
					provide you with inspirational wedding ideas so that you can personalize your wedding day.  Here you will 
					find so many wonderful ideas that will help make planning your wedding fun.  From selecting your favorite 
					wedding flowers to viewing many different wedding cake pictures to help you design a wedding cake that will 
					stand out.  Now your fun begins, with hundreds of ideas and images to motivate 
					you on this site, you are sure to create the wedding that you have dreamed of.  We are here to help you 
					create the kind of wedding that you want, from finding ideas for the right wedding hairstyles to choosing 
					your wedding music or looking at possible wedding themes for your dream day wedding you will find them here.
				</p> -->
		</div>
		
		<br />
		<div class="clear"></div>
		
		<div data-ng-if="endpointsReady" >
			<display-media widget-id="weddingEventsWidget" current-user="currentUser" visible="false"
			show-type="overlay" title="Latest Events" media-search="weddingEventSearch" search-box="false" >
			</display-media>
		</div>
		
		<div class="clear"></div>
		
		<h2> Our Event Management Services </h2>
		
		<div class="clear"></div>
		
				<div class="col_one_third">
					<div class="product-feature product-feature3">
						<a href="/#!/services/livestreaming"><img
							ng-src="//glcontents.s3.amazonaws.com/static/images/public/services/photography.jpg"
							alt="LIVE Streaming Services" /></a>
						<h3>
							<a href="/#!/services/livestreaming">LIVE Streaming Services</a>
						</h3>
						<p>Live streaming allows you to listen to music or watch videos
							live and online. Streaming means listening to music or watching
							video in real time...</p>
					</div>
				</div>
				
				<div class="col_one_third" >
					<div class="product-feature product-feature3">
						<a href="/#!/services/catering" ><img ng-src="//storage.googleapis.com/granslive_store/assets/images/catering.jpg" alt="Catering" /></a><h3><a href="/#!/services/catering" >Catering</a> </h3>
						<p>
							Make your special day unforgettable for people attending the wedding with indulging food. We help you with selecting a menu that has a fine balance...	
						</p>
					</div>
				</div>
				
				<div class="col_one_third col_last" >
					<div class="product-feature product-feature3">
						<a href="/#!/services/photography" ><img ng-src="//storage.googleapis.com/granslive_store/assets/images/photography.jpg" alt="Photography" /></a><h3><a href="/#!/services/photography" >Photography</a> </h3>
						<p>
							Wedding Photography has grown in leaps and bounds over the last few years and as an industry has transformed from being predominantly traditional...
						</p>
					</div>
				</div>
				
				<div class="col_one_third" >
					<div class="product-feature product-feature3">
							<a href="/#!/services/decoration" ><img ng-src="//storage.googleapis.com/granslive_store/assets/images/decoration.jpg" alt="Design And Decoration" /></a><h3><a href="/#!/services/decoration" >Design &amp; Decoration</a></h3>
							<p>
								Design and decor of the venue can transform the look and the feel of the entire event. Here at <strong>Hukam</strong>, our designers ensure that the decor is no...
							</p>
					</div>
					
				</div>
				
				<div class="col_one_third" >
					<div class="product-feature product-feature3">
						<a href="/#!/services/entertainment" ><img ng-src="//storage.googleapis.com/granslive_store/assets/images/entertainment.jpg" alt="Entertainment" /></a><h3><a href="/#!/services/entertainment" >Entertainment</a> </h3>
						<p>
							Having entertainment options will make your celebration a memorable experience for your guests. Entertainment that is engaging for your guests, mak...	
						</p>
					</div>
				</div>
        <div class="clear"></div>

	</div>

</div>

