<div id="content" data-ng-init="setContent()">

<META view-head NAME="description"
  CONTENT="{{pageContent.pageDescription}}">
<meta view-head property="og:title" content="{{pageContent.pageTitle}}" />
<meta view-head property="og:description"
  content="{{pageContent.pageDescription}}" />
<meta view-head property="og:site_name" content="http://www.granslive.com" />

	<div class="container clearfix">
	
		<div class="clear"></div>
		<br />

		<h2 class="center">
			Video &amp; Photography
		</h2>
		
		<br />
            <img ng-src="//storage.googleapis.com/granslive_store/assets/images/photography.jpg" alt="Photography Service" width="200px" />
        <br />

		<p>
			We are highly aware that there are many photo booth companies near you and that at first blush, they may all appear very similar.
			But, let's be real for a moment- all companies are not created
			equal. We would like to cut through the hype and outline some of our
			real, quantitative advantages to help you in your decision. <br /><br />
			
			Wedding Photography has grown in leaps and bounds over the last few years and as an industry has transformed from being predominantly traditional posed photography to highly creative contemporary candid styles of wedding photography. Good wedding photographers are in high demand nowadays, with couples wanting to invest in high quality wedding memories and albums that will last them a lifetime. Wedding photography today is a very aspirational career opportunity – so if you’re an amateur or semi-professional photographer looking to start shooting weddings, this is the workshop for you!<br /><br /> 
			Soon-to-be-married-couples today have woken up to the fact that finding and finalising one of the best candid wedding photographers is as important and urgent as it is setting the date. Traditionally, photographers were just another 'arrangement' and a cursory overview allowed the parents to make an uncomplicated decision. In recent times, the DSLR explosion along with global trends in candid & mood photography have made everybody a photographer. The blogging network and social platforms like Facebook, Google+ and Pinterest have brought up so many options that a simple online search will leave you inspired, aspiring and overwhelmed – all at the same time.<br /><br /> 		
		</p>
	</div>

</div>

