<div id="content" data-ng-init="setContent()">

	<div class="container clearfix">
	
		<div class="clear"></div>
		<br />

		<h2 class="center">
			Service Oriented Architecture
		</h2>
		
		<br />
            <img ng-src="//storage.googleapis.com/granslive_store/assets/images/soa_middleware.png" alt="Design &amp; Decoration" width="200px" />
       <br />

		<p>
			<strong>Harness the capabilities of Service-Oriented Architecture to achieve accelerated growth.</strong><br /><br />
			In the midst of rapidly changing market conditions, fierce competition and evolving customer expectations, IT professionals face the constant challenge to create more resilient IT infrastructures to reduce the complexity of application and IT environments and leverage them for accelerated growth. Service-Oriented Architecture (SOA) addresses these challenges by developing service-oriented applications that can be easily deployed on any middleware platform and integrated with new or legacy applications.<br /><br />
			<!-- <strong>Respond quickly to the rapidly changing business environments.</strong><br /><br /> -->
			 		
		</p>
	</div>

</div>

