
<div class="container" data-ng-init="initPlacesPage()">
	<br />
	
	<div >
		<div class="col-sm-8" >
			<h3 data-ng-if="places.length == 0"> There are no places mapped with your account </h3>
			<h3 data-ng-if="selectedPlace.id"> {{selectedPlace.title}} </h3>
		</div>
		<div class="pull-right">
			<div class="btn-group">
			  <button type="button" class="btn btn-primary {{display == 'savePlacePanel' ? 'active': ''}}" data-ng-click="showAddNewPlacePanel();" data-toggle="tooltip" data-placement="bottom" title="Add New Place"><span class="fa fa-plus" ></span></button>
			  <button data-ng-if="currentUser.permissions.placeOwner" type="button" class="btn btn-primary" data-ng-click="showUpdatePlacePanel();" data-toggle="tooltip" data-placement="bottom" title="Modify Place Data" ><span class="fa fa-edit" ></span></button>
			  <button data-ng-if="selectedPlace.id" type="button" class="btn btn-primary {{display == 'dashboard' ? 'active': ''}}" data-ng-click="showDashboard();" data-toggle="tooltip" data-placement="bottom" title="Dashboard"><span class="fa fa-dashboard" data-toggle="tooltip" data-placement="bottom" title="Show Dashboard"></span></button>
			  <button data-ng-if="currentUser.permissions.placeOwner" type="button" class="btn btn-primary {{display == 'groups' ? 'active': ''}}" data-ng-click="showGroups();" data-toggle="tooltip" data-placement="bottom" title="Show Groups"><span class="fa fa-group" ></span></button>
			  <button data-ng-if="currentUser.permissions.placeOwner" type="button" class="btn btn-primary {{display == 'savePlaceAreaPanel' ? 'active': ''}}" data-ng-click="showAddNewPlaceAreaPanel();" data-toggle="tooltip" data-placement="bottom" title="Add Place Area"><span class="fa fa-map-marker" ></span></button>
			  <button data-ng-if="selectedPlace.id" type="button" class="btn btn-primary {{display == 'scenes' ? 'active': ''}}" data-ng-click="showScenes();" data-toggle="tooltip" data-placement="bottom" title="Show Place Scenes"><span class="fa fa-calendar" ></span></button>
			</div>
		</div>
	</div>
	
	<div class="clear" ></div>
	<div class="clearfix" ></div>
	<div style="clear:both;"></div>
	<hr>	
	
<div class="row" data-ng-if="display == 'places'">
	<div class="card col-sm-3" data-ng-repeat="place in places">
	  <div class="card-block" style="background-image: url('//storage.googleapis.com/hukam-cdn/public/images/specific/blurred1.jpg');">
	  	<span class="fa-stack">
	  		<a href="#" data-ng-click="showSettingsFor(place);">
	  			<i class="fa fa-circle fa-stack-2x icon-background"></i>
	  			<i class="fa fa-cogs fa-stack-1x icon-white" data-toggle="tooltip" data-placement="top" title="Settings"></i>
	  		</a>
	  	</span>
	  	
	  	<h4 class="card-title"><a href="" data-ng-click="showDashBoardForPlace(place);">{{place.title}}</a></h4>
	    <p>{{place.description}}</p>
	  </div>
	  
		<div style="clear:both;"></div>
	</div>	
</div>
	
<div class="panel panel-default" data-ng-if="display == 'savePlacePanel'">
		<div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" href="#placePanel">Add/Update Place</a>
	      </h4>
	    </div>

	    <div id="placePanel" class="panel-collapse collapse in">
		  	
		  <div class="panel-body">
		  	<form class="form-horizontal" role="form" method="post" >
		  		<div class="form-group" >
			   	  <label for="name" class="col-lg-2 control-label">Floor:</label>
				  <div class="col-lg-2">
				    	<select class="form-control" data-ng-model="selectedPlace.floor">
				    		<option data-ng-repeat="option in floors" value="{{option}}">{{option}}</option>
					    </select>
				  </div>
			    </div>
				<div class="form-group" >
				    <label for="name" class="col-lg-2 control-label">Area Title:</label>
				    <div class="col-lg-4">
				    	<input type="text" class="form-control" data-ng-model="selectedPlace.title">
				    </div>
				</div>
				<div class="form-group">
			   		<label for="name" class="col-lg-2 control-label">Description:</label>
			   		<div class="col-lg-4">
				    	<textarea class="form-control" data-ng-model="selectedPlace.description" ></textarea>
				    </div>
			   	</div>
				   	  
			   	  <div class="form-group"> 
			   	  	<div class="col-lg-offset-2 col-lg-10">
	      			  	<button type="submit" data-ng-click="savePlace();" data-ng-if="!selectedPlace.id">create</button>
	      			  	<button type="submit" data-ng-click="savePlace();" data-ng-if="selectedPlace.id">update</button>
	      			  	<button type="submit" data-ng-click="showPlaces();" >cancel</button>
					</div>
			     </div>
				</form>
	 		</div>
		</div>
	</div>
	
	<div class="panel panel-default" data-ng-if="display == 'savePlaceAreaPanel'">
			<div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" href="#areaPanel">Add/Update Place Area</a>
		      </h4>
		    </div>

		    <div id="areaPanel" class="panel-collapse collapse in">
			  	
			  <div class="panel-body">
			  	<div class="form-horizontal">
			  			  <div class="form-group">
					   		<label for="name" class="col-lg-2 control-label">Type:</label>
					   		<div class="col-lg-2">
						    	<select class="form-control" data-ng-model="selectedPlaceArea.type">
						    		<option data-ng-repeat="option in placeAreaTypes" value="{{option}}">{{option}}</option>
							    </select>
					   	  	</div>
					   	  	
					   	  	<label for="name" class="col-lg-1 control-label">Floor:</label>
						    <div class="col-lg-1">
						    	<select class="form-control" data-ng-model="selectedPlaceArea.floor">
						    		<option data-ng-repeat="option in floors" value="{{option}}">{{option}}</option>
							    </select>
						    </div>
					   	  	
					   	  </div>
						  <div class="form-group" >
						    <label for="name" class="col-lg-2 control-label">Area Title:</label>
						    <div class="col-lg-4">
						    	<input type="text" class="form-control" data-ng-model="selectedPlaceArea.title">
						    </div>
						  </div>
						  <div class="form-group">
					   		<label for="name" class="col-lg-2 control-label">Description:</label>
					   		<div class="col-lg-4">
						    	<textarea class="form-control" data-ng-model="selectedPlaceArea.description" ></textarea>
						    </div>
					   	  </div>
					   	  <br />
					   	  <div class="form-group">
					   	  	<div class="col-lg-10">
							   	  <h6>All Devices at: {{selectedPlaceArea.title}}</h6>
							   	  <ul class="list-group list-group-flush small-font" data-ng-repeat="board in selectedPlaceArea.boards">
									<li class="list-group-item"
										data-ng-repeat="device in board.devices">
										<!-- <i class="flaticon-{{device.type}} device{{device.status}}" ></i>&nbsp; -->
										<a href="#" editable-select="device.type" e-ng-options="s.value as s.text for s in deviceTypes">
											<i class="flaticon-{{device.type}} device{{device.status}}" ></i>&nbsp;								    
										</a>
										&nbsp;										 
										<a href="#" editable-text="device.title" >{{ device.title || "device" }}</a>
										<div class="pull-right" >
											<a style="text-decoration: none;" href="javascript:void(0);"
												data-ng-if="device.status == 'ON'" 
											    data-ng-click="toggleDevice(board, device);"
												data-toggle="tooltip" data-placement="top" title="Toggle Device">
												<i class="fa fa-toggle-on device{{device.status}}"></i>
											</a> &nbsp;	
											<a style="text-decoration: none;" href="javascript:void(0);"
												data-ng-if="device.status == 'OFF'"
											    data-ng-click="toggleDevice(board, device);"
												data-toggle="tooltip" data-placement="top" title="Toggle Device">
												<i class="fa fa-toggle-on fa-rotate-180 device{{device.status}}"></i>
											</a> &nbsp;							
										</div>
									</li>
								</ul>
							</div>
					   	  </div>
					   	  
					   	  <div class="form-group"> 
					   	  	<div class="col-lg-offset-2 col-lg-10">
		         			  	<button type="submit" data-ng-click="savePlaceArea();" data-ng-if="!selectedPlaceArea.id">create</button>
		         			  	<button type="submit" data-ng-click="savePlaceArea();" data-ng-if="selectedPlaceArea.id">update</button>
		         			  	<button type="submit" data-ng-click="showDashboard();" >cancel</button>
							</div>
	         			  </div>
			  		</div>
			  </div>
			</div>
		</div>
		
	<div data-ng-if="display == 'groups'">
	
		<groups-directive widget-id="myPlaceGroups" selected-place="selectedPlace" current-user="currentUser" />
		
	</div>
	
	<div data-ng-if="display == 'scenes'">
	
		<scenes-directive widget-id="myPlaceScenes" selected-place="selectedPlace" current-user="currentUser" />
		
	</div>
	
	<div class="row" data-ng-if="display == 'dashboard'">
		<div class="card col-sm-3" data-ng-repeat="placeArea in selectedPlace.placeAreas">
		  <div class="card-block" style="background-image: url('//storage.googleapis.com/hukam-cdn/public/images/specific/blurred2.jpg');" data-ng-if="showAddBoard != placeArea.id">
		  	<span class="fa-stack">
		  		<a href="javascript:void(0);" data-ng-click="showUpdatePlaceAreaPanel(placeArea);">
		  			<i class="fa fa-circle fa-stack-2x icon-background"></i>
		  			<i class="fa fa-edit fa-stack-1x icon-white" data-toggle="tooltip" data-placement="top" title="Modify"></i>
		  		</a>
		  	</span>
		  	<span class="fa-stack"> <a href=""
				data-ng-click="showAddBoardPanel(placeArea);"> <i
					class="fa fa-circle fa-stack-2x icon-background"></i> <i
					class="fa flaticon-device fa-stack-1x icon-white"
					data-toggle="tooltip" data-placement="top" title="Add Board"></i>
			</a>
			</span>
		  	
		  	<h4 class="card-title">{{placeArea.title}}</h4>
		    <p>{{placeArea.description}}</p>
		  </div>
		  
		  <div class="card-block" data-ng-if="showAddBoard == placeArea.id">
				<ul class="nav nav-tabs nav-justified">
					<li class="active"><a href="javascirpt:void(0);"
						data-target="#addBoardTab" data-toggle="tab">Boards</a></li>
					<li><a href="javascirpt:void(0);"
						data-target="#addSensorsTab" data-toggle="tab">Sensors</a></li>
				</ul>
				<div class="tab-content">
					<div class="row tab-pane fade in active" id="addBoardTab">
						
						<div class="row appliances-tab tab-pane fade in active" id="connectedSwitchBoards">
					   		<ul class="list-group list-group-flush small-font">
								<li class="list-group-item"
									data-ng-repeat="connectedBoard in connectedBoards" data-ng-show="connectedBoard.type == 'SWITCH_BOARD'">
									<span >&nbsp;<i class="{{connectedBoard.status}}"> {{connectedBoard.uniqueIdentifier}}</i> </span>
									<div class="pull-right" >
										<a style="text-decoration: none;" href="javascript:void(0);"
											data-ng-click="activateBoardAtPlaceArea(connectedBoard);"
											data-toggle="tooltip" data-placement="left" title="Activate">
											<span class="fa fa-plug"></span>
										</a> &nbsp;	
										  
									</div>
								</li>
							</ul>
							<div class="pull-right" >
								<button type="submit" class="btn btn-danger"
										data-ng-click="cancelAddBoard();">Cancel</button>
							</div>
					   </div>
					</div>

					<div class="row tab-pane fade in" id="addSensorsTab">
						<div class="row appliances-tab tab-pane fade in active" id="connectedSensorBoards">
					   		<ul class="list-group list-group-flush small-font">
								<li class="list-group-item"
									data-ng-repeat="connectedBoard in connectedBoards" data-ng-show="connectedBoard.type == 'SENSOR_BOARD'">
									<span >&nbsp;<i class="{{connectedBoard.status}}"> {{connectedBoard.uniqueIdentifier}}</i> </span>
									<div class="pull-right" >
										<a style="text-decoration: none;" href="javascript:void(0);"
											data-ng-click="activateBoardAtPlaceArea(connectedBoard);"
											data-toggle="tooltip" data-placement="left" title="Activate">
											<span class="fa fa-plug"></span>
										</a> &nbsp;	
									</div>
								</li>
							</ul>
							
							<div class="pull-right" >
								<button type="submit" class="btn btn-danger"
										data-ng-click="cancelAddBoard();">Cancel</button>
							</div>
										
					   </div>

					</div>
				</div>

			</div>
		  
		  
		  <div class="card-bottom" data-ng-if="showAddMember == group.id">
			  <ul class="nav nav-tabs nav-justified">
			  	<li class="active" >
			  		<a href="#appliances_{{placeArea.id}}" data-toggle="tab" >
	         			<i class="flaticon-device" data-toggle="tooltip" data-placement="top" title="Appliances"></i>
	      			</a>
	      		</li>
			  	<li>
			  		<a href="#health_{{placeArea.id}}" data-toggle="tab" >
	         			<i class="fa fa-heartbeat" data-toggle="tooltip" data-placement="top" title="Health"></i>
	      			</a>
			  	</li>
			  </ul>
		  
			  <div class="tab-content">
			   <div class="row appliances-tab tab-pane fade in active" id="appliances_{{placeArea.id}}">
			   		<ul class="list-group list-group-flush small-font" data-ng-repeat="board in placeArea.boards">
						<li class="list-group-item"
							data-ng-repeat="device in board.devices">
							<span >
								<i class="flaticon-{{device.type}} device{{device.status}}" ></i>&nbsp;
								{{ device.title || "device" }}
							</span>
							
							<div class="pull-right">
								<a style="text-decoration: none;" href="javascript:void(0);"
									data-ng-if="device.status == 'ON'" 
								    data-ng-click="toggleDevice(board, device);"
									data-toggle="tooltip" data-placement="left" title="Toggle Device">
									<i class="fa fa-toggle-on device{{device.status}}"></i>
								</a> &nbsp;	
								<a style="text-decoration: none;" href="javascript:void(0);"
									data-ng-if="device.status == 'OFF'"
								    data-ng-click="toggleDevice(board, device);"
									data-toggle="tooltip" data-placement="left" title="Toggle Device">
									<i class="fa fa-toggle-on fa-rotate-180 device{{device.status}}"></i>
								</a> &nbsp;							
							</div>
							<br />
							<span data-ng-if="device.updatedAt" am-time-ago="device.updatedAt" class="very-small-font"></span>
							<span data-ng-if="!device.updatedAt" am-time-ago="board.audit.modified" class="very-small-font"></span>
							<input data-ng-if="device.analog" type="range" min="0" max="10" step="1" data-ng-model="device.analogValue"
							data-ng-change="analogValueChanged(board, device);" />
							
						</li>
					</ul>
			   </div>
			   <div class="row health-tab tab-pane fade in" id="health_{{placeArea.id}}">
	                <div class="pull-left">
	                    <i class="fa fa-clock-0"></i> just now
	                </div>
	                <div class="pull-right">
	                	<i class="wi wi-thermometer positive active"></i></i> 24 &deg;C
	                	<i class="wi wi-humidity assertive active"></i></i> 54%
	                </div>
	                  <div class="card-footer">
					    <a href="#" class="card-link">Add Sensor</a>
					  </div>
			   </div>
			</div>
		  </div>
		  
		<div style="clear:both;"></div>
		</div>	
	</div>
	
	<div style="clear:both;"></div>
	<div style="clearfix"></div>
	<br /><br /><br /><br /><br />
	

</div>
