
<div data-ng-init="initScenes();">

	<div>
		<div class="col-sm-8">
			<h3 data-ng-if="selectedPlace.scenes.length == 0">There are no scenes added in
				this Place</h3>
			<h3 data-ng-if="selectedPlace.scenes.length > 0">Scenes in this Place</h3>
		</div>
		<div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary"
					data-ng-click="showAddNewScenePanel();" data-toggle="tooltip"
					data-placement="bottom" title="Add New Scene">
					<span class="fa fa-plus"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="panel panel-default"
		data-ng-if="display == 'saveScenePanel'">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#scenePanel">Add/Update Scene</a>
			</h4>
		</div>

		<div id="scenePanel" class="panel-collapse collapse in">

			<div class="panel-body">
				<form class="form-horizontal" role="form" method="post">
					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">Title:</label>
						<div class="col-lg-4">
							<input type="text" class="form-control"
								data-ng-model="selectedScene.title">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">Description:</label>
						<div class="col-lg-4">
							<textarea class="form-control"
								data-ng-model="selectedScene.description"></textarea>
						</div>
					</div>
					<div class="form-group">
				   		<label for="name" class="col-lg-2 control-label">Execute Based On:</label>
				   		<div class="col-lg-2">
					    	<select class="form-control" data-ng-model="selectedScene.type">
					    		<option data-ng-repeat="option in sceneTypes" value="{{option}}">{{option}}</option>
						    </select>
				   	  	</div>
				   	  	
				   	  	<label for="name" class="col-lg-2 control-label">Trigger Time:</label>
					    <div class="col-lg-2">
						    <input type="text" class="form-control"
								data-ng-model="selectedScene.settings.startTime">
					    </div>
				   	</div>
				   	<h6>All Devices in Scene: {{selectedScene.title}}</h6>
				   	<ul class="list-group" data-ng-repeat="area in selectedScene.areas">
					    <li class="list-group-item" data-ng-repeat="device in area.devices">
					    	<span><i class="flaticon-{{device.type}} device{{device.status}}" ></i>&nbsp; <i class="device{{device.status}}">{{area.areaTitle}}: {{device.title}} - {{device.status}}</i></span>
					    	
					    	<div class="pull-right">								
								  <i class="fa fa-toggle-on device{{device.status}} disabled"
							         data-ng-if="device.status == 'ON'" 
							         data-ng-click="toggleDevice(device);"
							         data-toggle="tooltip" data-placement="left" title="Toggle Device">
							      </i>
							      <i class="fa fa-toggle-on fa-rotate-180 device{{device.status}} disabled"
							         data-ng-if="device.status == 'OFF'"
							         data-ng-click="toggleDevice(device);"
							         data-toggle="tooltip" data-placement="left" title="Toggle Device">
							      </i>
					    	</div>			    
					    </li>
				    </ul>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<a href="" role="button" class="btn btn-primary"
								data-toggle="modal" data-target="#allDevices"
								title="Add Devices" data-ng-click="showAddDevicesModal();" >
								Add Devices
							</a>
							<button type="submit" class="btn btn-primary" data-ng-click="saveScene();"
								data-ng-if="!selectedScene.id">Create</button>
							<button type="submit" class="btn btn-primary" data-ng-click="saveScene();"
								data-ng-if="selectedScene.id">Update</button>
							<button type="submit" class="btn btn-primary" data-ng-click="fetchAndShowScenes();">cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		
		<!-- Modal -->
		<div id="allDevices" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h5 class="modal-title">Scene: {{selectedScene.title}}</h5>
		      </div>
		      <div class="modal-body">
		      
		      	<ul class="list-group" data-ng-repeat="areaForScene in placeForScene.areas">
		      		<li class="list-group-item">
		      			<a href="" data-toggle="collapse" data-target="#{{areaForScene.areaId}}">{{areaForScene.areaTitle}}</a>
		      			
		      			<ul id="{{areaForScene.areaId}}" class="list-group collapse" data-ng-repeat="areaForScene in placeForScene.areas">
						    <li class="list-group-item" data-ng-repeat="device in areaForScene.devices">
						    	<span><i class="flaticon-{{device.type}} device{{device.status}}" ></i>&nbsp; <i class="{{device.added ? 'active': ''}}">{{device.title}}</i></span>
						    	
						    	<div class="pull-right">
						    		<a style="text-decoration: none;" href="javascript:void(0);"
										data-ng-if="device.status == 'ON'" 
									    data-ng-click="toggleDevice(device);"
										data-toggle="tooltip" data-placement="top" title="Toggle Device">
										<i class="fa fa-toggle-on device{{device.status}}"></i>
									</a> &nbsp;	
									<a style="text-decoration: none;" href="javascript:void(0);"
										data-ng-if="device.status == 'OFF'"
									    data-ng-click="toggleDevice(device);"
										data-toggle="tooltip" data-placement="top" title="Toggle Device">
										<i class="fa fa-toggle-on fa-rotate-180 device{{device.status}}"></i>
									</a> &nbsp;
									
									<a style="text-decoration: none;" href="javascript:void(0);"
										data-ng-if="!device.added"
								        data-ng-click="addDeviceToScene(areaForScene, device);"
										data-toggle="tooltip" data-placement="top" title="Add Device">
										<i class="fa fa-plus "></i>
									</a>
									<a style="text-decoration: none;" href="javascript:void(0);"
										data-ng-if="device.added"
										data-ng-click="removeDeviceFromScene(areaForScene, device);"
										data-toggle="tooltip" data-placement="top" title="Remove Device">
										<span class="fa fa-times danger"></span>
									</a>
						    	</div>	
						    	
						    </li>
					    </ul>
		      			
		      		</li>
		      	</ul>
		      
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		
		  </div>
		</div>
		
		
	</div>

	<div class="clearfix"></div>
	<div style="clear: both;"></div>

	<div class="row" data-ng-if="display == 'scenes'">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default" data-ng-repeat="scene in selectedPlace.scenes">
				  <div class="panel-heading">
				  
					  	 <span class="panel-title">
					        <a href="javascript:;" data-target="#devices_{{scene.id}}" data-toggle="collapse" data-parent="#accordion" > 
					        {{scene.title}}</a>
					     </span>
					     
					     <div class="pull-right">
					     	<a style="text-decoration: none;" href="javascript:void(0);"
								data-ng-click="executeScene(scene);"
								data-toggle="tooltip" data-placement="top" title="Execute Scene">
								<span class="fa fa-play-circle btn-sm btn-info"></span>
							</a> &nbsp;
							<a style="text-decoration: none;" href="javascript:void(0);"
								data-ng-click="showUpdateScenePanel(scene);"
								data-toggle="tooltip" data-placement="top" title="Update">
								<span class="fa fa-edit btn-sm btn-info"></span>
							</a>&nbsp;
							<a style="text-decoration: none;" href="javascript:void(0);"
								data-ng-click="deleteScene(scene);"
								data-toggle="tooltip" data-placement="top" title="Delete">
								<i class="fa fa-times btn-sm btn-primary"></i>
							</a>
						</div>
				     
				  </div>
				  <div id="devices_{{scene.id}}" class="panel-collapse collapse">
					  <div class="panel-body">
					    <p>
					    	<strong>Description: </strong>{{scene.description}}<br />
					    	<strong>Execution Based On: </strong>{{scene.type}}<br />
					    	<span data-ng-if="scene.type == 'TIME'"><strong>Execute At: </strong>{{scene.settings.startTime}}</span><br />
					    	<div data-ng-if="scene.settings.repeat && scene.settings.repeat.length > 0" >
					    		<strong>Repeat: </strong> 
					    		<span data-ng-repeat="day in scene.settings.repeat">
					    			<span data-ng-if="day == 0">Sunday | </span>
					    			<span data-ng-if="day == 1">Monday | </span>
					    			<span data-ng-if="day == 2">Tuesday | </span>
					    			<span data-ng-if="day == 3">Wednesday | </span>
					    			<span data-ng-if="day == 4">Thursday | </span>
					    			<span data-ng-if="day == 5">Friday | </span>
					    			<span data-ng-if="day == 6">Saturday </span>
					    		</span>
					    	
					    	</div> <br />
					    	
					    </p>
					    
					    <h5>All Devices Status</h5>
						  <ul class="list-group" data-ng-repeat="area in scene.areas">
						    <li class="list-group-item" data-ng-repeat="device in area.devices">
						    	<span><i class="flaticon-{{device.type}} device{{device.status}}" ></i>&nbsp; <i class="device{{device.status}}">{{area.areaTitle}}: {{device.title}} - {{device.status}}</i></span>
						    	
						    	<div class="pull-right">								
									  <i class="fa fa-toggle-on device{{device.status}}"
								         data-ng-if="device.status == 'ON'" 
								         data-ng-click="toggleDevice(device);"
								         data-toggle="tooltip" data-placement="left" title="Toggle Device">
								      </i>
								      <i class="fa fa-toggle-on fa-rotate-180 device{{device.status}}"
								         data-ng-if="device.status == 'OFF'"
								         data-ng-click="toggleDevice(device);"
								         data-toggle="tooltip" data-placement="left" title="Toggle Device">
								      </i>
						    	</div>			    
						    </li>
						  </ul>
					  </div>
				  </div>
			</div>
		</div>
	</div>

		<div class="clearfix"></div>
		<div style="clear: both;"></div>
		<br />

</div>

