<div id="content" data-ng-if="endpointsReady" data-ng-init="initShopping()">

	<div class="container clearfix">

         <div class="col_full topmargin nobottommargin" data-ng-if="currentUser.id">
           <form class="nobottommargin" id="categoryform" name="categoryform" novalidate>
					<div class="col_one_third col_last nobottommargin" data-ng-if="categories && categories.length > 0" >
						<label for="categoryId"> Category <small>*</small></label> <select data-ng-change="userSelectedCategory(selectedCategory);"  data-ng-model="selectedCategory" class="required input-block-level" required data-ng-options="category as category.title for category in categories">
							<option value="">-- Select Category --</option>
						</select>
					</div>
					
					<div class="clear"></div>
			</form>
             
             <div class="clear"></div>
         
         </div>
		<div class="clear"></div>
		<div class="line"></div>
		
		<div data-ng-if="products.length > 0">
			<ul id="portfolio-filter" class="clearfix">
                  <li class="activeFilter"><a href="#" data-filter="*">All</a></li>
                  <li><a href="#" data-filter=".pf-IN_STOCK">Available</a></li>
                  <li><a href="#" data-filter=".pf-brand_new">New</a></li>
                  <li><a href="#" data-filter=".pf-refurbished">Refurbished</a></li>
                  <li><a href="#" data-filter=".pf-used">Used</a></li>
             </ul>
             
             <div id="productsWidget" class="clearfix">
                        <div class="portfolio-item pf-{{product.availability}}" data-ng-repeat="product in products">
                            <div class="portfolio-image">
                                <a href="#"><img ng-src="{{product.imageLink}}"
							err-src="/../images/granslive-logo.png"
							loading-src="/../images/granslive-logo.png" alt="{{product.title}}" title="{{product.title | truncate:50}}" /></a>
                                <div class="portfolio-overlay">
                                    <div class="portfolio-overlay-wrap">
                                        <p ng-bind-html="produuct.description | truncate:150"></p>
                                        <span><span></span></span>
                                        <a href="#">{{product.title | truncate:50}}</a> &middot; 
                                    </div>
                                    
                                    <div class="p-overlay-icons clearfix">
                                        <a href="/#!/products/{{product.id}}" class="p-o-link"></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="portfolio-title">
                                <h3 title="{{product.title | truncate:50}}"><a href="/#!/products/{{product.id}}">{{product.title | truncate:50}}</a></h3>
                            </div>
                        
                        </div>                        
               </div>
               
          </div>

	</div>


</div>

