
<div class="postcontent nobottommargin clearfix">


	<ul id="portfolio-filter" class="clearfix">

		<li class="activeFilter"><a href="#" data-filter="*">All</a></li>
		<li><a href="#" data-filter=".pf-icons">Icons</a></li>
		<li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
		<li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
		<li><a href="#" data-filter=".pf-media">Media</a></li>
		<li><a href="#" data-filter=".pf-graphics">Graphics</a></li>

	</ul>

	<div id="portfolio" class="clearfix">

		<div class="portfolio-item pf-uielements" data-ng-repeat="pic in albumPics">

			<div class="portfolio-image">

				<a href="#"><img data-ng-src="http://glcontents.s3.amazonaws.com/{{pic.key}}"
					alt="Grey UI Kit" title="Grey UI Kit" /></a>

				<div class="portfolio-overlay">

					<div class="portfolio-overlay-wrap">

						<p>Sed ut perspiciatis unde omnis iste natus voluptatem
							fringilla tempor dignissim at, pretium et arcu.</p>

						<span><span></span></span> <a href="#">UI Elements</a>

					</div>

					<div class="p-overlay-icons clearfix">

						<a href="http://glcontents.s3.amazonaws.com/{{pic.key}}" class="p-o-image"
							data-lightbox="image"></a> <a href="portfolio-single.html"
							class="p-o-link"></a>

					</div>

				</div>

			</div>

			<div class="portfolio-title">

				<h3 title="Grey UI Kit">
					<a href="portfolio-single.html">Grey UI Kit</a>
				</h3>

			</div>

		</div>

	</div>


	<script type="text/javascript">
		$(document).ready(function() {

			var $container = $('#portfolio');

			$container.isotope();

			$('#portfolio-filter a').click(function() {

				$('#portfolio-filter li').removeClass('activeFilter');
				$(this).parent('li').addClass('activeFilter');
				var selector = $(this).attr('data-filter');
				$container.isotope({
					filter : selector
				});
				return false;

			});

			$(window).resize(function() {
				$container.isotope('reLayout');
			});

		});
	</script>


</div>