<div id="content" data-ng-if="endpointsReady" >

	<div class="content-wrap" data-ng-init="planEventPage()">

		<div class="container clearfix" >
		
		 <div class="clear"></div>
          
          <div class="col_full topmargin nobottommargin">
                    
                  <div class="tab_widget side-tabs clearfix nobottommargin" id="planEventsTabs" data-ng-init="handleTabWidgets('planEventsTabs')">
                  
                      <ul class="tabs">
                          <li><a href="#howToTab" data-href="#howToTab"><i class="fa fa-question"></i> How To</a></li>
                          <li data-ng-show="currentUser.id"><a href="#eventDataTab" data-href="#eventDataTab"><i class="fa fa-edit"></i> Event Data</a></li>
                      </ul>
                      
                      <div class="tab_container">

							<div id="howToTab" class="tab_content clearfix">
                              <div class="notopmargin">
                                  <h3>Steps to do LIVE Streaming</h3>
                                  
                                  <div class="entry_content">
			
									<p>We provide support for a variety of encoders. 
									Select one of the encoder options below and follow the instructions.</p>
									
									<h3>Select your encoder</h3>
									
									<div class="col_one_third nobottommargin col_last">
										<select data-ng-model="selectedEncoder" class="required input-block-level" data-ng-change="encoderSelected();" >
											<option value="fmle">Flash Media Live Encoder (FMLE)</option>
											<option value="wirecast">Wirecast</option>
										</select>
									</div>
									
									 <div class="animate-switch-container" ng-switch on="selectedEncoder">
									      <div class="animate-switch" ng-switch-default >
									      	<br /><br /><br />
									      	<strong>1: Download and Install</strong><br />
									      	Download and install the latest version of FMLE directly from Adobe.<br />			      	
									      	<a href="http://www.adobe.com/products/flash-media-encoder.html" target="_blank">Download FMLE from Adobe</a>
									      	<br /><br />
									      	
									      	<strong>2: Export Settings</strong><br />
									      	To save you some time, we've packaged the proper settings into a downloadable 
									      	profile that can be easily imported into FMLE.<br />
									      	<a href="http://storage.googleapis.com/granslive_store/assets/encoder/youtube_fmle_profile_primary.xml" target="_blank">Download Profile (primary)</a>
									      	<br /><br />
									      	
									      	<strong>3: Import Profiles</strong><br />
									      	In the FMLE application, go to File>Open Profile and load the file you downloaded. If you have a backup encoder, you will need to repeat this process. <br />			      	
									      	<strong>NOTE: You may encounter a "Profile Validation" warning when importing these profiles into FMLE. This is normal and will not affect your stream or harm your system.</strong>
									      	<br /><br />
									      	
									      	<strong>4: Update RTMP settings</strong><br />
									      	In your encoder, update the RTMP URL and Stream value with the one provided to you when you create a new Event on GransLive.  <br />
									      	<strong>This is the main step, so please don't forget to update the required values</strong>			      	
									      	<br /><br />
									      	
									      	<strong>5: Start your encoder</strong><br />
									      	In your encoder, start sending us your video stream. <br />			      	
									      	<br /><br />
									      	
									      </div>
									      
									      <div class="animate-switch" ng-switch-when="wirecast">
									      	<br /><br /><br />
									      	<strong>1: Download and Install</strong><br />
									      	Download and install the latest version of Wirecast directly from Telestream.<br />			      	
									      	<a href="http://www.telestream.net/wirecastforyoutube/cb-landing.htm" target="_blank">Download Wirecast</a>
									      	<br /><br />
									      </div>
									      
									 </div>
					                  
					            </div>
                                  
                              </div>
                              
                          </div>
                          
                          
                          <div id="eventDataTab" class="tab_content clearfix" data-ng-show="currentUser.id">
				
								<div class="alert {{message.msgClass}}" data-ng-show="message.text">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									<strong>{{message.strongMsg}}</strong> {{message.text}}
								</div>
								
								<h2 data-ng-hide="event.title" view-title>
									Plan <span>LIVE</span> Event
								</h2>
								
								<h2 data-ng-show="event.title" view-title>
									{{event.title}}
								</h2>
								
								<h6 data-ng-if="event.startTime"> <span>Start Time:</span> &nbsp;&nbsp;{{event.startTime | date:'dd-MMM-yyyy hh:mm Z'}}</h6>
								
								<!-- <a href="#!/event/publish/{{event.id}}" data-ng-if="event.id && selectedEventSource.id != null && (selectedEventSource.status == 'ready' || selectedEventSource.status == 'inactive' || selectedEventSource.status == 'upcoming')"><strong>Publish Event</strong></a> | --> 
								<a href="#!/videos/{{event.id}}" data-ng-if="event.id && selectedEventSource.id != null"><strong>View Event</strong></a>
								
								<div class="line"></div>
								
								<ul id="eventTabs" class="nav nav-tabs">
						          <li class="active"><a href="#basicDetails" data-target="#basicDetails" data-toggle="tab">Basic Details</a></li>
						          <li data-ng-show="event.id"><a href="#mediaSource" data-target="#mediaSource" data-toggle="tab">Media Sources</a></li>
						        </ul>
						    
						        <div id="eventTabsContent" class="tab-content">
							    	<div class="tab-pane fade in active" id="basicDetails">
							    		<br />
							    		
										<form class="nobottommargin" id="planEventform" name="planEventform" novalidate>
											
											<div class="col_one_third col_last nobottommargin" data-ng-if="channels && channels.length > 0" >
												<label for="channelId">Channel <small>*</small></label> <select data-ng-model="event.channelId" class="required input-block-level" required data-ng-options="channel.id as channel.title for channel in channels">
													<option value="">-- Select Channel --</option>
												</select>
											</div>
											
											<div class="clear"></div>
											
											<div class="col_one_third nobottommargin">
												<label for="title">Title <small>*</small></label> <input type="text" data-ng-model="event.title" class="required input-block-level" required />
											</div>
				
											<div class="col_one_third col_last nobottommargin">
												<label for="eventType">Event Type <small>*</small></label> <select data-ng-model="event.eventType" class="required input-block-level" required>
													<option value="">-- Select Event Type --</option>
													<option value="Party">Party</option>
													<option value="Wedding">Wedding</option>
													<option value="Musical">Musical</option>
													<option value="Entertainment">Entertainment</option>
													<option value="Inauguration">Inauguration</option>
													<option value="Sports">Sports</option>
													<option value="Educational">Educational</option>
													<option value="Religious">Religious</option>
													<option value="Political">Political</option>
													<option value="Other">Other</option>
												</select>
											</div>
											
											<div class="clear"></div>
											
											  <div class="col_one_third nobottommargin">
										        <label for="startTime" class="control-label">Start Time <small>*</small></label>
											  	 <div class="form-horizontal">
										          	 <date-time-picker ng-model="event.startTime"></date-time-picker>
										         </div>
										      </div>
										      
										      <div class="col_one_third col_last nobottommargin">
										         <label for="endTime" class="control-label">End Time <small>*</small></label>
											  	 <div class="form-horizontal">
										          	<date-time-picker ng-model="event.endTime" ></date-time-picker>
										         </div>
										      </div> 
										      <div class="clear"></div>
										      
											<div class="col_half col_last nobottommargin">
												<label for="description">Description <small>*</small></label>
												<textarea class="required input-block-level" data-ng-model="event.description" rows="10" cols="30" required></textarea>
											</div>
											<div class="clear"></div>
				
											<div class="col_one_third col_last nobottommargin">
												<label for="imagePath">Image Path <small>*</small></label> <input type="text" data-ng-model="event.imagePath" class="input-block-level" required />
											</div>
											<div class="clear"></div>
				
											<div class="col_one_third nobottommargin">
												<label for="featured">Featured</label> <input data-ng-model="event.featured" type="checkbox" />
											</div>
				
											<div class="clearfix"></div>
											<div class="clear"></div>
				
											<div class="col_one_third nobottommargin" data-ng-show="!event.id">
												<button class="btn" data-ng-click="createEvent()" data-ng-disabled="!planEventform.$valid">Create Event</button>
											</div>
				
											<div class="col_one_third nobottommargin" data-ng-show="event.id">
												<button class="btn" data-ng-click="updateEvent()" data-ng-disabled="!planEventform.$valid">Update Event</button>
											</div>
											<div class="col_one_third nobottommargin col_last" data-ng-show="event.id">
												<button class="btn" data-ng-click="deleteEvent()" >Delete Event</button>
											</div>
				
										</form>
							        </div>
							        <div class="tab-pane fade" id="mediaSource" data-ng-show="event.id" >
									        <form class="nobottommargin" id="eventSourceform" name="eventSourceform" novalidate data-ng-show="selectedEventSource">
												
												<div data-ng-if="event.id && selectedEventSource.id != null">
												
													<div class="col_one_third nobottommargin" data-ng-if="event.id && selectedEventSource.id != null">
														<br />
														<font color="red" data-ng-if="selectedEventSource.status == 'ready'"> Start your encoder.  We are not receiving the stream data from your encoder. </font>
														<font color="red" data-ng-if="selectedEventSource.status == 'inactive'"> Start your encoder.  We are not receiving the stream data from your encoder. </font>
														<font color="green"  data-ng-if="selectedEventSource.status == 'active'"> Your Stream is active </font>
													</div>
													
													<div class="col_one_third nobottommargin col_last" >
														<br />
															<button class="btn" data-ng-click="refreshSourceData()">Refresh Stream Status</button>
														<br />
													</div>
												</div>
												
												<br />
												
												<div class="clear"></div>
												
												<br />
												
												<div class="col_one_third nobottommargin" data-ng-show="eventSources.length > 0 ">
													<label>Select Media Source</label> 
													<select data-ng-model="selectedEventSource" class="required input-block-level" required data-ng-options="source as source.title for source in eventSources">
													</select>
												</div>
												<div data-ng-if="event.id && selectedEventSource.id != null && (selectedEventSource.status != 'inactive' && selectedEventSource.status != 'ready')">
													<div class="col_one_third nobottommargin" >
														<label>Media Feed Status </label> <select data-ng-model="event.status" >
															<option value="testing">Testing</option>
															<option value="live">Live</option>
															<option value="completed">Completed</option>
														</select>
													</div>
													
													<div class="col_one_third nobottommargin col_last" >
														<br />
														<button class="btn" data-ng-click="updateTransition()">Update Status</button>
													</div>
												</div>
												
												<div class="clear"></div>
												
												<div class="col_one_third nobottommargin col_last" data-ng-if="!selectedEventSource.id">
													<label>Streaming Server</label> 
													<select data-ng-model="selectedEventSource.eventOn" >
														<option value="YOUTUBE">Youtube Live Streaming</option>
														<option value="RED5" data-ng-if="currentUser.superAdmin">Red5 Live Streaming</option>
														<option value="ADOBE" data-ng-if="currentUser.superAdmin">Adobe Media Server</option>
														<option value="OTHER">Other</option>
													</select>
												</div>
												
												<br />
												<div class="clear"></div>
												
												<div class="col_one_third nobottommargin">
													<label for="title">Source Title <small>*</small></label> <input type="text" data-ng-model="selectedEventSource.title" class="required input-block-level" required />
												</div>
												
												<div class="col_one_third nobottommargin col_last" data-ng-show="selectedEventSource.eventOn=='YOUTUBE'">
													<label for="format">Format <small>*</small></label> <select data-ng-model="selectedEventSource.format" class="input-block-level" >
														<option value="240p">240p</option>
														<option value="360p">360p</option>
														<option value="480p">480p</option>
														<option value="720p">720p</option>
														<option value="1080p">1080p</option>
													</select>
												</div>
												
												<div class="clear"></div>
												
												<div class="col_one_third nobottommargin" data-ng-show="selectedEventSource.eventOn=='OTHER' || selectedEventSource.fileName">
													<label for="fileName">File Name/ Stream Name</label> <input type="text" data-ng-model="selectedEventSource.fileName" class="input-block-level" />
												</div>
												
												<div class="col_one_third nobottommargin" data-ng-show="selectedEventSource.eventOn=='OTHER' || selectedEventSource.flashSource">
													<label for="flashSource">RTMP URL </label> <input type="text" data-ng-model="selectedEventSource.flashSource" class="input-block-level" />
												</div>
												
												<div class="col_one_third nobottommargin col_last" data-ng-show="selectedEventSource.eventOn=='OTHER' || selectedEventSource.thirdPartySource">
													<label for="thirdPartySource">Thirdparty Source</label> <input type="text" data-ng-model="selectedEventSource.thirdPartySource" class="input-block-level" />
												</div>
												
												<div class="col_one_third nobottommargin" data-ng-show="selectedEventSource.eventOn=='OTHER' || selectedEventSource.html5Source">
													<label for="html5Source">HTML5 Source </label> <input type="text" data-ng-model="selectedEventSource.html5Source" class="input-block-level" />
												</div>
												
												<div class="col_full nobottommargin" data-ng-show="selectedEventSource.eventOn=='OTHER' || selectedEventSource.embedCode">
													<label for="thirdPartySource">Embed Code</label>
													<textarea class="required input-block-level" data-ng-model="selectedEventSource.embedCode" rows="10" cols="30"></textarea> 
												</div>
												
												<div class="col_one_third nobottommargin">
													<label>Contact Person <small>*</small></label> <input type="text" data-ng-model="selectedEventSource.name" class="required input-block-level" required />
												</div>
												
												<div class="col_one_third nobottommargin col_last">
													<label>Primary Contact Number <small>*</small></label> <input type="text" data-ng-model="selectedEventSource.primaryContactNo" class="required input-block-level" required />
												</div>
												
												<div class="clear"></div>
												
												<div class="col_one_third nobottommargin">
													<label>Venue Address Line1</label> <input type="text" data-ng-model="selectedEventSource.line1" class="input-block-level" />
												</div>
												
												<div class="col_one_third nobottommargin">
													<label>Venue Address Line2</label> <input type="text" data-ng-model="selectedEventSource.line2" class="input-block-level" />
												</div>
												
												<div class="col_one_third nobottommargin col_last">
													<label>PostCode</label> <input type="text" data-ng-model="selectedEventSource.postcode" class="input-block-level" />
												</div>
												
												<div class="col_one_third nobottommargin">
													<label>City<small>*</small></label> <input type="text" data-ng-model="selectedEventSource.city" class="required input-block-level" required />
												</div>
												<div class="col_one_third nobottommargin">
													<label>State<small>*</small></label> <input type="text" data-ng-model="selectedEventSource.state" class="required input-block-level" required />
												</div>
												
												<div class="col_one_third nobottommargin col_last">
													<label>Country<small>*</small></label> <input type="text" data-ng-model="selectedEventSource.country" class="required input-block-level" required />
												</div>
												
												<br />
												<div class="clear"></div>
												
												<div class="col_one_third nobottommargin" data-ng-show="event.id && selectedEventSource.id == null">
													<button class="btn" data-ng-click="createEventSource()" data-ng-disabled="!eventSourceform.$valid">Save Media Source</button>
												</div>
												
												<div class="col_one_third nobottommargin" data-ng-show="event.id && selectedEventSource.id != null">
													<button class="btn" data-ng-click="updateEventSource()" data-ng-disabled="!eventSourceform.$valid">Update Media Source</button>
												</div>
												<div class="col_one_third nobottommargin col_last" data-ng-show="event.id && selectedEventSource.id != null">
													<button class="btn" data-ng-click="deleteEventSource()" >Delete Source</button>
												</div>
					
											</form>						
											<div class="clear"></div>
											<div class="dotted-divider"></div>
							        	
							        </div>
							        
						        </div>
				
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>

	</div>

<!-- 
<script type="text/javascript">
  $(".form_datetime").datetimepicker({
    format: "yyyy-mm-ddThh:ii:ssZ",
    showMeridian: true,
    autoclose: true,
    todayBtn: true,
    pickerPosition: 'bottom-left'
  });
 </script> -->