<div id="landing-area" data-ng-if="endpointsReady" data-ng-init="publishEventPage()">

	<div class="container clearfix" data-ng-if="event.id && selectedEventSource.id != null">

		<div class="alert {{message.msgClass}}" data-ng-show="message.text">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{{message.strongMsg}}</strong> {{message.text}}
		</div>

		<div class="landing-offer-media">

			<div id='publishDiv'></div>
			<div class="col_full nobottommargin">
				<button class="btn" data-ng-click="connect()">Connect</button>
				<button class="btn" data-ng-click="disconnect()">Disconnect</button>
			</div>

		</div>

		<div class="landing-offer-text col_last">

			<ul>

			</ul>

		</div>

	</div>

	<div class="container clearfix" data-ng-show="!event">
		<h2>Loading...</h2>
	</div>

</div>

<div id="content">
	<div class="container clearfix" data-ng-show="event">
		<br />
		<h2>{{event.title}}</h2>

		<ul id="myTab" class="nav nav-tabs">
			<li class="active"><a href="#aboutDiv" data-toggle="tab">About</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="aboutDiv">
				<p>{{event.description}}</p>
			</div>
		</div>

		<div class="dotted-divider"></div>

	</div>
</div>