
<div id="{{widgetId}}" class="col_full nobottommargin"
	data-ng-if="widgetId">
	
	<div class="col_one_fourth nobottommargin" data-ng-if="attachments && attachments.length > 0" >
		<label>Sensors Data <small>*</small>
			&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-if="selectedAttachment.id" href="javascript:void(0);" data-ng-click="modifySensorData(selectedAttachment);"><i
			class="fa fa-pencil stip" title="Update Sensor Data"></i></a>					
		</label> <select data-ng-model="selectedAttachment" class="required input-block-level" required data-ng-options="attachment as attachment.title for attachment in attachments">
			<option value="">-- Select Sensor --</option>
		</select>						
	</div>
	
	<form class="nobottommargin" id="sensorForm" name="sensorForm"
		data-ng-if="editSensor" novalidate>
		<br /><br /><br /><br />

		<div class="col_one_third nobottommargin">
			<label>Sensor Title<small>*</small> (CHIPID: {{selectedAttachment.childId}})</label> <input type="text"
				data-ng-model="selectedAttachment.title"
				class="required input-block-level" required />
		</div>
		<div class="clear"></div>

		<div class="col_full nobottommargin">
			<label for="description">Description <small>*</small></label>
			<textarea class="required input-block-level"
				data-ng-model="selectedAttachment.description" rows="10" cols="30"
				required></textarea>
		</div>

		<div class="clearfix"></div>
		<div class="clear"></div>

		<div class="col_full nobottommargin" data-ng-if="selectedAttachment.id">
			<button class="btn" data-ng-click="updateAttachment()"
				data-ng-disabled="!sensorForm.$valid">Save Sensor</button>
			<button class="btn" data-ng-click="cancelModifySensor();">Cancel</button>
		</div>
		<br />
	</form>
	
	<div class="col_one_fourth nobottommargin" data-ng-if="usage.showType == 'range'">
		<label for="startTime" class="control-label">Start Time <small>*</small></label>
		<div class="form-horizontal">
			<date-time-picker ng-model="usage.startTime"></date-time-picker>
		</div>
	</div>

	<div class="col_one_fourth col_last nobottommargin" data-ng-if="usage.showType == 'range'">
		<label for="endTime" class="control-label">End Time <small>*</small></label>
		<div class="form-horizontal">
			<date-time-picker ng-model="usage.endTime"></date-time-picker>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<div class="col_one_fourth nobottommargin" >
        <button type="button" data-ng-click="chartShowTypeChanged('range');" class="btn btn-danger btn-sm" ><i class="fa fa-bar-chart stip" title="Date Range"></i></button>
        <button type="button" data-ng-click="chartShowTypeChanged('realTime');" class="btn btn-danger btn-sm" ><i class="fa fa-dashboard stip" title="Real Time"></i></button>
		<button type="button" data-toggle="modal" data-target="#calcSetting" class="btn btn-danger btn-sm" ><i class="fa fa-cogs stip" title="Calculation Setting"></i></button>
		<button type="button" data-ng-click="refreshUsage();" class="btn btn-danger btn-sm" ><i class="fa fa-refresh stip" title="Refresh Data"></i></button>
	</div>
	
	<div class="col_three_fourth col_last nobottommargin" data-ng-if="usage.showType == 'range'">
		<div class="btn-group nobottommargin" style="float:right;">
			<button type="button" data-ng-click="fetchUsageBy('MINUTE');" class="btn btn-default {{usageReq.groupBy == 'MINUTE' ? 'active' : ''}}" ><i class="stip" title="Minute Wise">Minute</i></button>
			<button type="button" data-ng-click="fetchUsageBy('HOUR');" class="btn btn-default {{usageReq.groupBy == 'HOUR' ? 'active' : ''}}" ><i class="stip" title="Hourly">Hourly</i></button>
        	<button type="button" data-ng-click="fetchUsageBy('DAY');" class="btn btn-default {{usageReq.groupBy == 'DAY' ? 'active' : ''}}" ><i class="stip" title="Daily">Day</i></button>
			<button type="button" data-ng-click="fetchUsageBy('MONTH');" class="btn btn-default {{usageReq.groupBy == 'MONTH' ? 'active' : ''}}" ><i class="stip" title="Monthly">Month</i></button>
			<button type="button" data-ng-click="fetchUsageBy('YEAR');" class="btn btn-default {{usageReq.groupBy == 'YEAR' ? 'active' : ''}}" ><i class="stip" title="Yearly">Year</i></button>
        </div>
	</div>

	<div data-ng-if="selectedAttachment.id && selectedAttachment.childType == 'SENSOR'">

			<div data-ng-if="showSensorsData">
				
				<div class="clear"></div>
				<div data-ng-if="chartData.available" class="chart-container">
					<br />
					<!-- <span
						style="float: left;font-weight: bold;padding-right: 15px;"
						data-ng-show="prevPageToken"><a
						href="javascript:void(0);"
						data-ng-click="fetchNextUsage(prevPageToken);">Prev </a></span> -->
						
					<span
						style="float: right;font-weight: bold;padding-right: 15px;"
						data-ng-show="currentData.nextPageToken"><a
						href="javascript:void(0);"
						data-ng-click="fetchNextUsage(currentData.nextPageToken);">Next </a></span>
					
						<br />
					
					<div google-chart chart="chartObject" on-select="chartSelectHandler(selectedItem)" style="height:400px; width:98%;"></div>
				</div>
				
				<div data-ng-if="!chartData.available" >
					<h3>No Data Available</h3>
				</div>

			</div>

			<div id="calcSetting" class="modal hide fade" tabindex="-1"
				role="dialog" aria-labelledby="informationLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h3 id="informationLabel">Calculation Settings</h3>
				</div>
				<div class="modal-body">

					<div class="clear"></div>

					<div class="col_one_fourth nobottommargin">
						<label>Power Factor<small>*</small></label> <input type="text"
							data-ng-model="calcConfig.powerFactor"
							class="required input-block-level" required />
					</div>

					<div class="col_one_fourth nobottommargin">
						<label>Voltage<small>*</small></label> <input type="text"
							data-ng-model="calcConfig.volts"
							class="required input-block-level" required />
					</div>

					<!-- <div class="col_one_third nobottommargin">
						<label>Range Difference<small>*</small></label> <input type="text"
							data-ng-model="usageReq.gapOf" class="required input-block-level"
							required />
					</div> -->

					<div class="col_one_fourth nobottommargin col_last">
						<label>Data Limit<small>*</small></label> <input type="text"
							data-ng-model="usageReq.limit" class="required input-block-level"
							required />
					</div>

				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal">Close</button>
				</div>
			</div>

			<div class="clear"></div>
			<br />
			<br /> <br />
			<br />
	</div>

	<div class="clear"></div>
	<br />
	<br />

</div>
