<div id="content" data-ng-if="endpointsReady && currentUser.id">

	<div class="container clearfix"
		data-ng-init="initializeMySmartPlace();">

		<div class="clear"></div>

		<div class="alert {{message.msgClass}}" data-ng-if="message.text">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{{message.strongMsg}}</strong> {{message.text}}
		</div>

		<div class="topmargin nobottommargin">

			<div id="placesDiv" class="clearfix" data-ng-if="showPlaces">
					<div class="col_one_fourth nobottommargin" data-ng-if="places && places.length > 0" >
						<label>Your Connected Smart Places <small>*</small>
							&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-if="selectedPlace.id" href="javascript:void(0);" data-ng-click="modifyPlace(selectedPlace);"><i
							class="fa fa-pencil stip" title="Update Place"></i></a>					
						</label> <select data-ng-model="selectedPlace" class="required input-block-level" required 
							data-ng-change="userSelectedPlace(selectedPlace);" data-ng-options="place as place.title for place in places">
							<option value="">-- Select Smart Place --</option>
						</select>						
					</div>
					<div class="col_one_fourth col_last nobottommargin" style="margin-top:5px;" data-ng-if="selectedPlace.id">
						<br />
						<button type="button" data-ng-click="showScenes();" class="btn btn-danger btn-sm" ><i class="fa fa-gear stip" title="Scenes/Moods"></i></button>
						<button type="button" data-ng-click="fetchBoards();" class="btn btn-danger btn-sm" ><i class="fa fa-lightbulb-o stip" title="Connected Smart Devices"></i></button>
						<button type="button" data-ng-click="getPlaceMembers();" class="btn btn-danger btn-sm" ><i class="fa fa-users stip" title="Members"></i></button>
					</div>					
					
				<form class="nobottommargin" id="placeForm" name="placeForm"
					data-ng-if="editPlace" novalidate>
					<br /><br /><br /><br />

					<div class="col_one_third nobottommargin">
						<label>Place Title<small>*</small></label> <input type="text"
							data-ng-model="selectedPlace.title"
							class="required input-block-level" required />
					</div>
					<div class="clear"></div>

					<div class="col_full nobottommargin">
						<label for="description">Description <small>*</small></label>
						<textarea class="required input-block-level"
							data-ng-model="selectedPlace.description" rows="10" cols="30"
							required></textarea>
					</div>

					<div class="clearfix"></div>
					<div class="clear"></div>

					<div class="col_full nobottommargin" data-ng-if="selectedPlace.id">
						<button class="btn" data-ng-click="updatePlace()"
							data-ng-disabled="!placeForm.$valid">Save Place</button>
						<button class="btn" data-ng-click="cancelModifyPlace();">Cancel</button>
					</div>
					
				</form>
				
	            <div data-ng-if="showScenesDiv" >
	            	<br /><br /><br /><br />
					<h4> Your Smart Place Scenes / Moods</h4>
					
					<div data-ng-if="scenes.length == 0" >
						<h3>No Data Available</h3>
					</div>
					
					<ul data-ng-if="!editScene" >
		                <li data-ng-repeat="scene in scenes" data-ng-if="scene.title"> <a href="javascript:void(0);" data-ng-click="modifyScene(scene);" >{{scene.title}}</a></li>
		            </ul>
					
					<form class="nobottommargin" id="sceneForm" name="sceneForm" data-ng-if="editScene" novalidate>
						
						<div class="col_one_third nobottommargin">
							<label>Scene Title<small>*</small></label> <input type="text" data-ng-model="selectedScene.title" class="required input-block-level" required />
						</div>
						<div class="col_one_third nobottommargin">
							<label for="sceneType">Scene Type <small>*</small></label> <select data-ng-model="selectedScene.sceneType" class="required input-block-level" required>
								<option value="AUTOMATIC">Automatic</option>
								<option value="MANUAL">Manual</option>
							</select>
						</div>
						<div class="col_one_third nobottommargin col_last">
							<label for="sceneType">Scene Status <small>*</small></label> <select data-ng-model="selectedScene.status" class="required input-block-level" required>
								<option value="ACTIVE">Active</option>
								<option value="INACTIVE">Inactive</option>
							</select>
						</div>
						<div class="clear"></div>
						
						<div class="col_full nobottommargin">
							<label for="description">Description <small>*</small></label>
							<textarea class="required input-block-level" data-ng-model="selectedScene.description" rows="10" cols="30" required></textarea>
						</div>
						
						<div class="col_one_third nobottommargin" data-ng-show="selectedScene.sceneType == 'AUTOMATIC'">
					        <label for="startTime" class="control-label">Start From <small>*</small></label>
						  	 <div class="form-horizontal">
					          	 <date-time-picker data-ng-model="selectedScene.startTime"></date-time-picker>
					         </div>
					     </div>
					     
					     <div class="col_full nobottommargin" data-ng-show="selectedScene.sceneType == 'AUTOMATIC'">
					     	<br />
							<label>Repeat On</label> 
							Monday<input data-ng-model="selectedScene.repeatOnMonday" type="checkbox" />
							Tuesday<input data-ng-model="selectedScene.repeatOnTuesday" type="checkbox" />
							Wednesday<input data-ng-model="selectedScene.repeatOnWednesday" type="checkbox" />
							Thursday</label><input data-ng-model="selectedScene.repeatOnThursday" type="checkbox" />
							Friday<input data-ng-model="selectedScene.repeatOnFriday" type="checkbox" />
							Saturday<input data-ng-model="selectedScene.repeatOnSaturday" type="checkbox" />
							Sunday<input data-ng-model="selectedScene.repeatOnSunday" type="checkbox" />
						</div>

						<div class="clearfix"></div>
						<div class="clear"></div>
						 <br /> <br />

						<div class="col_full nobottommargin" data-ng-show="selectedScene.id">
							<button class="btn" data-ng-click="saveScene()" data-ng-disabled="!sceneForm.$valid">Save Scene</button>
							<button class="btn" data-ng-click="cancelModifyScene();" >Cancel</button>
						</div>
						
					</form>
                  </div>
                  
                  <div data-ng-if="showBoardsDiv">
						<br /><br /><br /><br />
			            <div class="col_one_third nobottommargin">
							<label for="boardId">Smart Switch Boards <small>*</small></label> <select data-ng-model="selectedBoard" class="required input-block-level" required data-ng-options="board as board.title for board in boards">
								<option value="">-- Select Board --</option>
							</select>
						</div>
				            
						<div class="clear"></div>
						
						<div data-ng-if="connectedDevices.length == 0" >
							<h3>No Connected Devices Available</h3>
						</div>
				            
				        <div data-ng-if="connectedDevices && showConnectedDevices" >
				        	<br />
				            <strong>Connected Smart Devices in {{selectedBoard.title}} <br /></strong>
				            <ul class="list-group noleftmargin" data-ng-if="!editDevice" >
				                <li style="width: 300px;" class="list-group-item" data-ng-repeat="connectedDevice in connectedDevices">
				                    <span>
				                    	<a href="javascript:void(0);" data-ng-click="modifyDevice(connectedDevice);" >{{connectedDevice.title}}</a>
				                    </span>
				                    
				                    <div>
				                     <i class="fa fa-toggle-on switch-on"
								         data-ng-if="connectedDevice.value" 
								         data-ng-click="updateDevice($index);">
								      </i>
								      <i class="fa fa-toggle-on fa-rotate-180 switch-off"
								         data-ng-if="!connectedDevice.value"
								         data-ng-click="updateDevice($index);">
								     </i>
								    </div>
								    
								    <a href="javascript:void(0);" data-ng-click="modifyDevice(connectedDevice);" ><i class="fa fa-pencil stip" title="Edit Device"></i></a>
				                    
				                </li>
				            </ul>
				            
				            <form class="nobottommargin" id="deviceForm" name="deviceForm" data-ng-if="editDevice" novalidate>
							
								<div class="col_one_third nobottommargin">
									<label>Device Title<small>*</small></label> <input type="text" data-ng-model="selectedDevice.title" class="required input-block-level" required />
								</div>
								<div class="clear"></div>
								
								<div class="col_full nobottommargin">
									<label for="deviceDescription">Description <small>*</small></label>
									<textarea class="required input-block-level" data-ng-model="selectedDevice.description" rows="10" cols="30" required></textarea>
								</div>
	
								<div class="clearfix"></div>
								<div class="clear"></div>
	
								<div class="col_full nobottommargin" data-ng-show="selectedDevice.id">
									<button class="btn" data-ng-click="saveDevice(selectedDevice, false);" data-ng-disabled="!deviceForm.$valid">Save Device</button>
									<button class="btn" data-ng-click="cancelModifyDevice();" >Cancel</button>
								</div>
								
							</form>
							
				        </div>
				         <div class="clear"></div>
				    </div>
                  
                  <div data-ng-if="showMembersDiv">
					<br /><br /><br /><br />
					
                    <h4>List of members who have access to {{selectedPlace.title}} <br /></h4>
                    
		            <ul >
		                <li data-ng-repeat="member in members" > <a href="javascript:void(0);" data-ng-click="showMember(member);" >{{member.memberEmail}}</a></li>
		            </ul>
	              </div>
				
			</div>
			
			<div class="line notopmargin" ></div>

			<div id="sensorsDataDiv" class="clearfix">
				<div class="clear"></div>

				<div data-ng-if="endpointsReady && selectedPlace.id" >
					<show-sensors-data widget-id="{{selectedPlace.id}}SensorWidget" current-user="currentUser"
					place-id="{{selectedPlace.id}}" >
					</show-sensors-data>
				</div>
				
				<div class="clear"></div>
			
			</div>

			<div class="clear"></div>

		</div>

	</div>

</div>

