
	<div id="profile_header" class="page-header header-filter clear-filter" data-parallax="true" >
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					<div class="brand text-center">
						<h1>All About Gurvinder</h1>
						<!-- <h2>The difference between stupidity and genius is that genius has its limits. </h2> -->
						<h2>Genius is the ability to put into effect what is on your mind.</h2>
						<!-- <h4>Albert Einstein</h4> -->
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="main main-raised">
					<div class="profile-content">
							<div class="container">
								<div class="row">
										<div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="https://storage.googleapis.com/hukam-cdn/public/material-theme/assets/images/profile.jpeg" alt="Gurvinder Singh" class="img-raised rounded-circle img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="title">Gurvinder Singh</h3>
                                <!-- <h6>Cloud Solutions Architect (IBM - ISL)</h6>															 -->
                                <!-- <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a> -->
                            </div>
                        </div>
                        <!-- <div class="follow">
                            <button class="btn btn-fab btn-primary btn-round" rel="tooltip" title="Follow this user">
                                <i class="material-icons">add</i>
                            </button>
                        </div> -->
                    </div>
										<!-- <br /> -->
								</div>

								<div class="description text-center">
                    <p>To know me better, enter in one of my below worlds...</p>
                </div>

								<div class="row">
									<div class="col-md-6">
                        <div class="rotating-card-container">
                            <div class="card card-rotate card-background">
                                <div class="front front-background" style="background-image: url('https://storage.googleapis.com/hukam-cdn/public/material-theme/assets/images/profileBg.jpg');">
                                    <div class="card-body">
                                        <!-- <h6 class="card-category">Full Background Card</h6> -->
                                        <a routerLink="/professional">
                                            <h3 class="card-title">Professional</h3>
                                        </a>
                                        <!-- <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                        </p> -->
                                    </div>
                                </div>
                                <div class="back back-background" style="background-image: url('https://storage.googleapis.com/hukam-cdn/public/material-theme/assets/images/profileBg.jpg');">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            My Professional Life...
                                        </h5>
                                        <p class="card-description">I enjoy the work, I enjoy every minute of my professional life.</p>
                                        <div class="footer text-center">
																					<a routerLink="/professional" class="btn btn-rose btn-round">
																						<i class="material-icons">center_focus_strong</i> Enter
																					</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
									<div class="col-md-6">
                        <div class="rotating-card-container">
                            <div class="card card-rotate card-background">
                                <div class="front front-background" style="background-image: url('https://storage.googleapis.com/hukam-cdn/public/material-theme/assets/images/personalBg.jpg');">
                                    <div class="card-body">
                                        <!-- <h6 class="card-category">Full Background Card</h6> -->
                                        <a routerLink="/social">
                                            <h3 class="card-title">Social</h3>
                                        </a>
                                        <!-- <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                        </p> -->
                                    </div>
                                </div>
                                <div class="back back-background" style="background-image: url('https://storage.googleapis.com/hukam-cdn/public/material-theme/assets/images/personalBg.jpg');">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            My Social Life...
                                        </h5>
                                        <p class="card-description">Society is like a large piece of frozen water; and skating well is the great art of social life.</p>
                                        <div class="footer text-center">
																					<a routerLink="/social" class="btn btn-rose btn-round">
																						<i class="material-icons">center_focus_strong</i> Enter
																					</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>

								</div>

								<br /><br /><br /><br />

							</div>

					</div>

		</div>
