
	<div id="profile_header" class="header header-filter" >
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand text-center">
						<h1>Professional</h1>
						<!-- <h2>The difference between stupidity and genius is that genius has its limits. </h2> -->
						<h2>I have my flaws too, but I'm a professional who doesn't want to miss or lose.</h2>
						<!-- <h4>Albert Einstein</h4> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
					<div class="profile-content">
							<div class="container">
								<div class="row">
												<div class="col-md-8 col-md-offset-2 text-center">
													<h3 class="title">Gurvinder Singh</h3>
														<h6>Cloud Solutions Architect (IBM - ISL)</h6>
														<a href="https://docs.google.com/document/d/1JldXwBrKdfS_aT9W0WcqoCYXo1x6EAph--omXWiF23A/edit?usp=sharing" target="_blank" class="btn btn-primary btn-xs">Download Resume</a>
												</div>
								</div>

								<div class="row">
										<div class="col-md-12">
													<blockquote>
															<p>
																	I'm very much passionate about new technologies and eager to learn and do some handson.  I don't go very deep in a specific technology
																	until and unless it is required, but have bredth in my profile, which includes multiple programming langauges, different cloud vendors,
																	Web and mobile app development, both front end and backend technologies. Currently, I'm putting all my efforts into Cognitive/AI/ML
																	and IoT, both on software and working with different hardware modules.
															</p>
													</blockquote>
										</div>
								</div>

								<div class="row">
										<div class="col-md-12">
											<div class="profile-tabs">
							           <div class="nav-align-center">
															<ul class="nav nav-pills nav-pills-primary" role="tablist">
																	<li class="active">
																		<a href="#aboutme" role="tab" data-toggle="tab">
																			<i class="material-icons">account_circle</i>
																			Summary
																		</a>
																	</li>
																	<li >
																		<a href="#strengths" role="tab" data-toggle="tab">
																			<i class="material-icons">fitness_center</i>
																			Strengths
																		</a>
																	</li>
																	<li >
																		<a href="#skills" role="tab" data-toggle="tab">
																			<i class="material-icons">flare</i>
																			Skills
																		</a>
																	</li>
																	<li>
																		<a href="#certifications" role="tab" data-toggle="tab">
																			<i class="material-icons">account_balance</i>
																			Certifications
																		</a>
																	</li>
																	<!-- <li>
																		<a href="#experience" role="tab" data-toggle="tab">
																			<i class="material-icons">business_center</i>
																			Experience
																		</a>
																	</li> -->
															</ul>
													</div>
															<div class="tab-content gallery">
																	<div class="tab-pane active" id="aboutme">
											                <div class="row">
																					<div class="col-md-8 col-md-offset-2">
																							<ul>
																									<li><span>A sound IT professional with good experience in Sofware Architecture Design, Development and Project Management across various Sofware applications using NodeJs, Java and J2EE technologies, including web based, mobile apps and standalone deployable applications.</span></li>
																									<li><span>Good Exposure with muliple Cloud vendors/technologies like Google Cloud Platorm, Amazon AWS, IBM Cloud Platorm and Microsof Azure.</span></li>
																									<li><span>Expertise on IBM Cloud Platform (PaaS), Google (GCP) and Amazon (AWS) Cloud infrastructure, Google Apps, Datastore (NoSql DB), Cloud Sql, Google Cloud Storage, EC2, Cloudfront, Cloudformation, S3, Elastic Beanstalk, SNS, Google Cloud Platform including Google Appengine + Google Compute Engine.</span></li>
																									<li><span>Pre-Sales Support – working together with Partners to build and showcase demos to their end customers.</span></li>
																									<li><span>Aptitude to understand the requirements of the Client and the team to create a strong track record of delivering customer-responsive services and IT projects within demanding time and cost deadlines with highest quality.</span></li>
																									<li><span>Proven record of aligning project solutions to strategic business objectives of the company to usher bottom-line performance; extensive knowledge of requirement analysis, architecture, design, implementation, testing and integration using AGILE methodologies.</span></li>
																									<li><span>Effectively handled resources (manpower & infrastructure) and requirements acquisition & converting them into Requirement Specification Documents including creation of Technical Design Documents.</span></li>
																									<li><span>Acknowledged team leader, trainer and motivator having ability to integrate team efforts to maximize team productivity.</span></li>
																									<li><span>Travelled to US, Europe and APAC for project requirement gathering, resources enablement and as a speaker in Events and Conferences.</span></li>
																							</ul>
																					</div>
					                            </div>
																			<div class="row">
																					<div class="col-md-8 col-md-offset-2">
																						<disqus [identifier]="disqusConfig.pageIdentifier" [url]="disqusConfig.pageUrl" [lang]="'en'" ></disqus>
																					</div>
																			</div>
					                        </div>
																	<div class="tab-pane" id="strengths">
																		<div class="row">
																				<div class="col-md-8 col-md-offset-2">
																					<ul>
																							<li><span>IBM Cloud Platform / Google Cloud Platform (GCP) / AWS / Softlayer</span></li>
																							<li><span>IBM Watson (AI + Machine Learning) / Google Machine Learning (Services available on GCP)</span></li>
																							<li><span>Cloud Technologies (IaaS, PaaS, SaaS).</span></li>
																							<li><span>NodeJs / Java / J2EE frameworks like Spring / Struts / EclipseLink/ Google Guice etc.</span></li>
																							<li><span>Internet of Things (IoT) - Both on hardware modules and software</span></li>
																							<li><span>Web Services (Both Soap and REST).</span></li>
																							<li><span>Front End Frameworks like Angular, Bootstrap, Grunt</span></li>
																							<li><span>Mobile App development using Ionic and Angular</span></li>
																					</ul>
																				</div>
																		</div>
																	</div>
																	<div class="tab-pane" id="skills">
																		<div class="row">
																				<div class="col-md-8 col-md-offset-2">
																						<h3> Fuctional Skills </h3>
																						<ul>
																								<li><span>Good exposure of 8+ years on Agile Methodologies</span></li>
																								<li><span>Continuous Integration using Jenkins/Hudson, Sonar, Cobertura, Jacoco, Nexus etc.</span></li>
																								<li><span>Test Driven Development (TDD approach)</span></li>
																						</ul>
																						<h3> Technical Skills </h3>
																						<ul>
																							<li><strong>IBM Cloud Platform: </strong><span>Watson (AI) Services, Cloudant NoSQL, Docker Containers, Object Storage, IBM Watson IoT Platform, Softlayer (IaaS), DevOps etc.</span></li>
																							<li><strong>Google Cloud Platform: </strong><span>Google Appengine, Google Cloud Storage, Google Compute Engine, Google APIs, Google CloudSQL, Datastore (NoSql), BigQuery, Google Maps, Google Adwords, Google Adsense, Google Guice</span></li>
																							<li><strong>Amazon Cloud (AWS): </strong><span>EC2, S3 Buckets, CloudFront (CDN), Cloud Formation, ElasticBeanstalk, DynmoDB, Route 53, Elastic Transcoder, Cloud Watch, SNS</span></li>
																							<li><strong>Mobile App Development: </strong><span>Android, iOS, Windows apps using Cordova/Phonegap, Ionic and Angular</span></li>
																							<li><strong>Internet of Things (IoT): </strong><span>Arduino, Raspberry Pi, ESP8266, ESP32, ARM Mbed Microcontrollers, XBEE, LORA,
MQTT protocol, Current Sensor, Temperature Sensor, Humidity Sensor and more</span></li>
																								<li><strong>Operating Systems: </strong><span>Windows, Linux, Ubuntu, Mac OS</span></li>
																								<li><strong>Languages: </strong><span>NodeJs, Java/J2EE, JavaScript, PL/SQL, SQL</span></li>
																								<li><strong>Frameworks: </strong><span>Google Guice, Spring, Struts, Hibernate, Swing, EclipseLink, JDO, Objectify, AJAX
Push, Webservices(REST + SOAP), JAXB 2.0, Jersey, OAuth 1.0, OAuth 2.0, Google APIs, Amazon AWS APIs, Node.js, MQTT </span></li>
																								<li><strong>Databases: </strong><span>H2, MySQL, Oracle 8i, Oracle 10g, DB2, MongoDB, Cloudant, Datastore, NoSql Databases</span></li>
																								<li><strong>Servers: </strong><span>Apache, Tomcat, Weblogic, Websphere, Google Appengine (PaaS), Wowza Media Server, Adobe Flash Media Server, Red5 Server</span></li>
																								<li><strong>Frontend Technologies: </strong><span>JQuery, Angular, Yeoman, Bootstrap, HTML5, Stylesheets, JavaScript, Ionic</span></li>
																								<li><strong>Configuration Management: </strong><span>Maven, ANT, Grunt, CVS, SVN, Git, Hudson, Jenkins, Nexus, Sonar, Jacoco</span></li>
																								<li><strong>Tools & Utilities: </strong><span>Docker, WSAD, Eclipse, IBM DB2, MySql Workbench,Toad, EditPlus,Notepad++, putty, puttyGen, WinSCP, AgileZen, Jira, Webstorm, Atom</span></li>
																						</ul>
																				</div>
																		</div>
																	</div>
																	<div class="tab-pane" id="certifications">
																		<div class="row">
																				<div class="col-md-8 col-md-offset-2">
																					<h3> Trainigs and Certifications </h3>
																					<a href="https://www.youracclaim.com/users/sinny777" target="_blank" class="btn btn-primary btn-xs">Badges and Certifications</a>
																						<ul>
																								<li>IBM Certified Application Developer - Cloud Platform</li>
																								<li>IBM Certified Application Developer - Watson V3 Certification</li>
																								<li>Softlayer Fundamentals training and Design Workshop 2016</li>
																								<li>Attended Training in JAVA/Oracle (Like JavaFx, Servlets 3.1, Ajax Push, Cloud Computing), 2010</li>
																								<li>Sun Tech Days (Hyderabad) by Sun/Oracle.</li>
																								<li>Quality Assurance Training, 2004</li>
																						</ul>
																				</div>
																		</div>
																	</div>
															</div>


													</div>
										</div>
								</div>

							</div>

					</div>

		</div>
